<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/css/common/header.css">
    <script src="https://kit.fontawesome.com/495cfd393e.js" crossorigin="anonymous"></script>
    <script defer src="/javascript/user.js"></script>
</head>
<body>
<header class="header-wrap">
    <div class="header">
        <div class="headerMain">
            <div class="logo">
                <a id="home" href="/"><img class="logoImg" src="/images/logo.png"/><span>행복한 미식 생활, 건강한 예약 문화</span></a>
            </div>
            <div class="login">
                <ul class="loginMenu">
                    <li class="non-side-bar"><span id="username" class="text-white me-2">username</span></li>
                    <li id="btnLogin" class="non-side-bar">로그인</li>
                    <li id="logout"><a href="/logout">로그아웃</a></li>
<!--                    <li id="join"><a href="/join">회원가입</a></li>-->
                    <li id="btnSetting"><a href="/setting">설정</a></li>
                </ul>
            </div>
        </div>
        <hr class="centerLine"/>
        <div class="headerCategory">
            <div class="category">
                <ul class="categoryList">
                    <li><a href="/timeline">타임라인</a></li>
                    <li><a href="/mydining/planned">마이다이닝</a></li>
                    <li><a role="button" id="mypage" href="/mypage">마이페이지</a></li>
                </ul>
            </div>
            <div class="searchBar">
                <form action="/shop/search/list" type="GET">
                    <div class="searchWarp">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input class="searchText" name="resaBisName" type="text" placeholder="레스토랑명검색">
                    </div>
                </form>
            </div>
        </div>
        <hr class="lastLine">
    </div>
    <!-- 스크롤시 나타나는 헤더 -->
    <div class="small_header">
        <div class="small_headerCategory">
            <div class="small_category">
                <ul class="small_categoryList">
                    <li class="small_logo">
                        <a href="/"><img class="small_logoImg" src="/images/small_logo.svg"/></a>
                    </li>
                    <li><a href="/timeline">타임라인</a></li>
                    <li><a href="/mydining/planned">마이다이닝</a></li>
                    <li><a href="/mypage">마이페이지</a></li>
                </ul>
            </div>
            <div class="small_searchBar">
                <form action="/shop/search/list" type="GET">
                    <div class="small_searchWarp">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input class="searchText" type="text" placeholder="레스토랑명검색">
                    </div>
                </form>
            </div>

        </div>
        <hr class="lastLine">
        <div class="small_dropdown">
            <div class="drop_timeline">
                <ul>
                    <li style="font-weight: 700"><a href="/timeline">타임라인</a></li>
                    <li><a href="/timeline">추천</a></li>
                    <li><a href="/timeline">팔로잉</a></li>
                </ul>
            </div>
            <div  class="drop_mydining">
                <ul>
                    <li style="font-weight: 700"><a href="/mydining/planned">마이다이닝</a></li>
                    <li><a href="/mydining/planned">나의 예약</a></li>
                    <li><a href="/mydining/emptySlot">나의 알림</a></li>
                </ul>
            </div>
            <div  class="drop_mypage">
                <ul>
                    <li style="font-weight: 700"><a href="/mypage">마이페이지</a></li>
                    <li><a href="/mypage/newSNS">나의 SNS</a></li>
                    <li><a href="/mypage/review">나의 리뷰</a></li>
                    <li><a href="/mypage/collection">나의 컬렉션</a></li>
                </ul>
            </div>
            <div class="drop_cs">
                <ul>
                    <li style="font-weight: 700"><a href="/notice/">고객센터</a></li>
                    <li><a href="/support/contact">문의하기</a></li>
                    <li><a href="/support/improve">개선제안</a></li>
                    <li><a href="/report/review/list">신고내역</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="dropdown">
        <div class="drop_timeline">
            <ul>
                <li style="font-weight: 700"><a href="/timeline">타임라인</a></li>
                <li><a href="/timeline">추천</a></li>
                <li><a href="/timeline">팔로잉</a></li>
            </ul>
        </div>
        <div  class="drop_mydining">
            <ul>
                <li style="font-weight: 700"><a href="/mydining/planned">마이다이닝</a></li>
                <li><a href="/mydining/planned">나의 예약</a></li>
                <li><a href="/mydining/emptySlot">나의 알림</a></li>
            </ul>
        </div>
        <div  class="drop_mypage">
            <ul>
                <li style="font-weight: 700"><a href="/mypage">마이페이지</a></li>
                <li><a href="/mypage/newSNS">나의 SNS</a></li>
                <li><a href="/mypage/review">나의 리뷰</a></li>
                <li><a href="/mypage/collection">나의 컬렉션</a></li>
            </ul>
        </div>
        <div class="drop_cs">
            <ul>
                <li style="font-weight: 700"><a href="/notice">고객센터</a></li>
                <li><a href="/support/contact">문의하기</a></li>
                <li><a href="/support/improve">개선제안</a></li>
                <li><a href="/report/review/list">신고내역</a></li>
            </ul>
        </div>
    </div>
</header>

<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {

    // 로그인 버튼 클릭
    $("#btnLogin").click(function(e) {

      e.preventDefault();

      $.ajax({
        url: '/user/loginView',
        type: 'GET',
        success: function(response) {

          $('body').html(response);

        },
        error: function(xhr, status, error) {
          console.error("Error:", status, error);
        }
      });
    });

    // 설정 버튼 클릭
    $("#btnSetting").click(function(e) {

      e.preventDefault();

      $.ajax({

        url: '/user/setting',
        type: 'GET',
        success: function(response) {

          $('body').html(response);

        },
        error: function(xhr, status, error) {
          console.error("Error:", status, error);
        }

      });
    });

  });

</script>

</body>
</html>