<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/templates/header.css">
    <script src="https://kit.fontawesome.com/495cfd393e.js" crossorigin="anonymous"></script>
    <script defer src="/javascript/templates/header.js"></script>
    <script src="/javascript/common/headerEvent.js"></script>

    <style>
        .header-wrap{
            position: fixed;
            width: 100%;
            background-color: #fff;
            z-index: 1000;
            top: 0; /* 화면 상단에 고정 */
            left: 0; /* 화면 왼쪽에 고정 */
            transition: top 0.3s ease-in-out;
        }

        .small_header {
            position: fixed;
            width: 100%;
            background-color: #fff;
            z-index: 1000;
            top: -100%; /* 초기 위치 */
            left: 0;
            transition: top 0.3s ease-in-out; /* 부드러운 전환 효과 */
        }

        /* 화면이 작은 경우 small_header를 활성화 */
        @media screen and (max-width: 768px) {
            .small_header {
                top: 0; /* 화면에 나타나게 설정 */
            }
            .header {
                top: -100%; /* header는 화면에서 숨김 */
            }
        }

    </style>

</head>
<body>
<header th:fragment="header" class="header-wrap">
    <div class="header">
        <div class="headerMain">
            <div class="logo">
                <a id="home" href="/">
                    <img class="logoImg" src="/images/common/logo.png"/>
                </a>
            </div>

            <div th:if="${session.user != null}" class="login">
                <ul class="loginMenu">
                    <li class="non-side-bar">
                        <a th:href="${(session.user != null) ? 'https://placehere.store/react/chat?name='+session.user.username+'&role='+session.user.role : '/user/login'}">
                            <img src="/images/store/icon_chat.png"/>
                        </a>
                    </li>
                    <li class="non-side-bar" th:if="${session.user.role == 'ROLE_USER'}">
                        <a class="getStoreLikeList" style="cursor: pointer;">
                            <img src="/images/store/icon_heart_red.png"/>
                        </a>
                    </li>
                    <li class="non-side-bar">
                        <span style="font-weight: bold;color: black;" id="username" class="text-white me-2">
                            [[ ${session.user.username} ]]
                        </span>
                    </li>
                    <li id="/user/setting" class="non-side-bar">
                        <a href="/user/setting">
                            <img class="logout" src="/images/common/settings.png" />
                        </a>
                    </li>
                    <li id="logout">
                        <a href="/user/logout">
                            <img style="margin-left:5px;" class="logout" src="/images/common/logout.png" />
<!--                            로그아웃-->
                        </a>
                    </li>
                </ul>
            </div>

            <div th:if="${session.user == null}" class="login">
                <ul class="loginMenu">
                    <li id="login" class="non-side-bar">
<!--                        <a href="/user/login"><img style="margin-left:5px; margin-top:5px;" class="login" src="/images/common/login.png" />로그인</a>-->
                        <a href="/user/login"><img style="margin-left:5px; margin-top:5px;" class="login" src="/images/common/login.png" /></a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="centerLine"/>
        <div class="headerCategory">
            <div class="category">
                <ul class="categoryList">
                    <li><a href="/searchStore">가게 검색</a></li>
                    <li><a href="/review/getReviewList">커뮤니티</a></li>
                    <li>
                        <div th:if="${session.user != null}" >
                            <a th:if="${session.user.role == 'ROLE_USER'}" href="/reservation/getRsrvUserList">예약</a>
                            <a th:if="${session.user.role == 'ROLE_STORE'}" href="/reservation/getRsrvStoreList">예약</a>
                        </div>
                    </li>
                    <th:block th:if="${session.user != null and (session.user.role == 'ROLE_USER' or session.user.role == 'ROLE_POINT')}">
                        <li><a href="/product/listProduct">포인트 상점</a></li>
                    </th:block>
                    <th:block th:if="${session.user != null and session.user.role == 'ROLE_STORE'}">
                        <li><a href="/store/getMyStore">가게관리</a></li>
                    </th:block>
                </ul>
            </div>
        </div>
        <hr class="lastLine">
    </div>
    <!-- 스크롤시 나타나는 헤더 -->
    <div class="small_header">
        <div class="small_headerCategory">
            <div class="small_category">
                <ul class="small_categoryList">
                    <li class="small_logo">
                        <a href="/"><img class="logoImg" src="/images/common/logo.png" style="transform: scale(0.8);transform-origin: center;"/></a>
                    </li>
                    <li><a href="/searchStore">가게 검색</a></li>
                    <li><a href="#">커뮤니티</a></li>
                    <li>
                        <div th:if="${session.user != null}" >
                            <a th:if="${session.user.role == 'ROLE_USER'}" href="/reservation/getRsrvUserList">예약</a>
                            <a th:if="${session.user.role == 'ROLE_STORE'}" href="/reservation/getRsrvStoreList">예약</a>
                        </div>
                    </li>
                    <th:block th:if="${session.user != null and (session.user.role == 'ROLE_USER' or session.user.role == 'ROLE_POINT')}">
                        <li><a href="/product/listProduct">포인트 상점</a></li>
                    </th:block>
                    <th:block th:if="${session.user != null and session.user.role == 'ROLE_STORE'}">
                        <li><a href="/store/getMyStore">가게관리</a></li>
                    </th:block>
                </ul>
            </div>

        </div>
        <hr class="lastLine">
    </div>
</header>
</body><br/><br/><br/><br/><br/><br/>
</html>
