<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="importFragment">

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- 구글 jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- 템플릿 -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Roboto|Noto+Sans+KR:300,400,500,700&amp;display=block&amp;subset=korean"
              as="style" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/495cfd393e.js" crossorigin="anonymous"></script>

        <!-- 공통 제작 css 적용 -->
        <link rel="stylesheet" href="/css/common/common.css">

        <script type="text/javascript">

          $(function () {
            console.log("import");
          })

        </script>

    </head>


</html>