<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 등록</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script type="text/javascript">

        $(function() {
            $("button.btn-primary").on("click", function() {
                fncAddProduct();
            });
        });

        $(function() {
            $("button.btn-confirm").on("click", function () {
                history.go(-1);
            });
        });

        function fncAddProduct() {
            var prodName = $("input[name='prodName']").val();
            var prodDetail = $("input[name='prodDetail']").val();
            var prodImg1 = $("input[name='prodImg1']").val();
            var prodPrice = $("input[name='prodPrice']").val();
            var prodCateNo = $("select[name='prodCateNo']").val();
            // var prodCateName = $("input[name='prodCateName']").val();

            if (prodName == null || prodName.length < 1) {
                alert("상품명은 반드시 입력하여야 합니다.");
                return;
            }

            if (prodName.length > 20) {
                alert("상품명은 20자까지 입력 가능합니다.");
                return;
            }

            if (prodDetail == null || prodDetail.length < 1) {
                alert("상품상세정보는 반드시 입력하여야 합니다.");
                return;
            }

            if (prodDetail.length > 100) {
                alert("상품 설명은 100자까지 입력 가능합니다.");
                return;
            }

            if (prodImg1 == null || prodImg1.length < 1) {
                alert("상품 대표 이미지는 반드시 입력하셔야 합니다.");
                return;
            }
            if (prodPrice == null || prodPrice.length < 1) {
                alert("가격은 반드시 입력하셔야 합니다.");
                return;
            }
            if (prodCateNo == null || prodCateNo.length < 1) {
                alert("상품 카테고리 번호는 반드시 선택하셔야 합니다.");
                return;
            }

            // if (prodCateName == null || prodCateName.length < 1) {
            //     alert("상품 카테고리명은 반드시 입력하셔야 합니다.");
            //     return;
            // }

            $("form").attr("method", "POST")
                .attr("action", "/product/addProduct")
                .attr("enctype", "multipart/form-data")
                .submit();
        }
    </script>
</head>
<body>

    <h1>상품 등록</h1>

    <form>
        <label>
            <strong>상품명 *</strong><br/>
            <input type="text" name="prodName" placeholder="20자 이내 (공백 포함)">
        </label>

        <br/><br/>

        <label>
            <strong>상품 설명 *</strong><br/>
            <input type="text" name="prodDetail" placeholder="100자 이내 (공백 포함)">
        </label>

        <br/><br/>

        <label>
            <strong>상품 가격 *</strong><br/>
            <input type="text" name="prodPrice" placeholder="숫자만 입력 가능합니다">
        </label>

        <br/><br/>

        <label>
            <strong>판매 가능 상태 *</strong><br/>
            <input type="radio" name="prodStatus" value="1" checked>구매 가능
            &nbsp;
            <input type="radio" name="prodStatus" value="0">판매 중지
        </label>

        <br/><br/>

        <label>
            <strong>상품 대표 이미지 *</strong><br/>
            <input type="text" name="prodImg1" placeholder="1장 필수">
<!--            <input type="file" name="prodImg1" accept="image/*">-->
        </label>

        <br/><br/>

        <label>
            <strong>상품 상세 이미지</strong><br/>
            <input type="text" name="prodImg2" placeholder="1장 선택">
            <input type="text" name="prodImg3" placeholder="1장 선택">
<!--            <input type="file" name="prodImg2" accept="image/*">-->
<!--            <input type="file" name="prodImg3" accept="image/*">-->
        </label>

        <br/><br/>

        <label>
            <strong>상품 카테고리 *</strong><br/>
            <select class="form-control" name="prodCateNo" id="prodCateNo">
                <option value="0">상품 카테고리</option>
                <option value="1">배달 상품권</option>
                <option value="2">베이커리 교환권</option>
                <option value="3">카페 교환권</option>
                <option value="4">아이스크림 교환권</option>
                <option value="5">치킨 교환권</option>
                <option value="6">버거/피자 교환권</option>
                <option value="7">편의점 교환권</option>
            </select>
        </label>

<!--        <label>-->
<!--            <strong>상품 카테고리 번호 *</strong><br/>-->
<!--            <input type="text" name="prodCateNo" placeholder="숫자만 입력 가능합니다">-->
<!--        </label>-->

<!--        <br/><br/>-->

<!--        <label>-->
<!--            <strong>상품 카테고리명 *</strong><br/>-->
<!--            <input type="text" name="prodCateName" placeholder="입력하세요">-->
<!--        </label>-->

        <br/><br/><br/>

        <button type="submit" class="btn-primary">등&nbsp;록</button>
        <button type="button" class="btn-confirm" >취&nbsp;소</button>

    </form>
</body>
</html>