<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PlaceHere</title>
    <link rel="stylesheet" href="/css/templates/style.css">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link href="/css/templates/mypage.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/templates/header.css">
    <link rel="stylesheet" href="/css/templates/collection_detail.css">
    <link rel="stylesheet" href="/css/templates/regist_hp.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <div id="ch-plugin" class="notranslate">
        <div id="ch-plugin-core"></div>
        <div id="ch-plugin-script" style="display:none" class="ch-messenger-hidden">
            <iframe id="ch-plugin-script-iframe"
                    style="position:relative!important;height:100%!important;width:100%!important;border:none!important;"></iframe>
        </div>
    </div>

    <link th:insert="~{common/import :: importFragment}">

    <script src="/javascript/pointShop/getProduct.js"></script>

    <link rel="stylesheet" href="/css/pointShop/getProduct.css">
</head>
<body>
<br/><br/>
<div id="root">
    <!--<div class="point-header">-->
    <!--    <div th:insert="~{common/header}" style="z-index: 1000;"></div>-->
    <!--    <div th:insert="~{pointShop/menuBar}"></div>-->
    <!--    <br/><br/>-->
    <!--    <h1>상품 상세 정보</h1>-->
    <!--</div>-->

    <div class="css-833hqy ecbxmj4" >
        <div class="side" style="margin-top:80px;position:fixed; margin-left: 180px;">
            <div class="css-1v4whg ecbxmj3" style="font-weight: 600; font-size: 28px; line-height: 35px; color: rgb(51, 51, 51); height: 75px;
    padding: 5px 0px 35px 1px;">&nbsp;상품 정보</div>
            <div th:replace="~{pointShop/getPointShopAside :: getPointShopAside}"></div>
        </div>
    </div>

    <div class="wrapper" id="wrapperDiv" style="max-width: 50%;margin: 0 auto;width: auto;position: relative;background: #fff;min-height: 100%;">
        <!--<div class="header-line"></div>-->
        <main id="main">
            <section class="restaurant-detail-header mb-40" style="position: relative; z-index: 0;">
                <div class="video-swiper-wrapper">
                    <div class="swiper swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
                        <div class="img-container" style="position: relative; object-fit: contain;">
                            <div class="img swiper-lazy swiper-lazy-loaded" style="display: flex; justify-content: center; align-items: center; height: 50vh;">
                                <img class="guide-img" style="width: 50%; max-height:500px; display: block; "
                                     th:src="${url +'point/product/'+ product.prodImg1}">
                                <img th:if="${product.prodStatus == false}" style="display: flex; justify-content: center; align-items: center; padding-top: 100px; position: absolute; top: 10%; left: 50%; transform: translateX(-50%); width: 15%;"
                                     src="/file/pointShop/icon_X_circle.png">
                            </div>
                        </div>
                    </div>
                    <th:block th:if="${session.user.role == 'ROLE_USER'}">
                        <a style="cursor: pointer;" id="cart" th:data-prod-no="${product.prodNo}" th:data-user-name="${username}" th:data-prod-status="${product.prodStatus}"
                           class="btn-cart">장바구니</a>
                        <a style="cursor: pointer" id="like"
                           th:class="${isWishExist == 0 ? 'btn-like-inactive' : 'btn-like-active'}"
                           th:data-prod-no="${product.prodNo}" th:data-user-name="${username}">찜하기</a>
                    </th:block>
                </div>
            </section>
            <section class="section">
                <div class="container gutter-sm">
                    <div class="restaurant-summary mb-20" style="margin-left: 0;">
                        <div style="display: inline-flex; align-items: center">
                            <h2 id="resa_bis_name" class="name" th:text="${product.prodName}" style="font-size: 30px;">
                                상품명
                            </h2>
                            <span style="padding-left: 30px; font-size: 15px;"
                                  th:text="${product.prodCateName}"></span>
                        </div>
<!--                        <p class="slogan" style="line-height: 1.5; font-size: 25px;"-->
<!--                           th:text="'&ensp;'+${product.prodPrice}+P">-->
<!--                            상품 가격-->
<!--&lt;!&ndash;                            th:src="/file/pointShop/nimbus_money.png"&ndash;&gt;-->
<!--                        </p>-->
                        <p class="slogan" style="line-height: 1.5; font-size: 25px;"
                           th:text="'&ensp;'+${#numbers.formatInteger(product.prodPrice, 3, 'COMMA')+ 'P'}">
                            상품 가격
                            <!--                            th:src="/file/pointShop/nimbus_money.png"-->
                        </p>
                        <div>
                            <p class="slogan" th:class="${product.prodStatus == true ? 'available' : 'unavailable'}"
                               th:text="'&ensp;'+${product.prodStatus == true ? '구매 가능' : '판매 중지'}"
                               style="display: inline-block; vertical-align: middle;">
                            </p>

                            <span class="button-container" th:if="${session.user.role == 'ROLE_USER' and product.prodStatus == true}"
                                  style="display: inline-block; vertical-align: middle;">
                                <button class="css-18m884r e4nu7ef3" id="buy1" name="buyBtn" type="button" width="240" th:if="${product.prodStatus}"
                                        th:data-prod-no="${product.prodNo}"
                                        height="56" radius="3"
                                        style="margin-left:695px; margin-bottom: auto; margin-top: 0px; width: 100px; text-align: center; background-color: #4880FF;">
                                    <span class="css-ymwvow e4nu7ef1 submit-button-span">구매하기</span>
                                </button>
                            </span>
                            <span class="button-container" th:if="${session.user.role == 'ROLE_POINT'}"
                                  style="display: inline-block; vertical-align: middle;">
                                <button class="css-18m884r e4nu7ef3" id="edit1" name="editBtn" type="button" width="240"
                                        th:data-prod-no="${product.prodNo}"
                                        height="56" radius="3"
                                        style="margin-left:695px; margin-bottom: auto; margin-top: 0px; width: 100px; text-align: center; background-color: #4880FF;">
                                    <span class="css-ymwvow e4nu7ef1 submit-button-span">수&nbsp;정</span>
                                </button>
                            </span>
                        </div>

                        <!--                        <div>-->
<!--                        <p class="slogan"  th:class="${product.prodStatus == true ? 'available' : 'unavailable'}"-->
<!--                           th:text="'&ensp;'+${product.prodStatus == true ? '구매 가능' : '판매 중지'}">-->
<!--                        </p>-->
<!--                        <span  class="button-container" th:if="${session.user.role == 'ROLE_USER' and product.prodStatus == true}">-->
<!--                        <button class="css-18m884r e4nu7ef3" id="buy1" name="buyBtn" type="button" width="240" th:if="${product.prodStatus}" th:data-prod-no="${product.prodNo}"-->
<!--                                height="56" radius="3" style="margin-left:700px; margin-bottom: auto; margin-top: 10px; width: 100px; text-align: center;background-color: #4880FF;">-->
<!--                            <span class="css-ymwvow e4nu7ef1 submit-button-span">구매하기</span>-->
<!--                        </button>-->
<!--                        </span>-->
<!--                        </div>-->
                    </div>
                </div>
            </section>
            <hr class="separator">
            <section class="section pt-30 pb-25">
                <div class="container gutter-sm">
                    <div class="section-header">
                        <h3 class="section-title" style="font-size: 25px;">상세정보</h3>
                    </div>
                    <div class="section-body">
                        <div class="desc-blocks" style="word-break: break-word;">
                            <div class="desc-block">
                                <dl>
                                    <dt><a class="__toggle" style="font-size: 20px;">상품 설명</a></dt>
                                    <dd class="color-gray" th:text="${product.prodDetail}" style="font-size: 18px;">
                                        상품 설명
                                    </dd>
                                </dl>
                            </div><br/><br/>
<!--                            <div class="desc-block">-->
<!--                                <dl>-->
<!--                                    <dt><a class="__toggle">상품 가격</a></dt>-->
<!--                                    <dd class="color-gray" th:text="${product.prodPrice}+P">-->
<!--                                        상품 가격-->
<!--                                    </dd>-->
<!--                                </dl>-->
<!--                            </div><br/><br/>-->
                            <div class="expandable-section">
                                <button th:if="${product.prodImg2 != null and product.prodImg2 != '' || product.prodImg3 != null and product.prodImg3 != ''}" class="expand-btn" onclick="toggleContent()">자세히 보기 v</button>
                                <div class="content" style="display: none;">
                                <dl>
<!--                                    <dt><a class="__toggle" style="font-size: 20px;">상세 이미지</a></dt><br/>-->
                                    <div style="text-align: center;">
                                    <!--            <span class="value" th:text="${product.prodImg2}">상품 상세 이미지1</span>-->
                                    <img style="object-fit: contain; width: 100%; max-height:3000px; " th:if="${product.prodImg2 != null and product.prodImg2 != ''}" th:src="${url +'point/product/'+ product.prodImg2}" alt="상품 상세 이미지"><br/><br/>
                                    <!--            <span class="value" th:text="${product.prodImg3}">상품 상세 이미지2</span>-->
                                    <img style="object-fit: contain; width: 100%; max-height:3000px; " th:if="${product.prodImg3 != null and product.prodImg3 != ''}" th:src="${url +'point/product/'+ product.prodImg3}" alt="상품 상세 이미지">
                                    </div>
                                </dl>
                                </div>
                            </div>
                            <div class="desc-block">
                                <div class="footer">
                                    <p>상품 구매 시 유의사항</p>
                                    <p>▪ 해당 상품은 교환권으로 구매 이후 환불이 불가능합니다.</p>
                                    <p>▪ PlaceHere 회원 탈퇴시 구매한 상품은 모두 삭제됩니다.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <div class="button-container">
<!--                <div th:if="${session.user.role == 'ROLE_USER' and product.prodStatus == true}" class="user">-->
<!--                    &lt;!&ndash;                    <button class="btn-primary buy" th:if="${product.prodStatus}" th:data-prod-no="${product.prodNo}">구매</button>&nbsp;&nbsp;&nbsp;&nbsp;&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <button class="btn-primary confirm">확인</button>&ndash;&gt;-->
<!--                    <div class="css-137ca2h e1utgeno0">-->
<!--                        <button class="css-18m884r e4nu7ef3" id="buy" name="buyBtn" type="button" width="240" th:if="${product.prodStatus}" th:data-prod-no="${product.prodNo}"-->
<!--                                height="56" radius="3" style="margin-bottom: auto; margin-top: 12px; width: 100px; text-align: center;background-color: #4880FF;">-->
<!--                            <span class="css-ymwvow e4nu7ef1 submit-button-span">구매하기</span>-->
<!--                        </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--                    </div>-->

<!--                </div>-->
                    <div class="css-137ca2h e1utgeno0">
                        <button class="css-18m884r e4nu7ef3" name="confirmBtn" type="button" width="240"
                                height="56" radius="3" style="margin-bottom: auto; margin-top: 12px; width: 100px; text-align: center;background-color: #4880FF;">
                            <span class="css-ymwvow e4nu7ef1 submit-button-span">돌아가기</span>
                        </button>
                    </div>

            </div><br/><br/>

            <hr class="separator">

            <section class="section pt-30 pb-30 section-overflow-hidden" th:if="${session.user.role == 'ROLE_USER'}">
                <div class="container gutter-sm">
                    <div class="section-header mb-30">
                        <h3 class="section-title __sm" style="font-size: 25px;">이 상품은 어떠세요?</h3>
                    </div>
                    <div class="section-body" style="overflow: hidden;">
                        <div id="shop-notice-list" class="v-scroll">
                            <div class="v-scroll-inner">
                                <div class="__restaurant-notice-v2"
                                     style="display: flex; flex-wrap: nowrap;">
                                    <div class="swiper-slide" style=" margin-right: 10px;">
                                        <article class="__restaurant-notice-v2-item">
                                            <div class="__notice-content">
                                                <div class="__pic">
                                                    <div class="img"></div>
                                                </div>
<!--                                                <div class="product-list" >-->
<!--                                                    <div th:each="product : ${productList}" class="product-card" th:data-prod-no="${product.prodNo}">-->
<!--                                                        <div class="product-img">-->
<!--                                                            &lt;!&ndash;                                <img th:src="${product.prodImg1}" alt="상품 대표 이미지">&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                <img th:src="@{${product.prodImg1}}" alt="상품 대표 이미지">&ndash;&gt;-->
<!--                                                            <img th:src="@{/file/pointShop/delivery.png}" alt="상품 대표 이미지">-->
<!--                                                            &lt;!&ndash;                                <img th:src="/WorkSpace/placeHere/server/src/main/resources/static/file/pointShop/0.png">&ndash;&gt;-->
<!--                                                        </div>-->
<!--                                                        <div class="product-info">-->
<!--                                                            <p th:text="${product.prodCateName}">상품 카테고리</p>-->
<!--                                                            <h3 th:text="${product.prodName}">상품명</h3>-->
<!--                                                            <p style="color: #FB5555; font-weight: bold;" th:text="${product.prodPrice} + 'P'">상품 가격</p>-->
<!--                                                        </div>-->
<!--                                                        <div class="product-status" th:class="${product.prodStatus == true ? 'available' : 'unavailable'}">-->
<!--                                                            <span th:text="${product.prodStatus == true ? '구매 가능' : '판매 중지'}"></span>-->
<!--                                                        </div><br/>-->
<!--                                                        <div th:if="${session.user.role == 'ROLE_POINT'}" class="user">-->
<!--                                                            &lt;!&ndash;                            <div class="product-actions">&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                <button class="btn-primary view" th:data-prod-no="${product.prodNo}">보기</button>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                <button class="btn-primary edit" th:data-prod-no="${product.prodNo}">수정</button>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                            <div th:if="${session.user.role == 'ROLE_USER'}" class="user">&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                <div class="product-actions">&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                    <button class="btn-primary view" th:data-prod-no="${product.prodNo}">보기</button>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                                                        </div>-->
<!--                                                    </div>-->
                                                <div class="__desc" th:each="products : ${productList}"  th:if="${products.prodStatus == true and products.prodNo != product.prodNo}" th:data-prod-no="${products.prodNo}">
                                                    <div class="news-item">
                                                        <img th:src="${url +'point/product/'+ products.prodImg1}" width="300" height="300" style="padding: 5px;align-items: self-end;">
                                                        <p th:text="${products.prodCateName}" style="font-size: 15px;">상품 카테고리</p>
                                                        <p th:text="${products.prodName}" style="font-weight: bold; font-size: 22px;">상품명</p>
                                                        <p th:text="${#numbers.formatInteger(products.prodPrice, 3, 'COMMA')+ 'P'}" style="font-size: 17px; color: #FB5555;">상품 가격</p>
                                                        <p th:class="${products.prodStatus == true ? 'available'  : 'unavailable'}"
                                                           th:style="${products.prodStatus == true ? 'color: green; font-weight: bold;' : 'color: red; font-weight: bold;'}"
                                                                th:text="${products.prodStatus == true ? '구매 가능' : '판매 중지'}" style="font-size: 17px;">상품 가격</p>
<!--                                                        <div class="css-137ca2h e1utgeno0">-->
<!--                                                            <button class="css-18m884r e4nu7ef3" name="viewBtn" type="button" width="240" th:data-prod-no="${products.prodNo}"-->
<!--                                                                    height="56" radius="3" style="margin-bottom: auto; margin-top: 12px; width: 100px; text-align: center;background-color: #4880FF;">-->
<!--                                                                <span class="css-ymwvow e4nu7ef1 submit-button-span">보&nbsp;기</span>-->
<!--                                                            </button>-->
                                                        <br/><br/><br/>
<!--                                                        <button type="button" class="btn btn-default" name="viewBtn" th:data-prod-no="${products.prodNo}" style=" background-color: #4880FF; color: white;">보기</button>&nbsp;-->
<!--                                                        </div>-->
                                                    </div>
                                                </div>
                                            </div>
<!--                                            </div>-->
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>
    </div>
</div>
</body>
</html>
