<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.na/thymeleaf/layout"
      layout:decorate="~{layouts/default}" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PlaceHere</title>
  <link th:insert="~{common/import :: importFragment}">

  <link rel="stylesheet" href="/css/templates/collection_detail.css">
  <link rel="stylesheet" href="/css/templates/regist_hp.css">
  <link href="/css/templates/mypage.css" rel="stylesheet">


  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

  <script src="/javascript/pointShop/updateProduct.js"></script>



  <style>
    .form-group.button-group {
      text-align: center;
    }

    .btn-primary, .btn-confirm {
      padding: 10px 20px;
      font-size: 1rem;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      margin-top: 10px;
    }

    [type="radio"]:checked {
      /* min-width: 24px;
      min-height: 24px;
      display: inline-block;
      position: relative;
      border-radius: 50%;
      background-color: #ff3d00; */
      transition: border 0.5s ease-in-out;

      /* border: 0.4em solid tomato; */
      /*border: 0.4em solid #ff3d00;*/
      border: 0.4em solid #4880FF;
    }

    /*.btn-primary {*/
    /*  background-color: #0066cc;*/
    /*  color: white;*/
    /*  margin-right: 10px;*/
    /*}*/

    /*.btn-primary:hover {*/
    /*  background-color: #005bb5;*/
    /*}*/

    /*.btn-confirm {*/
    /*  background-color: #e0e0e0;*/
    /*  color: #333;*/
    /*}*/

    /*.btn-confirm:hover {*/
    /*  background-color: #d0d0d0;*/
    /*}*/

  </style>


</head>
<body>

    <div id="root">

        <div class="css-833hqy ecbxmj4" style="padding-left: 10%;margin-top: 20px;position: sticky">
            <div class="side" style="margin-top: 80px;">
                <div class="css-1v4whg ecbxmj3">&nbsp;&nbsp;상품 관리</div>
                <div th:replace="~{pointShop/getPointShopAside :: getPointShopAside}"></div>
            </div>
        </div>

      <form>

        <input type="hidden" name="prodNo" th:value="${product.prodNo}">

        <div class="wrapper">

          <div class="css-pculus e1ovi4141">
            <div class="css-o5dw7d e1ovi4140">상품 수정</div>

            <div class="css-mhmtvt e15so55l1">
              <div class="css-rb0i47 e1yyjjij1">
                <span class="css-qq9ke6 e1yyjjij0">*</span> 필수입력사항
              </div><br/><br/>

              <div class="css-y8aj3r eo6ykj40">

                <div class="css-1pjgd36 e744wfw6">
                  <div class="css-1y8737n e744wfw5">
                    <label class="css-1obgjqh e744wfw4" for="prodName">
                      상품명
                      <span class="css-qq9ke6 e744wfw0">*</span>
                    </label>
                  </div><br/><br/>
                  <div class="css-82a6rk e744wfw3">
                    <div class="css-jmalg e1uzxhvi6">
                      <div class="css-176lya2 e1uzxhvi3 under-name-block">
                        <input id="prodName" name="prodName" th:value="${product.prodName}"
                               placeholder="상품명을 입력하세요." type="text"
                               class="css-1bkd15f e1uzxhvi2">
                      </div>
                      <p class="font-12 color-gray mt-10" id="duplicateResult">20자 이내로 입력해주세요.</p>
                    </div>
                  </div>
                </div>

                <div class="css-1pjgd36 e744wfw6">
                  <div class="css-1y8737n e744wfw5">
                    <label class="css-1obgjqh e744wfw4" for="prodDetail">상품 설명
                      <span class="css-qq9ke6 e744wfw0">*</span></label>
                  </div>
                  <div class="css-82a6rk e744wfw3">
                    <div class="css-jmalg e1uzxhvi6">
                      <div class="css-176lya2 e1uzxhvi3 password-block">
                                                <textarea id="prodDetail" name="prodDetail" th:value="${product.prodDetail}" th:text="${product.prodDetail}"
                                                          class="css-1bkd15f e1uzxhvi2" placeholder="상품 설명을 입력하세요. 200자 이내"
                                                          rows="20" style="resize: none; height: 100px"></textarea>
                      </div>
                    </div>
                  </div>
                </div>

                <br/><br/><br/><br/><br/><br/>

                <div class="css-1pjgd36 e744wfw6">
                  <div class="css-1y8737n e744wfw5"><label class="css-1obgjqh e744wfw4" for="prodPrice">상품 가격<span
                          class="css-qq9ke6 e744wfw0">*</span></label></div>
                  <div class="css-82a6rk e744wfw3">
                    <div class="css-jmalg e1uzxhvi6">
                      <div class="css-176lya2 e1uzxhvi3 under-name-block">
                        <input  id="prodPrice" name="prodPrice" th:value="${product.prodPrice}"
                                placeholder="상품 가격을 입력하세요." type="text"
                                class="css-1bkd15f e1uzxhvi2">
                      </div>
                      <p class="font-12 color-gray mt-10">숫자만 입력 가능합니다.</p>
                    </div>
                  </div>
                </div><br/><br/>

                <div class="css-1pjgd36 e744wfw6">
                  <div class="css-1y8737n e744wfw5">
                    <label class="css-1obgjqh e744wfw4">상품 대표 이미지<span
                            class="css-qq9ke6 e744wfw0">*</span>
                      <p class="font-12 color-gray mt-10">1장 필수</p></label>
                  </div><br/><br/>
                    <div class="css-jmalg e1uzxhvi6">
                        <div class="css-176lya2 e1uzxhvi3 under-name-block">
                            <input type="file" accept="image/*" class="prodImg1" >
                            <input type="hidden" name="prodImg1" th:value="${product.prodImg1}">
                            <span class="font-12 color-gray mt-10">상품 대표 이미지를 골라주세요.</span>
<!--                            <img th:src="${url + product.prodImg1}" style="width:100px;height: 100px;">-->
                            <div id="prodImg1" style="display: none;">
                                <img class="prodImg1" alt="상품 대표 이미지" width="100" height="100">
                            </div>
                        </div>
                    </div><br/>
                </div><br/><br/><br/><br/>

                <div class="css-1pjgd36 e744wfw6">
                  <div class="css-1y8737n e744wfw5">
                    <label class="css-1obgjqh e744wfw4">상품 상세 이미지
                      <p class="font-12 color-gray mt-10">최대 2장</p>
                    </label>
                  </div>
                  <div class="css-jmalg e1uzxhvi6">
                    <div class="css-176lya2 e1uzxhvi3 under-name-block">
<!--                      <input type="file" accept="image/*" name="prodImg2" th:value="${product.prodImg2}">-->
                        <div class="css-176lya2 e1uzxhvi3 under-name-block">
                            <input type="file" accept="image/*" class="prodImg2">
                            <input type="hidden" name="prodImg2" th:value="${product.prodImg2}">
<!--                            <img th:if="${product.prodImg2 != null}" th:src="${url + product.prodImg2}" style="margin-left: 100px; width:100px;height: 100px;">-->
                        </div>
                        <div id="prodImg2" style="display: none;">
                            <img class="prodImg2" alt="상품 상세 이미지 1" width="100" height="100">
                        </div>
                    </div><br/><br/><br/><br/>
                      <div class="css-176lya2 e1uzxhvi3 under-name-block">
                          <input type="file" accept="image/*" class="prodImg3">
                          <input type="hidden" name="prodImg3" th:value="${product.prodImg3}">
<!--                          <img th:if="${product.prodImg3 != null or product.prodImg3 != ''}" th:src="${url + product.prodImg3}" style="width:100px;height: 100px;">-->
                      </div>
                      <div id="prodImg3" style="display: none;">
                          <img class="prodImg3" alt="상품 상세 이미지 2" width="100" height="100">
                      </div>
                  </div>
                </div><br/><br/>

                <div class="css-1pjgd36 e744wfw6">
                  <label class="css-1obgjqh e744wfw4" for="prodCateNo"><strong>상품 카테고리 </strong><span
                          class="css-qq9ke6 e744wfw0">*</span></label><br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <select name="prodCateNo" id="prodCateNo">
                    <option value="0" th:selected="${product.prodCateNo == 0}">상품 카테고리를 선택하세요.</option>
                    <option value="1" th:selected="${product.prodCateNo == 1}">배달 상품권</option>
                    <option value="2" th:selected="${product.prodCateNo == 2}">베이커리 교환권</option>
                    <option value="3" th:selected="${product.prodCateNo == 3}">카페 교환권</option>
                    <option value="4" th:selected="${product.prodCateNo == 4}">아이스크림 교환권</option>
                    <option value="5" th:selected="${product.prodCateNo == 5}">치킨 교환권</option>
                    <option value="6" th:selected="${product.prodCateNo == 6}">버거/피자 교환권</option>
                    <option value="7" th:selected="${product.prodCateNo == 7}">편의점 교환권</option>
                  </select>
                </div>

                <br/><br/>

                <div class="css-1pjgd36 e744wfw6">
                  <label class="css-1obgjqh e744wfw4"><strong>판매 가능 상태 </strong><span
                          class="css-qq9ke6 e744wfw0">*</span></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="radio" name="prodStatus" th:value="1" th:checked="${product.prodStatus == true}">구매 가능&nbsp;&nbsp;&nbsp;
                  <input type="radio" name="prodStatus" th:value="0" th:checked="${product.prodStatus == false}">판매 중지
                </div><br/><br/><br/><br/>

<!--                <div class="form-group button-group">-->
<!--                  <button type="submit" class="btn-primary" style="margin-bottom: auto; margin-top: 12px; min-width: 70px; text-align: center; background-color: #4880FF;">수&nbsp;정</button>-->
<!--                  <button type="button" class="btn-confirm" style="margin-bottom: auto; margin-top: 12px; min-width: 70px; text-align: center;">취&nbsp;소</button>-->
<!--                </div><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>-->
                <div class="css-137ca2h e1utgeno0">
                  <button class="css-18m884r e4nu7ef3" id="submit" name="submitBtn" type="submit" width="240"
                          height="56" radius="3" style="margin-bottom: auto; margin-top: 12px; width: 100px; text-align: center;background-color: #4880FF;">
                    <span class="css-ymwvow e4nu7ef1 submit-button-span">수&nbsp;정</span>
                  </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button class="css-18m884r e4nu7ef3" id="cancel" name="cancelBtn" type="button" width="240"
                          height="56" radius="3" style="margin-bottom: auto; margin-top: 12px; width: 100px; text-align: center;background-color: #646D7A;">
                    <span class="css-ymwvow e4nu7ef1 submit-button-span">취&nbsp;소</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

</form>
</div>
</body>
</html>
