<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:insert="~{common/import :: importFragment}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="/css/templates/collection_detail.css">
    <link rel="stylesheet" href="/css/templates/regist_hp.css">
    <link rel="stylesheet" href="/css/templates/style.css">
    <link rel="stylesheet" href="/css/reservation/getRsrvStoreList.css">
    <script type="module" src="/javascript/store/searchStore.js"></script>
    <script src="/javascript/reservation/getRsrvStoreList.js"></script>
</head>
<body>

<h1><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;예약 목록</h1>
<br/>

<div class="allpoint2">
    <!-- 결과 테이블 -->
    <table>
        <tbody th:each="reservation, iterStat : ${reservations}">


        <tr th:if="${reservation.rsrvDt != null && (iterStat.index == 0 || (reservations.size > iterStat.index && #dates.format(reservation.rsrvDt, 'yyyy.MM.dd') != #dates.format(reservations[iterStat.index - 1].rsrvDt, 'yyyy.MM.dd')))}" style="height: 50px; background-color: #FFFFFF">
            <td colspan="5">
            </td>
        </tr>
        <tr th:if="${reservation.rsrvDt != null && (iterStat.index == 0 || (reservations.size > iterStat.index && #dates.format(reservation.rsrvDt, 'yyyy.MM.dd') != #dates.format(reservations[iterStat.index - 1].rsrvDt, 'yyyy.MM.dd')))}"
            style="background-color: #4880FF; font-size: 30px; font-weight: bold;">
            <td colspan="5" style="background-color: #4880FF; color: white;">
                <span th:utext="${#dates.format(reservation.rsrvDt, 'yyyy.MM.dd')} + '&nbsp;&nbsp;'" style="font-size: 30px; font-weight: bold;">[예약 날짜]</span>
            </td>
        </tr>

        <tr th:if="${reservation.rsrvDt != null && (iterStat.index == 0 || (reservations.size > iterStat.index && #dates.format(reservation.rsrvDt, 'HH:mm') != #dates.format(reservations[iterStat.index - 1].rsrvDt, 'HH:mm')))}">
            <td colspan="3" style="font-size: 20px; font-weight: bold; background-color: #979EA8; color: white;">
                <span style="position: relative; left: 180px;" th:text="${#dates.format(reservation.rsrvDt, 'HH:mm')}">[예약 시간]</span>
            </td>
            <td colspan="2" style="padding-left: 100px; font-size: 15px; font-weight: bold; background-color: #979EA8; color: white;">
                <span th:utext="'현재 예약 인원&nbsp;&nbsp;&nbsp;'+${reservationCountsByDate[reservation.rsrvDt]} + '&nbsp;&nbsp;명' ?: 0 + '명'">[현재 예약 인원]</span>
            </td>
        </tr>

        <tr th:if="${iterStat.index == 0}">
            <th>예약 상태</th>
            <th>전화 번호</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;인원 수</th>
            <th>요청 사항</th>
            <th></th>
        </tr>

        <tr th:attr="onclick='location.href=\'/reservation/getRsrv?rsrvNo=' + ${reservation.rsrvNo} + '\''"
            style="cursor: pointer;">
            <td class="status-cell" th:text="${reservation.rsrvStatus}">[예약 상태]</td>
            <td th:text="${reservation.rsrvNumber}" data-phone>[전화 번호]</td>
            <td th:utext="'&nbsp;&nbsp;&nbsp;&nbsp;' + ${reservation.rsrvPerson} + '명'">[예약 인원]</td>
            <td>
        <span th:if="${reservation.rsrvReq != null && !reservation.rsrvReq.isEmpty()}"
              th:text="${reservation.rsrvReq.length() > 10 ? reservation.rsrvReq.substring(0, 10) + '...' : reservation.rsrvReq}">
        </span>
                <span th:if="${reservation.rsrvReq == null || reservation.rsrvReq.isEmpty()}"></span>
            </td>
            <td class="action-cell" th:if="${reservation.rsrvStatus != '예약 요청'}" style="padding: 0; text-align: center; width: 100px; height: 40px; border-bottom: 1px solid #ddd;">
                <div style="height: 100%;">&nbsp;</div>
            </td>
            <td class="action-cell" th:if="${reservation.rsrvStatus == '예약 요청'}" style="padding: 0; text-align: center; width: 100px; height: 40px; border-bottom: 1px solid #ddd;">
                <div class="css-1w0ksfz e744wfw2" style="display: flex; justify-content: center; align-items: center; height: 100%;"
                     onclick="stopPropagation(event)">
                    <button class="css-ufulao e4nu7ef3 checkBtn" type="button"
                            style="font-size: 0.8rem; padding: 5px 10px; height: 25px; width: auto;"
                            th:attr="onclick='updateRsrvStatus(' + ${reservation.rsrvNo} + ', this)'">
                        <span class="css-ymwvow e4nu7ef1 checked_nick_btn">예약 수락</span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
    <br/>
    <br/>

</div>


<div class="allpoint1">
    <!-- 검색 폼 -->
    <form id="searchForm" name="searchForm">

        <input type="hidden" name="storeId" th:value="${param.storeId}"/>

        <div class="date-search-container">
            <div class="css-82a6rk e744wfw3">
                <div class="css-jmalg e1uzxhvi6">
                    <div class="css-176lya2 e1uzxhvi3">
                        <input class="css-1bkd15f e1uzxhvi2"
                               id="startDate" name="startDate"
                               type="date" onchange="autoSubmitForm()" style="width: 100%;"
                               th:max="${search.endDate}"
                               th:value="${search.startDate}">
                        <br/><br/><br/>
                        <input class="css-1bkd15f e1uzxhvi2"
                               id="endDate" name="endDate"
                               type="date" onchange="autoSubmitForm()"style="width: 100%;"
                               th:min="${search.startDate}"
                               th:value="${search.endDate}" >
                    </div>
                </div>
            </div>
        </div>

        <br/><br/><br/><br/><br/><br/><br/>

        <div id="searchStatuses">
            <label>
                <input type="checkbox" name="searchStatuses" value="예약 요청" onchange="autoSubmitForm()"
                       th:checked="${search.searchStatuses != null && search.searchStatuses.contains('예약 요청')}" /> 예약 요청 &nbsp;&nbsp;&nbsp;
            </label>
            <label>
                <input type="checkbox" name="searchStatuses" value="예약 확정" onchange="autoSubmitForm()"
                       th:checked="${search.searchStatuses != null && search.searchStatuses.contains('예약 확정')}" /> 예약 확정 &nbsp;&nbsp;&nbsp;
            </label>
            <label>

                <input type="checkbox" name="searchStatuses" value="전화 예약" onchange="autoSubmitForm()"
                       th:checked="${search.searchStatuses != null && search.searchStatuses.contains('전화 예약')}" /> 전화 예약 &nbsp;&nbsp;&nbsp;
            </label>
            <label>

                <input type="checkbox" name="searchStatuses" value="이용 완료" onchange="autoSubmitForm()"
                       th:checked="${search.searchStatuses != null && search.searchStatuses.contains('이용 완료')}" /> 이용 완료 &nbsp;&nbsp;&nbsp;
            </label>
            <label>

                <input type="checkbox" name="searchStatuses" value="리뷰 완료" onchange="autoSubmitForm()"
                       th:checked="${search.searchStatuses != null && search.searchStatuses.contains('리뷰 완료')}" /> 리뷰 완료 &nbsp;&nbsp;&nbsp;
            </label>
            <label>

                <input type="checkbox" name="searchStatuses" value="예약 취소" onchange="autoSubmitForm()"
                       th:checked="${search.searchStatuses != null && search.searchStatuses.contains('예약 취소')}" /> 예약 취소 &nbsp;&nbsp;&nbsp;
            </label>
        </div>
        <input type="hidden" name="page" th:value="1">
    </form>
</div>

<th:block th:insert="~{common/paging :: pagingFragment}"></th:block>
</body>
</html>