<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- 부트스트랩 CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/templates/mypage.css">
    <link rel="stylesheet" href="/css/templates/collection_detail.css">
    <link rel="stylesheet" href="/css/templates/style.css">

    <link th:insert="~{common/import :: importFragment}">

    <link rel="stylesheet" href="/css/community/getReviewList.css">

    <script src="/javascript/community/like.js"></script>
    <script src="/javascript/community/getReviewList.js"></script>

</head>

<body>
<!--<div th:include="~{community/getCommunityAside}"></div>-->
<!--<div th:include="~{community/menuBar}"></div> &lt;!&ndash; 커뮤니티 메뉴바 포함 &ndash;&gt;-->

<header id="header"></header> <!-- 페이지 헤더 -->

</p>

<div id="root" style="margin-top:-7%;"> <!-- 전체 컨텐츠를 감싸는 루트 요소 -->
    <div class="css-833hqy ecbxmj4" style="padding-left: 10%;margin-top: 10%;position: sticky">
        <div class="side" style="margin-top: 80px;">
            <div class="css-1v4whg ecbxmj3">&nbsp;&nbsp;리뷰 목록 </div>
            <div th:replace="~{community/getCommunityAside :: getCommunityAside}"></div>
        </div>
    </div>

    <div th:fragment="reviewListFragment">

         <div class="wrapper" id="wrapperDiv" style="margin-top: 10%;"> <!-- 전체 리뷰 리스트를 감싸는 주 컨테이너 -->
            <main id="main">
                <section class="section mb-50">
                    <div class="container gutter-sm">
                        <div class="section-body">
                            <div class="__my-review-list ml--50 mr--100"> <!-- 리뷰 리스트를 담는 컨테이너 -->
                                <div id="shopReviewListScroll"> <!-- 리뷰 스크롤을 위한 컨테이너 -->
                                    <div id="shopReviewListScroll_0"> <!-- 특정 스크롤 섹션 -->

                                        <h1 th:if="${type == 'allList'}">전체 리뷰 목록</h1>
                                        <h1 th:if="${type == 'friend'}">친구 리뷰 목록</h1>

                                        <div th:if="${#lists.isEmpty(reviewList)}" class="no-reviews">
                                            <div style="text-align: center; font-weight: bold; font-size: 18px; padding:5%;">
                                                등록된 리뷰가 없습니다.
                                            </div>
                                        </div>

                                        <article class="__my-review-post" th:each="review : ${reviewList}"> <!-- 각 리뷰에 대한 아티클 -->
                                            <div class="__header" style="padding-left: 0;">
                                                <div class="__user-info" style="justify-content: space-between;">
                                                    <div class="review-details"> <!-- 리뷰 작성자를 표시하는 영역 -->
                                                        <img id="profileImgView" style=" height: 71px; width: 72px; border-radius: 40px;" th:src="${url + 'user/' + review.profileImg}" alt="프로필사진">

                                                        <!-- 사용자 권한 확인 -->
                                                        <th:block th:if="${session.user != null && (session.user.role == 'ROLE_USER' || session.user.role == 'ROLE_STORE')}">
                                                        <a th:href="@{/review/getReviewList(type='feed', friendUsername=${review.userName})}">
                                                            <span th:text="${review.userName}"
                                                            style="font-size: 1.5em; font-weight: bold; color: #2c3e50;
                                                            text-transform: uppercase; margin-bottom: 5px; display: block;"></span> <!-- 작성자 이름 -->
                                                        </a>
                                                        </th:block>
                                                        <th:block th:if="${session.user == null}">
                                                            <a th:href="@{/user/login}" style="cursor: pointer;">
                                                                <span th:text="${review.userName}"
                                                                style="font-size: 1.5em; font-weight: bold; color: #2c3e50;
                                                                text-transform: uppercase; margin-bottom: 5px; display: block;"></span> <!-- 작성자 이름 -->
                                                            </a>
                                                        </th:block>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="__body" style="position: relative; padding: 0px;">

                                                <div class="__photos" style="display: flex; justify-content: center; flex-wrap: nowrap;"> <!-- 리뷰 이미지들을 나열하는 영역 -->

                                                    <!-- 케러셀 -->
                                                    <th:block th:if="${(review.reviewImg1 != null && review.reviewImg1 != '' && review.reviewImg1 != 'NULL') || (review.reviewImg2 != null && review.reviewImg2 != '' && review.reviewImg2 != 'NULL') || (review.reviewImg3 != null && review.reviewImg3 != '' && review.reviewImg3 != 'NULL')}">
                                                        <div class="carousel-container" style="width: 80%; background-color: #FFFFFF;">
                                                            <div th:id="'carousel'+${review.reviewNo}" class="carousel slide" data-bs-ride="carousel">
                                                                <div class="carousel-indicators">
                                                                    <button type="button" th:if="${review.reviewImg1 != null && review.reviewImg1 != '' && review.reviewImg1 != 'NULL'}" th:data-bs-target="'#carousel'+${review.reviewNo}" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                                                    <button type="button" th:if="${review.reviewImg2 != null && review.reviewImg2 != '' && review.reviewImg2 != 'NULL'}" th:data-bs-target="'#carousel'+${review.reviewNo}" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                                                    <button type="button" th:if="${review.reviewImg3 != null && review.reviewImg3 != '' && review.reviewImg3 != 'NULL'}" th:data-bs-target="'#carousel'+${review.reviewNo}" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                                                </div>
                                                                <div class="carousel-inner">
                                                                    <div class="carousel-item active" th:if="${review.reviewImg1 != null && review.reviewImg1 != '' && review.reviewImg1 != 'NULL'}">
                                                                        <img th:src="${url + review.reviewImg1}" class="d-block w-100" alt="review.reviewImg1" height="500">
                                                                    </div>
                                                                    <div class="carousel-item" th:if="${review.reviewImg2 != null && review.reviewImg2 != '' && review.reviewImg2 != 'NULL'}">
                                                                        <img th:src="${url + review.reviewImg2}" class="d-block w-100" alt="review.reviewImg2" height="500">
                                                                    </div>
                                                                    <div class="carousel-item" th:if="${review.reviewImg3 != null && review.reviewImg3 != '' && review.reviewImg3 != 'NULL'}">
                                                                        <img th:src="${url + review.reviewImg3}" class="d-block w-100" alt="review.reviewImg3" height="500">
                                                                    </div>
                                                                </div>
                                                                <th:block th:if="${(review.reviewImg2 != null && review.reviewImg2 != '' && review.reviewImg2 != 'NULL') || (review.reviewImg3 != null && review.reviewImg3 != '' && review.reviewImg3 != 'NULL')}">
                                                                    <button class="carousel-control-prev" type="button" th:data-bs-target="'#carousel'+${review.reviewNo}" data-bs-slide="prev">
                                                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                                        <span class="visually-hidden">Previous</span>
                                                                    </button>
                                                                    <button class="carousel-control-next" type="button" th:data-bs-target="'#carousel'+${review.reviewNo}" data-bs-slide="next">
                                                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                                        <span class="visually-hidden">Next</span>
                                                                    </button>
                                                                </th:block>
                                                            </div>
                                                        </div>

                                                    </th:block>

                                                </div>


                                                <div class="timeline-post-content">

                                                    <!-- 리뷰 메타 정보 (평점, 좋아요, 댓글) -->
                                                    <div class="__post-meta" style="display: flex; width: 100%; text-align: left; align-items: center; justify-content: space-between;">

                                                        <!-- 왼쪽 리뷰 관련 요소 -->
                                                        <div style="display: flex; align-items: center; gap: 20px; margin-left:5%;">
                                                            <!-- 리뷰 평점 -->
                                                            <a th:href="@{/review/getReview?(reviewNo=${review.reviewNo})}" style="cursor: pointer; display: flex;">
                                                                <img src="/file/community/star_icon1.png" style="display: flex;">
                                                                &ensp;
                                                                <span class="review-star" th:text="${review.reviewScore}"></span>
                                                            </a>

                                                            <!-- 리뷰 좋아요 -->
                                                            <a style="cursor: pointer; display: flex;" id="like"
                                                               th:data-review-no="${review.reviewNo}"
                                                               th:data-username="${session.user != null ? session.user.username : ''}">
                                                                <img th:src="${(session.user == null)? '/file/community/icon_heart_white.png' : ((review.like == null)? '/file/community/icon_heart_white.png' : '/file/community/icon_heart_red.png')}"
                                                                     style="width: 30px; height: 30px; background-color: #FFFFFF;">
                                                                &ensp;
                                                                <span class="like-count" th:text="${review.reviewLikeCnt}"></span>
                                                            </a>

                                                            <!-- 댓글 -->
                                                            <a th:href="@{/review/getReview?(reviewNo=${review.reviewNo})}" style="cursor: pointer; display: flex;" id="comment" class="btn-comment">
                                                                <img src="/file/community/comment_icon.png" alt="댓글" style="width: 24px; height: 24px; display: flex;" />
                                                                &ensp;
                                                                <span class="comment-count" th:text="${#lists.size(review.commentList)}" style="display: flex;"></span>
                                                            </a>
                                                        </div>

                                                        <!-- 오른쪽 작성일, 수정일 -->
                                                        <span style="text-align: right; padding-right: 5%;"
                                                              th:text="${(review.currReviewUpdate == null)? review.reviewDt : review.currReviewUpdate + ' (수정됨)'}"></span>
                                                    </div>


                                                    <div class="restaurant-info" style="width: 90%; margin: 0 auto; padding: 2%;"> <!-- 식당 정보 영역 -->
                                                        <div class="__info" style="font-size: 1em;">
                                                            <a th:href="'/getStore?mode=info&storeId='+${review.storeId}"> <!-- 식당 상세 페이지 링크 -->
                                                                <h4 class="__name">
                                                                    <span th:text="${review.storeName}">매장명</span> <!-- 식당 이름 -->
                                                                </h4>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="__content" style="font-size: 1.2em; margin-left:6% ">
                                                        <p th:text="${review.reviewContent}" style="white-space: pre-line;"></p> <!-- 리뷰 내용 -->
                                                    </div>
                                                    <hr class="hairline"> <!-- 리뷰 항목 간 구분선 -->

                                                </div>

                                            </div>
                                        </article>
                                    </div> <!-- shopReviewListScroll_0 끝 -->
                                </div> <!-- shopReviewListScroll 끝 -->
                            </div> <!-- __my-review-list 끝 -->
                        </div> <!-- section-body 끝 -->
                    </div> <!-- container 끝 -->
                </section> <!-- section 끝 -->

                <th:block th:insert="~{common/paging :: pagingFragment}"></th:block>

                <form name="pagingForm">
                    <input type="hidden" name="page">
                    <input type="hidden" name="type" value="allList">
                </form>
                <!-- 페이징 처리 부분 생략 -->
            </main>
        </div> <!-- wrapperDiv 끝 -->
    </div>
</div> <!-- root 끝 -->
</body>
</html>