<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>리뷰 상세보기 ==> getReview.html</title>

    <link th:insert="~{common/import :: importFragment}">

    <link rel="stylesheet" href="/css/community/getReview.css">

    <script src="/javascript/community/like.js"></script>
    <script src="/javascript/community/getReview.js"></script>
    <link rel="stylesheet" href="/css/community/getReviewList.css">

</head>

<body>

<!--<div th:include="~{community/menuBar}"></div>-->
<div class="__user-info" style="justify-content: space-between;">
    <div class="review-details"> <!-- 리뷰 작성자를 표시하는 영역 -->
        <img th:src="@{/file/community/2222.png}" alt="프로필이미지">
        <a th:href="@{/review/getReviewList(type='friendList', friendUsername=${review.userName})}">
                                                        <span th:text="${review.userName}"
                                                              style="font-size: 1.5em; font-weight: bold; color: #2c3e50;
                                                              text-transform: uppercase; margin-bottom: 5px; margin-left:430 display: block;"></span> <!-- 작성자 이름 -->
        </a>
    </div>
</div>


<p>작성일: <span th:text="${#dates.format(review.reviewDt, 'yyyy-MM-dd ')}"></span></p>
<p>최종 수정일: <span th:text="${#dates.format(review.currReviewUpdate, 'yyyy-MM-dd ')}"></span></p>

<div class="review-container">
    <div class="__photos" style="display: flex; justify-content: center; flex-wrap: nowrap;"> <!-- 리뷰 이미지들을 나열하는 영역 -->
        <div th:if="${review.reviewImg1 != null && !review.reviewImg1.isEmpty()}">
            <div class="swiper-slide" style="margin-right: 16px;">
                <img th:src="${url + review.reviewImg1}">
            </div>
        </div>
        <div th:if="${review.reviewImg2 != null && !review.reviewImg2.isEmpty()}">
            <div class="swiper-slide" style="margin-right: 16px;">
                <img th:src="${url + review.reviewImg2}">
            </div>
        </div>
        <div th:if="${review.reviewImg3 != null && !review.reviewImg3.isEmpty()}">
            <div class="swiper-slide" style="margin-right: 16px;">
                <img th:src="${url + review.reviewImg3}">
            </div>
        </div>
    </div>
</div>
<img src="/file/community/star_icon1.png" style="margin-left: 503px;" th:text="${review.reviewScore}">

<div class="comment-content" style="margin-left:50px">
<p>리뷰 내용: <span th:text="${review.reviewContent}"></span></p>
</div>


<div class="restaurant-info" style="width: 850px; margin: 0 auto; padding: 15px;"> <!-- 식당 정보 영역 -->
    <div class="__info" style="font-size: 1.5em; margin-top:-98; margin-left:-132">
        <a th:href="'/getStore?mode=info&storeId='+${review.storeId}"> <!-- 식당 상세 페이지 링크 -->
            <h4 class="__name">
                <span th:text="${review.storeName}">매장명</span> <!-- 식당 이름 -->
            </h4>
        </a>
    </div>
</div>

<p>좋아요 수: <span class="like-count" th:text="${review.reviewLikeCnt}"></span></p>
<p>댓글 수: <span class="comment-count" th:text="${#lists.size(review.commentList)}"></span></p>
<div class="comment-section">
    <h2>댓글 작성하기</h2>
    <form>
        <input id="reviewNo" name="reviewNo" th:value="${review.reviewNo}" type="hidden"/>
        <input id="userName" name="userName" type="hidden" th:value="${user.username}"/>
        <textarea id="commentsContent" name="commentsContent" placeholder="댓글을 입력하세요" required></textarea><br/>
        <!--        <button type="submit">댓글 추가</button>-->
        <button type="button" name="addCommentBtn">댓글 추가</button>

        <th:block th:if="${!(session.user != null && session.user.role == 'ROLE_STORE')}">
            <a style="cursor: pointer" id="like"
               th:class="${(session.user == null) ? 'btn-like-inactive' : ((review.like == null) ? 'btn-like-inactive' : 'btn-like-active')}"
               th:data-review-no="${review.reviewNo}"
               th:data-username="${session.user != null ? session.user.username : ''}">
                <span class="like-count" style="margin-left: 37px;" th:text="${review.reviewLikeCnt}"></span>
            </a>
        </th:block>



    </form>
    <!-- 에러 메시지 표시 -->
    <div class="error-message"></div>
</div>

<div class="comment-section">
    <h2>댓글 목록</h2>
    <ul class="comment-list" id="commentList">
        <li th:each="comment : ${commentList}">
            <p><strong th:text="${comment.userName}"></strong></p>
            <p th:text="${comment.commentsContent}"></p>
            <p th:text="${#dates.format(comment.commentsDt, 'yyyy-MM-dd ')}"></p>

            <button class="btn-primary edit" th:data-comment-no="${comment.commentNo}"
                    th:data-current-comment="${comment.commentsContent}"
                    th:if="${comment.userName == user.username}">수정
            </button>

            <form method="post" onsubmit="return confirm('정말 삭제 하시겠습니까?');" style="display:inline;"
                  th:action="@{/review/removeComment}"
                  th:if="${comment.userName == user.username}">
                <input type="hidden" name="commentNo" th:value="${comment.commentNo}"/>
                <input type="hidden" name="reviewNo" th:value="${review.reviewNo}"/>
                <button type="submit">삭제</button>
            </form>
            <hr/>
        </li>
    </ul>
</div>

<form name="pagingForm">
    <input type="hidden" name="page">
    <input type="hidden" name="reviewNo" th:value="${review.reviewNo}">
</form>

<a th:href="@{/review/getReviewList}">리뷰 목록으로 돌아가기</a>

<th:block th:insert="~{common/paging :: pagingFragment}"></th:block>

</body>
</html>