<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Store</title>
</head>
<body>
<h1>Store</h1>

<!-- 예약 정보 출력 -->
<p>가게 이름: <span th:text="${store.storeName}">[가게 이름]</span></p>
<p>가게 주소: <span th:text="${store.StoreId}">[가게 주소]</span></p>
<p>가게 ID: <span th:text="${store.storeAddr}">[가게 ID]</span></p>
<p>오픈 시간: <span th:text="${store.getStoreOperation().getOpenTime()}">[오픈 시간]</span></p>
<p>마감 시간: <span th:text="${store.getStoreOperation().getCloseTime()}">[마감 시간]</span></p>
<p>휴무일: <span th:text="${store.getStoreOperation().getClosedayList()}">[휴무일]</span></p>
<p>휴무요일: <span th:text="${store.getStoreOperation().getRegularClosedayList()}">[휴무요일]</span></p>
<p>보증금: <span th:text="${store.getStoreOperation().getSecurity()}">[보증금]</span></p>
<p>최대 예약 인수: <span th:text="${store.getStoreOperation().getRsrvLimit()}">[최대 예약 인수]</span></p>
<p>적용일: <span th:text="${store.getStoreOperation().getEffectDt()}">[적용일]</span></p>
<p>포트원 가게 ID: <span th:text="${store.specialMenuNo}">[포트원 가게 ID]</span></p>


</body>
</html>
