<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.placeHere.server.dao.reservation.ReservationDao">

    <resultMap type="com.placeHere.server.domain.Reservation" id="ReservationResultMap">
        <id property="rsrvNo" column="rsrv_no" jdbcType="INTEGER"/>
        <result property="storeId" column="store_id" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" jdbcType="INTEGER"/>
        <result property="rsrvStatus" column="rsrv_status" jdbcType="VARCHAR"/>
        <result property="rsrvDt" column="rsrv_dt" jdbcType="TIMESTAMP"/>
        <result property="rsrvPerson" column="rsrv_person" jdbcType="INTEGER"/>
        <result property="amount" column="amount" jdbcType="INTEGER"/>
        <result property="paymentId" column="payment_id" jdbcType="VARCHAR"/>
        <result property="rsrvReq" column="rsrv_req" jdbcType="VARCHAR"/>
        <result property="reason" column="reason" jdbcType="VARCHAR"/>
        <result property="rsrvCreateTime" column="rsrv_create_time" jdbcType="TIMESTAMP"/>
        <result property="storeName" column="store_name" jdbcType="VARCHAR"/>
        <result property="storeAddr" column="store_addr" jdbcType="VARCHAR"/>
        <result property="rsrvNumber" column="rsrv_number" jdbcType="VARCHAR"/>
        <result property="totalCnt" column="total_cnt" jdbcType="INTEGER"/>

    </resultMap>


    <insert id="addRsrv" parameterType="com.placeHere.server.domain.Reservation" useGeneratedKeys="true" keyProperty="rsrvNo">
        INSERT INTO reservation (
            store_id, user_name, rsrv_dt, rsrv_person, amount,
            rsrv_req, rsrv_create_time, store_name, store_addr, rsrv_status, rsrv_number
        ) VALUES (
                     #{storeId}, #{userName}, #{rsrvDt}, #{rsrvPerson}, #{amount},
                     #{rsrvReq}, NOW(), #{storeName}, #{storeAddr}, '결제 중', #{rsrvNumber}
                 );
    </insert>


    <insert id="addRsrvStore" parameterType="com.placeHere.server.domain.Reservation">
        INSERT INTO reservation (
            store_id, user_name, rsrv_dt, rsrv_person,
            rsrv_req, store_name, store_addr, rsrv_status, rsrv_number
        ) VALUES (
                     #{storeId}, #{userName}, #{rsrvDt}, #{rsrvPerson},
                     #{rsrvReq}, #{storeName}, #{storeAddr}, '전화 예약', #{rsrvNumber}
                 );
    </insert>


    <update id="updateRsrvStatus" parameterType="com.placeHere.server.domain.Reservation">
        UPDATE reservation
        SET rsrv_status = #{rsrvStatus}
        WHERE rsrv_no = #{rsrvNo};
    </update>


    <update id="updateRsrvpay" parameterType="com.placeHere.server.domain.Reservation">
        UPDATE reservation
        SET payment_id = #{paymentId}
        WHERE rsrv_no = #{rsrvNo};
    </update>


    <update id="updateRsrvReason" parameterType="com.placeHere.server.domain.Reservation">
        UPDATE reservation
        SET reason = #{reason}
        WHERE rsrv_no = #{rsrvNo};
    </update>


    <select id="getRsrv" parameterType="int" resultMap="ReservationResultMap">
        SELECT
            rsrv_no,
            store_id,
            user_name,
            rsrv_status,
            rsrv_dt,
            rsrv_person,
            amount,
            payment_id,
            rsrv_req,
            reason,
            rsrv_create_time,
            store_name,
            store_addr,
            rsrv_number
        FROM
            reservation
        WHERE
            rsrv_no = #{rsrvNo}
    </select>


    <select id="getCountRsrv" parameterType="map" resultType="int">
        SELECT COALESCE(SUM(rsrv_person), 0)
        FROM reservation
        WHERE rsrv_dt = #{rsrvDt}
          AND store_id = #{storeId}
          AND rsrv_status IN ('예약 확정', '전화 예약', '예약 요청');
    </select>


    <select id="getCountDayRsrv" parameterType="map" resultType="int">
        SELECT COALESCE(SUM(rsrv_person), 0)
        FROM reservation
        WHERE DATE(rsrv_dt) = DATE(#{rsrvDt})
          AND store_id = #{storeId}
          AND rsrv_status IN ('예약 확정', '전화 예약', '예약 요청');
    </select>


    <select id="getCountRsrvUser" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM reservation
        WHERE user_name = #{userName}
          AND DATE(rsrv_dt) > NOW()
          AND rsrv_status IN ('예약 확정', '예약 요청');
    </select>


    <select id="getCountRsrvStore" parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM reservation
        WHERE store_id = #{storeId}
          AND rsrv_dt > NOW()
          AND amount &lt;&gt; 0
          AND rsrv_status IN ('예약 확정', '예약 요청');
    </select>


    <select id="getCountRsrvNumber" parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM reservation
        WHERE store_id = #{storeId}
          AND rsrv_dt > NOW()
          AND rsrv_status = '전화 예약';
    </select>


    <select id="getRsrvList" resultMap="ReservationResultMap">
        SELECT rsrv_no, rsrv_status, rsrv_number, rsrv_person, rsrv_req, rsrv_dt, user_name, store_name, store_addr, COUNT(*) OVER() AS total_cnt
        FROM reservation
        <where>
            rsrv_status &lt;&gt; '결제 중'
        </where>
        ORDER BY
        rsrv_dt DESC <!-- 내림차순 -->
    </select>



    <select id="getRsrvUserList" resultMap="ReservationResultMap">
        SELECT rsrv_no, rsrv_status, rsrv_number, rsrv_person, rsrv_req, rsrv_dt, user_name, store_name, store_addr, COUNT(*) OVER() AS total_cnt
        FROM reservation
        <where>
            user_name = #{userName} <!-- 특정 유저 예약 -->
            <if test="search.searchKeyword == null or search.searchKeyword == ''">
                AND rsrv_status IN ('예약 요청', '예약 확정', '이용 완료', '리뷰 완료', '예약 취소', '예약 거절')
            </if>
            <if test="search.searchKeyword != null and search.searchKeyword != ''">
                AND rsrv_status = #{search.searchKeyword}
            </if>
        </where>
        ORDER BY
        <if test="search.order == null or search.order == ''">
            rsrv_no DESC <!-- 오름차순 -->
        </if>
        <if test="search.order == 'asc'">
            rsrv_no ASC <!-- 오름차순 -->
        </if>
        <if test="search.order == 'desc'">
            rsrv_no DESC <!-- 내림차순 -->
        </if>
    </select>


    <select id="getRsrvStoreList" resultMap="ReservationResultMap">
        SELECT rsrv_no, rsrv_status, rsrv_number, rsrv_person, rsrv_req, rsrv_dt, COUNT(*) OVER() AS total_cnt
        FROM reservation
        <where>
            store_id = #{storeId} <!-- 점주 가게 ID -->

            <!-- 기본 조건: 예약 일시가 현재 이후 -->
            <if test="search.startDate == null and search.endDate == null">
                AND DATE(rsrv_dt) >= CURRENT_DATE
            </if>

            <!-- 시작 날짜 조건 -->
            <if test="search.startDate != null">
                AND DATE(rsrv_dt) >= #{search.startDate}
            </if>

            <!-- 종료 날짜 조건 -->
            <if test="search.endDate != null">
                AND DATE(rsrv_dt) &lt;= #{search.endDate}
            </if>

            <!-- 예약 상태 필터 -->
            <if test="search.searchStatuses == null or search.searchStatuses.isEmpty()">
                AND rsrv_status IN ('예약 요청', '예약 확정', '이용 완료', '리뷰 완료', '예약 취소', '예약 거절', '전화 예약')
            </if>
            <if test="search.searchStatuses != null and !search.searchStatuses.isEmpty()">
                AND rsrv_status IN
                <foreach collection="search.searchStatuses" item="status" open="(" separator="," close=")">
                    #{status}
                </foreach>
            </if>
        </where>
        ORDER BY rsrv_dt ASC, rsrv_no DESC <!-- 예약 일시 오름차순 -->
    </select>





</mapper>