<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.placeHere.server.dao.pointShop.PointDao">

    <!-- resultMap -->
    <resultMap id="pointSelectMap" type="com.placeHere.server.domain.Point">
        <result property="tranNo" column="tran_no" jdbcType="INTEGER"/>
        <result property="userName" column="username" jdbcType="VARCHAR"/>
        <result property="relNo" column="rel_no" jdbcType="INTEGER"/>
        <result property="tranPoint" column="tran_point" jdbcType="INTEGER"/>
        <result property="pointDt" column="point_dt" jdbcType="DATE"/>
        <result property="depType" column="dep_type" jdbcType="VARCHAR"/>
        <result property="currPoint" column="curr_point" jdbcType="INTEGER"/>
        <association property="user" column="username" select="com.placeHere.server.dao.user.UserDao.getUser"/>
    </resultMap>

    <select id="getCurrentPoint" parameterType="String" resultType="int">
        SELECT curr_point
        FROM point_transaction
        WHERE username = #{username}
        ORDER BY tran_no DESC LIMIT 1
    </select>

    <update id="updatePoint" parameterType="com.placeHere.server.domain.Point">
        UPDATE point_transaction
        SET curr_point = curr_point + #{tranPoint}
        WHERE username = #{username} AND tran_no = #{tranNo}
    </update>

    <insert id="addPointTransaction" parameterType="com.placeHere.server.domain.Point">
        INSERT INTO point_transaction
            (username, tran_point, point_dt, dep_type, curr_point, rel_no)
        VALUES
            (#{username}, #{tranPoint}, CURRENT_DATE, #{depType}, #{currPoint}, #{relNo})
    </insert>

    <select id="getPointHistoryList" parameterType="String" resultType="com.placeHere.server.domain.Point">
        SELECT
            tran_no,
            username,
            dep_type,
            tran_point,
            point_dt,
            curr_point,
            rel_no
        FROM point_transaction
        WHERE username = #{username} AND barcode_no IS NULL
        ORDER BY tran_no DESC
    </select>

</mapper>