html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}


body {
    font-family: 'NanumSquareRound', sans-serif;
    color: #333;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}


header {
    display: block;
} 

.logo_size {
    width: 160px;
    margin-left: 130px;
    margin-top: 50px;
}
.logo_size1 {
    width: 160px;
    
}



/* spot */
.page-apply .spot {
    background: url(/images/hero-img.jpeg) 50% 50% no-repeat;
    background-size: cover;
    height: 400px;
    margin-bottom: 0;
}



.spot {
    height: 667px;
    padding-top: 122px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/images/hero-img.jpeg) #000 50% 0 no-repeat;
    -webkit-background-size: 768px 667px;
    background-size: 768px 667px;
    color: #fff;
}

.page-apply .spot .spot_inner {
    max-width: 100%;
    box-sizing: border-box;
}

.page-apply .spot .spot_tit {
    font-size: 50px;
    line-height: 1;
    text-align: left;
    font-weight: 700;
    margin-top: 120px;
    margin-left: 130px;
}

.spot .spot_inner {
    max-width: 375px;
    margin: 0 auto;
}


.__about-section.__bg-gray {
    background: #F6F6F6;
}
.__about-section {
    padding: 80px 0;
    text-align: center;
    word-break: keep-all;
    font-size: 20px;
}

.__about-section .__container {
    max-width: 800px;
    padding: 0 20px;
    margin: 0 auto;
}

.__about-section .__title-area {
    margin: 0 auto 4em;
    max-width: 80vw;
    line-height: 1.5;
}

.__about-section .__title-area h3 {
    font-size: 30px;
    margin: 0 auto 1em;
    font-weight: 700;
}

/*  아이콘 */

.__apply-why .__why {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -60px;
}

.__apply-why .__why .__item {
    width: 50%;
    margin-bottom: 3em;
    line-height: 1.4;
    box-sizing: border-box;
    /* padding: 0 1em; */
}

.__apply-why .__why .__item i {
    display: block;
    width: 8.4em;
    height: 8.4em;
    background: #fff;
    border-radius: 50%;
    margin: 0 auto 1em;
    position: relative;
}

.__apply-why .__why .__item i img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* 아이콘 아래 섹션 */
.__about-section .__container {
    max-width: 800px;
    padding: 0 20px;
    margin: 0 auto;
}

.__about-section .__title-area {
    margin: 0 auto 4em;
    max-width: 80vw;
    line-height: 1.5;
}

.__about-section form {
    text-align: left;
    font-size: 16px;
}

body, input, textarea, select, button, table {
    outline: none !important;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

input[type="hidden" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    display: none !important;
    padding: initial;
    border: initial;
}




.__about-section form fieldset {
    margin-bottom: 4em;
}

img, fieldset {
    border: 0;
}

.__about-section form .__fieldset-header {
    margin-bottom: 1.25em;
    display: flex;
    align-items: center;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}



.__about-section .__form-group {
    background: #fff;
    border: 1px solid #e7e7e7;
}

.__about-section .__form-block {
    display: flex;
    align-items: center;
}

.__about-section .__form-block .__form-label {
    width: 8em;
    padding: 2em;
}


.__about-section .__form-block .__form-control {
    flex: 1;
}



.__about-section .__form-block .__form-input[value], .__about-section .__form-block .__form-input:valid {
    color: #000;
}

.__about-section .__form-block select.__form-input {
    background: url(/images/select.svg) 100% 50% no-repeat;
    background-size: auto 6%;
}

.__about-section .__form-block .__form-input {
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    display: block;
    width: 100%;
    height: 4.8em;
    padding: 1em;
    box-sizing: border-box;
}


/* 관심분야 */
.__about-section form .__fieldset-header h4 {
    font-size: 1.25em;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* 관심분야_체크박스 */
.__about-section .__checkbox-group {
    background: #fff;
    border: 1px solid #e4e4e4;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}

.__about-section .__checkbox-group .__label-checkbox {
    width: 25%;
    padding: 1em;
}

.__about-section .__label-checkbox {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.__about-section .__label-checkbox input {
    padding: 0;
    margin: 0 0.5em 0 0;
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #999;
    min-width: 1.2em;
    width: 1.2em;
    height: 1.2em;
    border-radius: 4px;
    background: #fff;
}
.__about-section .__label-checkbox input:checked {
    /* background: #0091D0; */
    border-color: #0091D0;
    background: #fff url(https://biz.catchtable.co.kr/static/v2/img/apply/checked.svg) 50% 50% no-repeat;
    background-size: 60% auto;
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

body, input, textarea, select, button, table {
    outline: none !important;
}

.__about-section .__checkbox-group .__label-checkbox span {
    margin-right: -2em;
}


.__about-section .__label-checkbox span {
    display: block;
    line-height: 1.25;
    font-size: .875em;
}

label {
    cursor: default;
}


/* 약관동의 */

.__about-section form .__fieldset-header .__utils {
    margin-left: auto;
    font-size: 1em;
}


.__about-section .__doc {
    background: #fff;
    border: 1px solid #e4e4e4;
    height: 10em;
    overflow: auto;
    font-size: .965em;
    line-height: 1.5;
}


.__about-section .__doc-inner {
    padding: 1.5em;
}

b, strong {
    font-weight: bolder;
}


.private_table {
    border-collapse: collapse;
    border-spacing: 0;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.private_table th {
    border: 1px solid #333;
    text-align: center;
    padding: 5px 0;
}

/* 접수하기 버튼 */
.__about-section form button.submit {
    background: #0091D0;
    display: block;
    margin: 0 auto;
    width: 16em;
    height: 3em;
    border-radius: 4px;
    border: 0;
    color: #fff;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}


/* footer */
footer {
    padding: 30px 0 35px;
    background-color: #333;
    text-align: center;
}

footer {
    display: block;
}

footer .pc_menu_list {
    display: block;
}

footer .footer_menu_list:first-child {
    margin-bottom: 19px;
}

footer .footer_menu_list .list_item {
    display: inline-block;
}

footer .footer_menu_list .list_item a {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.08;
    color: #c1c1c1;
}



footer .company_telephone_number {
    margin-bottom: 24px;
}

footer .company_telephone_number .number_txt {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.16;
    color: #fff;
}
/* 
footer .social_list .btn_blog {
    display: inline-block;
    width: 38px;
    height: 33px;
    background-repeat: no-repeat;
    background-image: url(../img/sprite-v2.png);
    background-position: -334px -100px;
    width: 38px;
    height: 32px;
} */



footer .social_list {
    margin-bottom: 80px;
    font-size: 0;
    text-align: center;
}

footer .social_list .list_item {
    display: inline-block;
}

a {
    color: inherit;
    text-decoration: none;
}

a {
    background-color: transparent;
}


footer .social_list .list_item:nth-child(2) {
    margin: 0 17px;
}

/* footer .social_list .btn_facebook {
    display: inline-block;
    width: 33px;
    height: 33px;
    background-repeat: no-repeat;
    background-image: url(../img/sprite-v2.png);
    background-position: -334px -173px;
    width: 33px;
    height: 33px;
} */

.blind {
    margin: -1px !important;
    padding: 0 !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

/* footer .social_list .btn_instagram {
    display: inline-block;
    width: 33px;
    height: 33px;
    background-repeat: no-repeat;
    background-image: url(../img/sprite-v2.png);
    background-position: -334px -136px;
    width: 33px;
    height: 33px;
} */

footer .company_info .company_tit {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.08;
    color: #c1c1c1;
}

em, address {
    font-style: normal;
}

address {
    display: block;
    font-style: italic;
}


footer .company_info .copyright {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.08;
    color: #c1c1c1;
}

li {
    text-align: -webkit-match-parent;
}

ul, ol, dl {
    list-style: none;
}




img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

footer .company_info .address_list {
    margin-bottom: 27px;
}

footer .company_info .address_list .list_item {
    display: inline;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.55;
    color: #c1c1c1;
}