.form-group.button-group {
    text-align: center;
}

.btn-primary, .btn-confirm {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

[type="radio"]:checked {
    /* min-width: 24px;
    min-height: 24px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    background-color: #ff3d00; */
    transition: border 0.5s ease-in-out;

    /* border: 0.4em solid tomato; */
    /*border: 0.4em solid #ff3d00;*/
    border: 0.4em solid #4880FF;
}

/*.btn-primary {*/
/*  background-color: #0066cc;*/
/*  color: white;*/
/*  margin-right: 10px;*/
/*}*/

/*.btn-primary:hover {*/
/*  background-color: #005bb5;*/
/*}*/

/*.btn-confirm {*/
/*  background-color: #e0e0e0;*/
/*  color: #333;*/
/*}*/

/*.btn-confirm:hover {*/
/*  background-color: #d0d0d0;*/
/*}*/