<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--   mybatis-config.xml :: MyBatis Framework  MetaData -->
<configuration>

	<!-- 2. 기타 설정정보 :: [MyBatis_Home]/mybatis-3.2.1.pdf 참조 -->
	<settings>
		<setting name="callSettersOnNulls" value="false"/>
	</settings>

	<!-- 3. FQCN(Full Qualified Class Name) Alias(별칭관리) -->
	<typeAliases>
		<typeAlias alias="chat" type="com.placeHere.server.domain.Chat"/>
		<typeAlias alias="community" type="com.placeHere.server.domain.Community"/>
		<typeAlias alias="friend" type="com.placeHere.server.domain.Friend"/>
		<typeAlias alias="menu" type="com.placeHere.server.domain.Menu"/>
		<typeAlias alias="point" type="com.placeHere.server.domain.Point"/>
		<typeAlias alias="product" type="com.placeHere.server.domain.Product"/>
		<typeAlias alias="purchase" type="com.placeHere.server.domain.Purchase"/>
		<typeAlias alias="reservation" type="com.placeHere.server.domain.Reservation"/>
		<typeAlias alias="search" type="com.placeHere.server.domain.Search"/>
		<typeAlias alias="store" type="com.placeHere.server.domain.Store"/>
		<typeAlias alias="storeNews" type="com.placeHere.server.domain.StoreNews"/>
		<typeAlias alias="storeOperation" type="com.placeHere.server.domain.StoreOperation"/>
		<typeAlias alias="user" type="com.placeHere.server.domain.User"/>
	</typeAliases>

	 <!-- SQL Definition :: file include -->
	<mappers>
		<mapper resource="sql/user/UserMapper.xml"/>
		<mapper resource="sql/store/StoreMapper.xml"/>
        <mapper resource="sql/product/ProductMapper.xml"/>
        <mapper resource="sql/purchase/PurchaseMapper.xml"/>
	</mappers>

</configuration>