<ul class="css-1x9bshx ecbxmj2" th:fragment="getPointShopAside">

  <li class="css-0 ecbxmj1">
    <a class="css-pi3u6r ecbxmj0" th:href="'/product/listProduct'">
      포인트 상품 목록
      <span class="css-e41glx e1x0rfoo0"></span>
    </a>
  </li>

  <li class="css-0 ecbxmj1">
    <a class="css-pi3u6r ecbxmj0" th:href="'/purchase/listCart'">
      장바구니
      <span class="css-e41glx e1x0rfoo0"></span>
    </a>
  </li>

  <li class="css-0 ecbxmj1">
    <a class="css-pi3u6r ecbxmj0" th:href="'/purchase/listWish'">
      찜 목록
      <span class="css-e41glx e1x0rfoo0"></span>
    </a>
  </li>

  <li class="css-0 ecbxmj1">
    <a class="css-pi3u6r ecbxmj0" th:href="'/purchase/listPointHistory'">
      포인트 내역
      <span class="css-e41glx e1x0rfoo0"></span>
    </a>
  </li>

  <li class="css-0 ecbxmj1">
    <a class="css-pi3u6r ecbxmj0" th:href="'/purchase/listPurchase'">
      구매한 상품
      <span class="css-e41glx e1x0rfoo0"></span>
    </a>
  </li>
</ul>