select {
    text-align: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; /* 테두리 색상 */
    border-radius: 5px; /* 테두리 둥글게 */
    font-size: 16px; /* 글자 크기 */
    color: #333; /* 글자 색상 */
}

select option {
    text-align: center;
    padding: 5px; /* 옵션 항목의 간격 */
}