<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/user/join.css}">



    <!-- CDN(Content Delivery Network) 호스트 사용 -->
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {

        $("#btnSignin").click(function () {

          // 회원가입 로직
          $("form").attr("method", "post").attr("action", "/user/addUser").submit();

        });

      });

    </script>

    <title>정보기입</title>
</head>

<body>

    <div id="join" class="container-fluid">
        <div class="row mb-4 text-center">
            <h3>회원가입</h3>
        </div>
        <form>
            <!--    아이디 주석-->
            <div class="row mb-4 text-center">
                <div class="col-3">아이디</div>
                <div class="col-3"><input type="text" class="form-control" name="username"></div>
            </div>
            <!--        비밀번호 주석-->
            <div class="row mb-2 text-center">
                <div class="col-3">비밀번호</div>
                <div class="col-3"><input type="password" placeholder="password" class="form-control" name="password">
                </div>
            </div>

            <!--    비밀번호 확인 주석-->
            <div class="row mb-2 text-center">
                <div class="col-3">비밀번호확인</div>
                <div class="col-3">
                    <input type="password" placeholder="비밀번호확인" class="form-control" id="password2" name="password2">
                </div>
            </div>

            <!--    이메일 주석-->
            <div class="row mb-2 text-center">
                <div class="col-3">이메일</div>
                <div class="col-3"><input type="text" placeholder="abc@abc.com" class="form-control" id="userinfo-email"></div>
            </div>

            <!-- 생년월일 -->
            <div class="row mb-2 text-center">
                <div class="col-3">생년월일</div>
                <div class="col-3"><input type="date" class="form-control" id="birth" name="birth"></div>
            </div>

            <!-- 성별 -->
            <div class="row mb-2 text-center">
                <div class="col-3">성별</div>
                <div class="col-3">
                    <input type="radio" class="form-check-input" name="gender" value="F">여자</input>
                    <input type="radio" class="form-check-input" name="gender" value="M">남자</input>
                </div>
            </div>

            <!-- 추천자 아이디 -->
            <div class="row mb-2 text-center">
                <div class="col-3">추천자 아이디</div>
                <div class="col-3">
                    <input type="text" placeholder="추천자 아이디 입력" class="form-control" id="recommendedId" name="recommendedId">
                </div>
            </div>

        </form>


        <div id="edit-footer" class="container-fluid text-center">
            <button type="button" class="btn btn-primary" id="btnSignin">등록</button>
            <button type="button" class="btn btn-outline-secondary">취소</button>
        </div>

    </div>

</body>

</html>