<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/user/loginView.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Place Here</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">

    <script type="text/javascript">
      $(document).ready(function() {

        $("#btnLogin").click(function(e) {

          let username = document.getElementById("username").value;
          let password = document.getElementById("password").value;


          alert("456");
          let sendData = {};

          sendData.username = username;
          sendData.password = password;

          console.log( "sendData chk :: " + JSON.stringify(sendData));

          // 시작
          // 로그인 버튼 클릭 시 AJAX로 /login 요청
          e.preventDefault(); // 기본 a 태그 동작 방지

          $.ajax({
            url: 'login', // 로그인 페이지를 요청
            type: 'POST', // GET 방식
            data: sendData,
            success: function(response) {
              // 로그인 페이지 HTML을 받아오면 여기에 표시
              $('body').html(response);
            },
            error: function(xhr, status, error) {
              console.error("Error:", status, error);
            }
          });
        });
      });

    </script>


</head>
<body>
<div class="container">
    <main>
        <div class="login-form">
            <h2>Place Here</h2>
            <form th:action="@{/login}" method="post">
                <div class="input-group">
                    <label for="username">ID</label>
                    <input type="text" id="username" name="username" placeholder="아이디를 입력하세요" required>
                </div>
                <div class="input-group">
                    <label for="password">PASSWORD</label>
                    <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요" required>
                </div>
                <button type="submit" id="btnLogin">로그인</button>
            </form>
            <div class="links">
                <a href="/register">회원가입</a>
                <a href="/reset-password">비밀번호 재설정</a>
            </div>
        </div>
    </main>
</div>
</body>
</html>
