<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!--  <link rel="stylesheet" href="/css/user/loginView.css">-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Place Here</title>
  <link rel="stylesheet" th:href="@{/css/user/loginView.css}">


</head>
<body>
<div class="container">
  <main>
    <div class="login-form">

      <div class="logo">
        <a id="home" href="/">
        <img class="logoImg" src="/images/common/logo.png"/></a>
      </div>

      <form th:action="@{/user/login}" method="post">
        <div class="input-group">
          <label for="username">ID</label>
          <input type="text" id="username" name="username" placeholder="아이디를 입력하세요" required>
        </div>
        <div class="input-group">
          <label for="password">PASSWORD</label>
          <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요" required>
        </div>


        <button type="submit" id="btnLogin">로그인</button>
      </form>

      <div class="links">
        <a href="/user/selectRole">회원가입</a>
        <a href="/user/resetPwdValidation">비밀번호 재설정</a>
      </div>


    </div>
  </main>
</div>
</body>
</html>