<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/user/selectRole.css}">
    <title>역할 선택</title>

    <script src="/javascript/user/selectRole.js"></script>

</head>
<body>

    <div class="container">

        <div class="title">역할선택 ( 일반/점주 )</div>

        <div class="optionLayout">

            <!-- 택1 -->
            <button class="button" onclick="selectOption(this, 'user')">일반회원</button>
            <button class="button" onclick="selectOption(this, 'store')">점주회원</button>
        </div>

        <form id="roleForm" method="GET" action="/user/join">

            <input type="hidden" name="role" id="selectedRole">

            <div class="submit">
                <!-- 다음 버튼 클릭 시 폼을 제출 -->
                <button type="submit" class="next">다음</button>
                <button type="button" class="cancel">
                    <a href="/"></a>
                    취소
                </button>
            </div>


        </form>


    </div>
</body>
</html>
