<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div sec:authorize-expr="isAuthenticated()">
    <p th:if="${#authentication != null and #authentication.name == 'anonymousUser'}">
        You are logged in as anonymousUser.
    </p>
</div>

<!--<p th:text="${#authentication.name}"></p>-->
<!--<p th:text="${#authentication.authorities}"></p>-->
<!--<p th:text="${#authentication.authenticated}"></p>-->
</body>
</html>