
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
    <meta http-equiv="Cache-Control" content="post-check=0, pre-check=0">
    <meta http-equiv="Pragma" content="No-Cache">

    <title>설정</title>

    <script type="text/javascript" src="/inc/common/js/jquery.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="/inc/user/css/account.min.css?r=240906"> -->
<!--    <link href="https://nid.naver.com/favicon_1024.png" rel="apple-touch-icon-precomposed" sizes="1024x1024" />-->
    <script type="text/javascript" src="/inc/common/js/lcslog.js?r=20221103"></script>
    <script type="text/javascript" src="/inc/common/js/nclk_v0.8.1.js?r=20221103"></script>
    <script type="text/javascript" src="/inc/common/js/ko/commonUtil.js?20240221"></script>
    <script type="text/javascript" src="/inc/common/js/lua.js?r=20220411"></script>
    <script type="text/javascript" src="/inc/esign/js/agent_check.js?r=220411"></script>


    <script type="text/javascript">
      var gnbBrightness = 1;


      var gnb_option = {
        gnb_service : "nid",
        gnb_template : "gnb_utf8",
        gnb_logout : encodeURIComponent("https://nid.naver.com/user2/help/myInfoV2?lang=ko_KR"),
        gnb_brightness : gnbBrightness,
        gnb_one_naver : 0,
        gnb_item_hide_option : 0
      }

      lcs_do();

      function gnbClose(){
        $('#wrap').click(function(e){
          if( !$('#gnb').has(e.target).length ){
            gnbAllLayerClose();
          }
        });
      }
      //120919 win8 이슈 대응 : capslock 자동설정해제
      document.msCapsLockWarningOff = true;
      function setContainerHeight(height) {}
      function clearDocs(){}
    </script>
    <meta name="decorator" content="NEW_USER_MYINFO_V2">
    <script type="text/javascript">
      var g_ssc = "my.protect" + "";
      var ccsrv = "cc.naver.com";
    </script>
</head>


<body onclick="clearDocs(); gnbClose();" id="mainBody" class="bgother">
<div id="wrap" class="wrap naverid" >
    <!-- skip navigation -->
    <link rel="stylesheet" th:href="@{/css/user/setting.css}">
    <!-- //skip navigation -->

    <header class="header" role="banner" >
        <div class="header_subindex">


            <!--프로필-사진,아이디,메일주소,2단계인증알림-->
            <div class="profile_area">

                <div class="header_left" >

                    <ul class="left_menu" role="menu">
                        <li>
                            <a href="/user2/help/myInfoV2?m=viewProfile&lang=ko_KR" class="left_item" role="menuitem" onclick="nclk(this,'lnb.info','','',event)"
                               aria-current=>
                            </a>
                        </li>
                        <li>
                            <div class="menu_text on">계정 설정</div>
                        </li>
                    </ul>
                </div>

                <div class="profile_inner">
                    <a href="#" onclick="changeImage()" class="photo">
                        <img src="https://phinf.pstatic.net/contact/20180510_205/1525930147706nu3jQ_PNG/avatar_profile.png?type=s160" width="84"
                             height="84" alt="프로필 이미지">
                        <span class="photo_edit"></span>
                    </a>
                    <div class="profile">
                        <th:if #{user !=" null"}>
                            <p class="username">[[ ${user.username} ]]</p>
                            <p class="email">[[ ${user.email} ]]</p>

                            <p th:if="${user.gender == 'F'}" class="gender" >여성👩</p>
                            <p th:if="${user.gender == 'M'}" class="gender" >남성👨</p>
                            <p class="birth" th:text="${#dates.format(user.birth, 'yyyy-MM-dd')}"></p>
<!--                            <p class="birth">[[ ${user.birth} ]]</p>-->
                        </th:if>
                    </div>
                </div>
            </div>

            <div id="headerLeft" class="header_left">

                <ul class="left_menu" role="menu">
                    <li>
                        <a href="/user2/help/myInfoV2?m=viewProfile&lang=ko_KR" class="left_item" role="menuitem" onclick="nclk(this,'lnb.info','','',event)"
                           aria-current=>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <script>
      var rurl = encodeURIComponent(document.location.href);
      var rawRurl = document.location.href;
      var myInfoV2HomeUrl = encodeURIComponent("https://nid.naver.com/user2/help/myInfoV2?lang=" + "ko_KR");

      // 작은 화면 - 영문일 때 메뉴 텍스트 길이 짤리지 않도록
      if (window.innerWidth <= 385) {
        var lnbAreaScrollLeft = $('#lnbArea').scrollLeft();
      }

      function changeImage() {
        nclk(this,'nid.prfedit','','',event);
        document.location.href = "/user2/help/naverProfile?lang=ko_KR&returnUrl=" + rurl;
      }

      function landscapeHandler() {
        if (window.innerWidth <= window.innerHeight) {
          $('body').removeClass('landscape');
          $('div .container').addClass('floating');
        } else {
          $('body').addClass('landscape');
          $('div .container').removeClass('floating');
        }
      }

      function logout() {
        nclk(this,'fot.logout','','',event);
        if (confirm("로그아웃 하시겠습니까?") == true) {
          var returnUrl;
          returnUrl = "https://nid.naver.com/nidlogin.logout?url=" + myInfoV2HomeUrl;
          $(location).attr('href', returnUrl);
        }
      }

      function goHelpPage() {
        nclk(this,'fot.help','','',event);
        document.location.href = "https://help.naver.com/alias/membership/p.membership/main.naver";
      }

      function changeLanguage() {
        var baseUrl = "/user2/help/myInfoV2?";

        baseUrl += "m=viewSecurity&";

        nclk(this,'fot.english','','',event);
        baseUrl += "lang=en_US";
        document.location.href = baseUrl;
      }

      function toggleLeftLangSelectList() {
        nclk(this, 'fot.lang', '', '', event);

        var leftLangSelectListBtn = $("#leftLangSelectListBtn");
        if (leftLangSelectListBtn.attr("aria-expanded") === "true") {
          leftLangSelectListBtn.attr("aria-expanded", "false");
          leftLangSelectListBtn.removeClass("fold");
        } else {
          leftLangSelectListBtn.attr("aria-expanded", "true");
          leftLangSelectListBtn.addClass("fold");
        }

        $("#leftLangSelectList").toggle();
      }

      function goSimpleSignIn() {
        nclk(this,'fot.simplesignin','','',event);
        document.location.href = "https://nid.naver.com/nidlogin.login?svctype=262144&url=" + myInfoV2HomeUrl;
      }
    </script>
    <div id="container" class="container">
        <!-- container -->
        <div id="content" class="content">
            <div class="subindex_wrap" role="main">

                <div id="headerTop" class="path_area">
                    <div id="gnb" class="" style="float:right;">
                        <script type='text/javascript' charset='utf-8'
                                src='https://static.nid.naver.com/templates/gnb_utf8?2024. 11. 14'>
                        </script>
                    </div>
                </div>
                <!--기본보안설정-->
                <div class="subindex_item">
                    <div class="subindex_greenbox">
                        <div class="info_title">
                            <h3 class="title_text">설정</h3>
                            <a href="javascript:;" id="info1" class="link_info" aria-expanded="false"><span class="blind">도움말</span></a>

                            <div id="info1ToolTip" class="info_tooltip" aria-hidden="true" style="display: none;">
                                <strong class="info_head">비밀번호</strong>
                                <p class="info_desc">네이버에 로그인할 때 사용하는 비밀번호를 변경할 수 있어요. 다른 사람이 알 수 없는 비밀번호로 설정해 주세요.</p>
                                <strong class="info_head">2단계 인증</strong>
                                <p class="info_desc">핸드폰으로 알림을 발송하여 회원님이 허락할 때만 로그인할 수 있는 보안 기능입니다. 네이버 아이디를 보호하기 위해 2단계 인증을 꼭 설정해 주세요.</p>
                                <button type="button" id="infoExit1" class="btn_exit"><span class="blind">닫기</span></button>
                            </div>

                        </div>

                        <ul class="subindex_row">
                            <li>
                                <div class="row_item lock">
                                    <span class="item_text">비밀번호 재설정</span>
<!--                                    <button type="button" class="btn_edit" onclick="goChangePassword()">-->
                                    <button type="button" class="btn_edit" onclick="goChangePassword()">
                                        <span class="text">수정</span>
                                    </button>
                                </div>
                            </li>

                            <li>
                                <div class="row_item step">
                                    <span class="item_text">회원탈퇴</span>
                                    <button type="button"
                                            class="btn_accent"
                                            onclick="excuteNclicksAs2StepVerification();go2StepVerification()">
                        <span class="text">
                                탈퇴
                        </span>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--//-->







                <script type="text/javascript" src="/inc/user/js/loginSafetyV2_security.js?r=220304"></script>
                <script>
                  window.onpageshow = function() {
                    if (window.performance && window.PerformanceNavigation && performance.navigation.type === PerformanceNavigation.TYPE_BACK_FORWARD) {
                      document.getElementById("selTp1Option" + loginSafetyInfo.info.userRegion1).selected = "true";
                      document.getElementById("selTp2Option" + loginSafetyInfo.info.userRegion2).selected = "true";
                    }
                  }

                  $(document).ready(function () {
                    loginSafety.init(loginSafetyInfo.info, loginSafetyInfo.message, loginSafetyInfo.dom, loginSafetyInfo.method, loginSafetyInfo.url);

                    var that = this;
                    var nClickCodeArray = ["help", "blockhelp", "pprotecthelp", "sidhelp", "signinnotihelp"];
                    $("a[id^='info']").click(function() {
                      var $this = $(this);
                      var infoId = $this.attr("id").substr(4,1);
                      if($(this).attr("aria-expanded") == "false"){
                        nclk(that,'pmn.' + nClickCodeArray[infoId -1],'','',event);
                      }
                    })
                  });

                  var loginSafetyInfo = {
                    info: {
                      regionList: [
                        {val: "", text: "지역선택 "}
                        , {val: "01", text: "서울시/인천시/경기도"}
                        , {val: "02", text: "강원도"}
                        , {val: "03", text: "대전시/세종시/충청남도"}
                        , {val: "04", text: "충청북도"}
                        , {val: "05", text: "대구시/경상북도"}
                        , {val: "06", text: "부산시/울산시/경상남도"}
                        , {val: "07", text: "전북도"}
                        , {val: "08", text: "광주시/전라남도"}
                        , {val: "09", text: "제주도"}
                      ],
                      lang: "ko_KR",
                      token: "8TmJbeT1hzM27X80",
                      useNewDeviceAlarm : false,
                      useAbroadIpBlock: true,
                      useRegionIpBlock: false,
                      userRegion1: "",
                      userRegion2: "",
                      beforeUserRegion1: "",
                      beforeUserRegion2: ""
                    },

                    url: {
                      securityMainUrl: "/user2/help/myInfoV2?m=viewSecurity&lang=ko_KR"
                    },

                    message: {
                      temporaryAccessErr: "일시적인 오류입니다. 잠시 후 다시 시도해 주세요.",
                      pleaseSelectRegion: "지역을 선택해 주세요 ",
                      releaseRegionIpBlockFirst: "타지역 설정 해제 후, 변경이 가능합니다."
                    },

                    dom: {
                      $regionIpPanel: $("#divRegionIp"),
                      $regionIpBlockBtn: $("#regionIp"),
                      $regionSelBox1: $("#selTp1"),
                      $regionSelBox2: $("#selTp2"),
                      $newDeviceAlarmBtn : $("#newDevice"),
                      $abroadIpBlockBtn: $("#abroadIp")
                    },

                    method: {
                      turnOnBtn: function ($btn) {
                        $btn.prop("checked", true);
                        if ($btn.attr('id') === 'regionIp') {
                          $('#regionIp_toggle_switch_on').attr('aria-checked', 'true');
                          $('#regionIp_toggle_switch_off').attr('aria-checked', 'false');
                        } else if ($btn.attr('id') === 'abroadIp') {
                          $('#abroadIp_toggle_switch_on').attr('aria-checked', 'true');
                          $('#abroadIp_toggle_switch_off').attr('aria-checked', 'false');
                        } else if($btn.attr('id') === 'newDevice') {
                          $('#newDevice_toggle_switch_on').attr('aria-checked', 'true');
                          $('#newDevice_toggle_switch_off').attr('aria-checked', 'false');
                        }
                      },

                      turnOffBtn: function ($btn) {
                        $btn.prop("checked", false);
                        if ($btn.attr('id') === 'regionIp') {
                          $('#regionIp_toggle_switch_on').attr('aria-checked', 'false');
                          $('#regionIp_toggle_switch_off').attr('aria-checked', 'true');
                        } else if ($btn.attr('id') === 'abroadIp') {
                          $('#abroadIp_toggle_switch_on').attr('aria-checked', 'false');
                          $('#abroadIp_toggle_switch_off').attr('aria-checked', 'true');
                        } else if($btn.attr('id') === 'newDevice') {
                          $('#newDevice_toggle_switch_on').attr('aria-checked', 'false');
                          $('#newDevice_toggle_switch_off').attr('aria-checked', 'true');
                        }
                      },

                      isTurnOn: function ($btn) {
                        return $btn.prop("checked");
                      }
                    }
                  };

                  function goChangePassword() {
                    document.location.href = "/user/resetPwd";
                  }

                  function changeSecretId() {
                    document.location.href = "/user2/help/secretId?lang=ko_KR"
                  }

                  function deleteSecretId() {
                    nclk(this,'pmn.siddelete','','',event);
                    if (!confirm("정말 해제하시겠습니까?\n안전한 네이버 사용을 위해서는 로그인 전용 아이디를 사용하시는 것이 좋습니다.\n\n해제 후에는 기존 네이버 아이디(tndufqnswk)로 다시 로그인 해주세요.")) {
                      return;
                    }
                    document.location.href = "/user2/help/secretId?m=actionReleaseSecretId&token_help=8TmJbeT1hzM27X80&lang=ko_KR";
                  }

                  function goPrivacyProtection() {
                    document.location.href = "/user2/private/auth/setup";
                  }

                  function excuteNclicksAs2StepVerification() {
                    nclk(this,'pmn.otpsetting','','',event)
                  }

                  function excuteNclicksAsRegionIp() {
                    var $regionIp = $("#regionIp");
                    if ($regionIp.is(":checked")) {
                      nclk(this, 'pmn.blockregionon', '', '', event)
                    } else {
                      nclk(this, 'pmn.blockregionoff', '', '', event)
                    }
                  }

                  function excuteNclicksAsAbroadIp() {
                    var $abroadIp = $("#abroadIp");
                    if ($abroadIp.is(":checked")) {
                      nclk(this, 'pmn.blockabroadon', '', '', event)
                    } else {
                      nclk(this, 'pmn.blockabroadoff', '', '', event)
                    }
                  }

                  function excuteNclicksAsNewDevice() {
                    var $newDevice = $("#newDevice");
                    if ($newDevice.is(":checked")) {
                      nclk(this, 'pmn.signinnotion', '', '', event)
                    } else {
                      nclk(this, 'pmn.signinnotioff', '', '', event)
                    }
                  }

                  function toggleNewEnvironmentNotificationExplain() {
                    var newEnvironmentNotificationExplain = document.getElementById("newEnvironmentNotificationExplain");
                    var newEnvironmentNotificationButton = document.getElementById("newEnvironmentNotificationButton");
                    if(newEnvironmentNotificationExplain.style.display == "none") {
                      nclk(this,'pmn.newenvhelp','','',event)
                      displayObj("newEnvironmentNotificationExplain");
                      newEnvironmentNotificationButton.ariaExpanded = "true";
                    } else {
                      hiddenObj("newEnvironmentNotificationExplain");
                      newEnvironmentNotificationButton.ariaExpanded = "false";
                    }
                  }

                  function goRegisteredDevicesList() {
                    nclk(this, 'pmn.registerdevcheck', '', '', event)
                    document.location.href = "/user2/help/userLoginLog?m=viewRegistedDevice&token_help=8TmJbeT1hzM27X80";
                  }
                </script>


                <script>

                  function goSmartBotChat() {
                    nclk(this,'fot.smartbot','','',event);
                    document.location.href = "https://nca.naver.com/chat/account/view";
                  }

                  function goMemberTalkTalk() {
                    nclk(this,'fot.membertalktalk','','',event);
                    document.location.href = "https://talk.naver.com/ct/wc4bsu#nafullscreen";
                  }
                </script>            </div>

            <script>

              function toggleLangSelectList() {
                nclk(this, 'fot.lang', '', '', event);

                var langSelectListBtn = $("#langSelectListBtn");
                if (langSelectListBtn.attr("aria-expanded") === "true") {
                  langSelectListBtn.attr("aria-expanded", "false");
                  langSelectListBtn.removeClass("fold");
                } else {
                  langSelectListBtn.attr("aria-expanded", "true");
                  langSelectListBtn.addClass("fold");
                }

                $("#langSelectList").toggle();
              }

              $("#leftLangSelectList .lang_item").click(function() {
                var $this = $(this);
                if ($this.attr("aria-selected") === "true") {
                  var leftLangSelectListBtn = $("#leftLangSelectListBtn");
                  leftLangSelectListBtn.attr("aria-expanded", "false");
                  leftLangSelectListBtn.removeClass("fold");
                  $("#leftLangSelectList").hide();

                  nclk(this,'fot.korean','','',event);

                  return;
                }
                changeLanguage();
              });

              $("#langSelectList .lang_item").click(function() {
                var $this = $(this);
                if ($this.attr("aria-selected") === "true") {
                  var langSelectListBtn = $("#langSelectListBtn");
                  langSelectListBtn.attr("aria-expanded", "false");
                  langSelectListBtn.removeClass("fold");
                  $("#langSelectList").hide();

                  nclk(this,'fot.korean','','',event);

                  return;
                }
                changeLanguage();
              });
            </script>        </div>
        <!-- //container -->
    </div>
</div>
<!--팝업딥드-->
<div id="dimmed2" class="dimmed" aria-hidden="true" style="display:none;"></div>
<!--팝업내용-->
<div id="twoStepVerificationPopUpLayer" class="layer" style="display:none;">
    <div class="popup_layer">
        <div class="popup_layer_inner">
            <div class="popup_content">
                <!--팝업콘텐츠영역-->
                <div class="contact_2step_popup" style="width:329px;">
                    <h4 class="contact_edit_title">
                        새로운 <strong class="bold">2단계 인증</strong>으로 바꿔 보세요.<br>
                        "번거로운 숫자 대신, 한번의 클릭"
                    </h4>
                    <div class="contact_edit_desc">
                        보안성은 그대로, 편리함을 더한 새로운 '2단계 인증'으로 바꿔 보세요.
                        스마트 기기 알림 화면에서 '예' 버튼만 클릭하면 안전하게 로그인할 수 있습니다.
                        새로운 기능 제공으로 현재 OTP 관리 기능은 지원하지 않습니다.
                    </div>
                    <div class="contact_edit_desc">
                        <strong>OTP 로그인을 해제한 후, 2단계 인증을 설정하세요.</strong>
                    </div>
                    <div class="btn_duo_popup ratio">
                        <a href="/user2/help/2StepVerif?m=viewReleaseSettings&token_help=8TmJbeT1hzM27X80&lang=ko_KR"
                           class="btn_item on" role="button" onclick="nclk(this,'2fc.otprelease','','',event)">
                            <span class="btn_text">OTP 해제하기</span>
                        </a>
                        <a href="javascript:;" class="btn_item" role="button" onclick="nclk(this,'2fc.otplater','','',event);hide2StepVerificationPopUp()">
                            <span class="btn_text">나중에 하기</span>
                        </a>
                    </div>
                    <button type="button" class="close_popup" onclick="nclk(this,'2fc.otprx','','',event);hide2StepVerificationPopUp()"><span
                            class="blind">닫기</span></button>
                </div>
                <!-- // -->
            </div>
        </div>
    </div>
</div>

<script>
  function show2StepVerificationPopUp() {
    displayObj('dimmed2');
    displayObj('twoStepVerificationPopUpLayer');
    document.getElementById("wrap").classList.add("is_fixed");
  }

  function hide2StepVerificationPopUp() {
    hiddenObj('dimmed2');
    hiddenObj('twoStepVerificationPopUpLayer');
    document.getElementById("wrap").classList.remove("is_fixed");
  }

  function go2StepVerification() {
    var twoStepVerifBaseUrl = "/user2/help/2StepVerif?";


    twoStepVerifBaseUrl += "m=viewGuide&token_help=8TmJbeT1hzM27X80&lang=ko_KR";

    document.location.href = twoStepVerifBaseUrl;
  }
</script>
<script type="text/javascript">
  getGNB();

  window.onresize = function() {
    setContainerHeight(document.getElementById('content').clientHeight);
  }

  function landscapeHandler() {
    var headerLeft = document.querySelector("#headerLeft")
    var headerTop = document.querySelector("#headerTop");
    if (window.innerWidth >= 1024) {
      headerLeft.ariaHidden = "false";
      headerTop.ariaHidden = "false";
    } else {
      headerLeft.ariaHidden = "true";
      headerTop.ariaHidden = "true";
    }
  }

  $(document).ready(function(){
    landscapeHandler();

    $("a[id^='info']").click(function () {
      var $this = $(this);
      if($this.attr("aria-expanded") === "true"){
        $this.attr("aria-expanded", "false");
        var info = "#" + $this.attr("id");
        var infoToolTip = $(info + "ToolTip");
        infoToolTip.attr("aria-hidden", "true");
        infoToolTip.css("display", "none");
      } else {
        $this.attr("aria-expanded", "true");
        var infoToolTip = $("#" + $this.attr("id") + "ToolTip");
        infoToolTip.attr("aria-hidden", "false");
        infoToolTip.css("display", "block");
      }
    })

    $("button[id^='infoExit']").click(function () {
      var info = "#info" + $(this).attr("id").substr(8, 1);
      $(info).attr("aria-expanded", "false");
      var infoToolTip = $(info + "ToolTip");
      infoToolTip.attr("aria-hidden", "true");
      infoToolTip.css("display", "none");
    })

    // https://stackoverflow.com/questions/47226824/iphonex-and-notch-detection
    // Really basic check for the ios platform
    // https://stackoverflow.com/questions/9038625/detect-if-device-is-ios
    var iOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;

    // Get the device pixel ratio
    var ratio = window.devicePixelRatio || 1;

    // Define the users device screen dimensions
    var screen = {
      width : window.screen.width * ratio,
      height : window.screen.height * ratio
    };

    // iPhone X Detection
    if (iOS && screen.width == 1125 && screen.height === 2436) {
      document.getElementById("mainBody").style.padding =
        "env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left)";
    }
  });

  var timer; // 디바운싱
  window.addEventListener('resize', function () {
    clearTimeout(timer);
    timer = setTimeout(landscapeHandler, 300);
  });

</script>
</body>
</html>
