<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.na/thymeleaf/layout"
      layout:decorate="~{layouts/default}" xmlns="http://www.w3.org/1999/html">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>PlaceHere</title>

        <link rel="stylesheet" href="/css/templates/collection_detail.css">
        <link rel="stylesheet" href="/css/templates/regist_hp.css">

        <link rel="stylesheet" href="/css/store/getClosedayList.css">

    </head>

    <body>

        <div id="root">

            <!-- 휴무일 등록에 대한 메세지 -->
            <input type="hidden" name="message" th:value="${message}">

            <!-- 휴무일 등록 -->
            <form name="addCloseday">

                <input type="hidden" name="userName" th:value="${store.userName}">
                <input type="hidden" name="storeId" th:value="${store.storeId}">
                <input type="hidden" name="mode" value="closeday">
                <input type="hidden" name="fnc" value="add">

                <div class="css-y8aj3r eo6ykj40">

                    <div class="css-1pjgd36 e744wfw6">
                        <div class="css-82a6rk e744wfw3">
                            <h2>
                                <label class="css-1obgjqh e744wfw4" style="font-size: 20px;" for="closeday">
                                    휴무일 등록
                                    <p class="font-12 color-gray mt-10">예약이 있는 날짜는 등록이 불가능합니다.</p>
                                </label>
                            </h2>
                        </div>
                        <div class="css-82a6rk e744wfw3">
                            <div class="css-jmalg e1uzxhvi6">
                                <div class="css-176lya2 e1uzxhvi3 under-name-block">
                                    <input class="css-1bkd15f e1uzxhvi2" id="closeday"
                                           name="closeday" type="date"
                                           th:min="${today}"
                                           th:value="${today}">
                                </div>
                            </div>
                        </div>
                        <div class="css-1w0ksfz e744wfw2">
                            <button class="css-ufulao e4nu7ef3 checkBtn" name="addCloseday" type="button">
                                <span class="css-ymwvow e4nu7ef1 checked_nick_btn">등록</span>
                            </button>
                        </div>
                    </div>

                </div>

            </form>

            <br/><br/><br/><br/>

            <!-- 휴무일 목록 -->
            <form name="getAndRemoveCloseday">

                <input type="hidden" name="userName" th:value="${store.userName}">
                <input type="hidden" name="storeId" th:value="${store.storeId}">
                <input type="hidden" name="mode" value="closeday">
                <input type="hidden" name="fnc">
                <input type="hidden" name="closedayId" disabled>
                <input type="hidden" name="page">

                <div class="css-y8aj3r eo6ykj40">

                    <div class="css-1pjgd36 e744wfw6">
                        <div class="css-82a6rk e744wfw3">
                            <h2>
                                <label class="css-1obgjqh e744wfw4" style="font-size: 20px;">
                                    휴무일 목록
                                </label>
                            </h2>
                        </div>

                        <div class="css-82a6rk e744wfw3">
                            <div class="css-jmalg e1uzxhvi6">
                                <div class="css-176lya2 e1uzxhvi3">
                                    <input class="css-1bkd15f e1uzxhvi2"
                                           id="startDate" name="startDate"
                                           type="date" style="width: 45%;"
                                           th:max="${search.endDate}"
                                           th:value="${search.startDate}">
                                    ~
                                    <input class="css-1bkd15f e1uzxhvi2"
                                           id="endDate" name="endDate"
                                           type="date" style="width: 45%;"
                                           th:min="${search.startDate}"
                                           th:value="${search.endDate}">
                                </div>
                            </div>
                        </div>
<!--                        <div class="css-1w0ksfz e744wfw2">-->
<!--                            <button class="css-ufulao e4nu7ef3 checkBtn" name="getClosedayList" type="button">-->
<!--                                <span class="css-ymwvow e4nu7ef1 checked_nick_btn">검색</span>-->
<!--                            </button>-->
<!--                        </div>-->
                    </div>

                </div>

                <br/><br/>

                <table border="1" class="listTable">
                    <thead>
                    <tr>
                        <th colspan="3">휴무일</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="closeday, iterStat : ${closedayList}">
                        <td th:text="${iterStat.count}">No</td>
                        <td th:text="${closeday.closeday}">휴무일</td>
                        <td>
                            <button name="removeCloseday" th:attr="data-closedayid=${closeday.closedayId}" type="button">삭제</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </form>

            <th:block th:insert="~{common/paging :: pagingFragment}"></th:block>

        </div>

    </body>

</html>