<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <title>PlaceHere</title>

        <link th:insert="~{test/store/importTest :: importFragment}">

        <link href="/css/templates/mypage.css" rel="stylesheet">
        <link href="/css/templates/collection_detail.css" rel="stylesheet">
        <link href="/css/templates/style.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<!--        <script src="/javascript/templates/profileFollow.js"></script>-->
        <script src="/javascript/templates/script.js" type="text/javascript"></script>

        <script type="text/javascript" src="/javascript/store/getMyStore.js"></script>

        <style>
            .social {
                margin-top: 14px;
                display: flex;
                gap: 20px;
                min-width: 50%;
                justify-content: flex-start;
                margin-left: 45px;
            }

            .social a {
                display: flex;
                width: 32px;
                height: 32px;
                border: 1px solid #c8c8c8;
                box-sizing: border-box;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
            }

            .mypage-profile-meta {
                display: flex;
            }

            body {
                scrollbar-color: white;
                scrollbar-width: none;
                -ms-overflow-style: none;
                overflow-x: hidden;
            }

            .header-wrap {
                top: -6.5px;
                right: 8px;
            }
            
        </style>

    </head>

    <body>
        <div id="root">

            <header id="header">
                <div th:insert="~{common/header}"></div>
            </header>

            <input type="hidden" id="mode" th:value="${mode}">

            <div class="css-luwwab eug5r8l1">
                <div class="css-833hqy ecbxmj4">
                    <div class="side">
                        <div class="css-1v4whg ecbxmj3">가게 관리</div>
                        <div th:replace="~{store/getMyStoreAside :: getMyStoreAside}"></div>
                    </div>
                </div>
                <div class="css-171zbec eug5r8l0">
                    <div class="css-j0lifa ed9qr673">
                        <div class="css-fhxb3m ed9qr672">
                            <h2 class="css-1268zpe ed9qr671">[[${store.userName}]] 님의 가게 보기</h2>
                        </div>
                    </div>


                    <main id="main">
                        <section class="section section-overflow-hidden pt-24">
                            <div class="container  ">
                                <div class="mypage-profile">
                                    <div class="profile-pic">

                                        <!-- TODO 매장 대표 사진 나오게 수정 필요 -->
                                        <div class="img"
                                             style="margin-top: 20px;background-image: url(&quot;https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp_v2/img/noimg/profile_default_v2.png&quot;);">
                                        </div>

                                    </div>
                                    <div class="mypage-profile-meta">
                                        <div>
                                            <h4 class="name username"><span class="txt" id="followingNick"
                                                                            style="max-width: none;"
                                                                            th:text="${store.storeName}">매장명</span>
                                            </h4>

                                            <br/>

                                            <div class="meta">
                                                <div class="profile-summary">
                                                <div class="color-gray" th:text="${store.storeAddr}">
                                                    서울
                                                </div>

                                                <br/>

                                                <a th:href="'/store/getMyStore?mode=review&userName='+${store.userName}">

                                                        <div class="__avr-rate">
                                                            <div class="stars">
                                                              <span class="star full" style="width: 20px; height: 20px; margin-right: 8px;"></span>
                                                            </div>
                                                            <span th:text="${store.reviewScoreAvg+'&ensp;( '+store.reviewCnt+' )'}" style="font-weight: normal">리뷰 별점</span>
                                                        </div>
                                                </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mypage-profile--desc" style="display: block;">
                                            <div class="__desc">
                                                <p class="expand" id="introduce_p"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </section>

                        <hr class="separator mt-28">

                        <section class="section section-overflow-hidden">
                            <div class="profile-summary">

                                <h1>여기서 부터 인클루드</h1>

                                <!-- 매장 소식 -->
                                <th:block th:if="${mode == 'news'}" th:insert="~{test/store/getStoreNewsListTest}"></th:block>

                                <!-- 휴무일 -->
                                <th:block th:if="${mode == 'closeday'}" th:insert="~{test/store/getClosedayListTest}"></th:block>

                                <!-- 리뷰 보기 -->
                                <th:block th:if="${mode == 'review'}">

                                <dl class="__block">
                                    <dt>평균 별점</dt>
                                    <dd>
                                        <div class="__avr-rate"><strong th:text="${store.reviewScoreAvg}">5</strong>
                                            <div class="stars">
                                                        <span class="star full"
                                                              style="width: 20px; height: 20px; margin-right: 8px;"></span>
                                                <span class="star full"
                                                      style="width: 20px; height: 20px; margin-right: 8px;"></span>
                                                <span class="star full"
                                                      style="width: 20px; height: 20px; margin-right: 8px;"></span>
                                                <span class="star full"
                                                      style="width: 20px; height: 20px; margin-right: 8px;"></span>
                                                <span class="star half"
                                                      style="width: 20px; height: 20px; margin-right: 8px;"></span>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                                <dl class="__block">
                                    <dt>활동 지역</dt>
                                    <dd>
                                        <div class="color-gray"
                                             th:text="${store.storeAddr} == null ? '아직 활동지역이 없습니다.': ${store.storeAddr}">
                                            서울
                                        </div>
                                    </dd>
                                </dl>

                                </th:block>

                            </div>

                            <hr class="separator mt-28">

                        </section>

                    </main>

                </div>

            </div>

        </div>

    </body>

</html>
