<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>PlaceHere</title>

        <link rel="stylesheet" href="/css/templates/style.css">

        <th:block th:if="${mode == 'review'}">
            <link rel="stylesheet" href="/css/templates/mypage.css">
            <link rel="stylesheet" href="/css/templates/collection_detail.css">
            <link rel="stylesheet" href="/css/templates/style.css">
            <script type="text/javascript" src="/javascript/templates/script.js"></script>

            <script src="/javascript/community/like.js"></script>
            <link rel="stylesheet" href="/css/community/getReviewList.css">
        </th:block>

        <div id="ch-plugin" class="notranslate">
            <div id="ch-plugin-core"></div>
            <div id="ch-plugin-script" style="display:none" class="ch-messenger-hidden">
                <iframe id="ch-plugin-script-iframe"
                        style="position:relative!important;height:100%!important;width:100%!important;border:none!important;"></iframe>
            </div>
        </div>

        <link th:insert="~{common/import :: importFragment}">

        <link href="/css/templates/mypage.css" rel="stylesheet">

        <!-- 구글 맵 -->
        <script defer th:src="'https://maps.googleapis.com/maps/api/js?key='+${googleApi}+'&callback=initMap'"></script>

        <!-- ChartJs -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>

        <script type="module" src="/javascript/store/getStore.js"></script>

<!--        <link rel="stylesheet" href="/css/store/getStoreNewsList.css">-->
        <link rel="stylesheet" href="/css/store/getStore.css">

    </head>

    <body>
        <div id="root">

            <div class="css-833hqy ecbxmj4" style="padding-left: 10%;margin-top: 5%;position: sticky">
                <div class="side">
                    <div class="css-1v4whg ecbxmj3">가게 정보</div>
                    <div th:replace="~{store/getStoreAside :: getStoreAside}"></div>
                </div>
            </div>

            <div class="wrapper" id="wrapperDiv" style="max-width: 50%;margin: 0 auto;width: auto;position: relative;background: #fff;min-height: 100%;">

                <!--메인 시작-->
                <main id="main">
                    <section class="restaurant-detail-header mb-40" style="position: relative; z-index: 0;">
                        <div class="video-swiper-wrapper">
                            <div class="swiper swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
                                <div class="img-container" style="position: relative;">
                                    <div class="img swiper-lazy swiper-lazy-loaded">
                                        <img class="guide-img" style="width: 100%; max-height:500px; display: block;"
                                             th:src="${(store.storeImg1.indexOf('_') != -1)? '/images/store/store/'+store.storeImg1 : url + store.storeImg1}">
                                    </div>
                                </div>
                            </div>
                            <th:block th:if="${!(session.user != null && session.user.role == 'ROLE_STORE')}">
                                <a style="cursor: pointer;" id="chat" class="btn-chat"
                                   th:href="${(session.user != null) ? 'https://placehere.store/react/chat?name='+store.userName+'&role='+session.user.role : '/user/login'}">채팅</a>
                                <a style="cursor: pointer" id="like"
                                   th:class="${(session.user == null)? 'btn-like-inactive' : ((like == null)? 'btn-like-inactive' : 'btn-like-active')}"
                                   th:data-likeid="${(like != null)? like.likeId : null}">좋아요</a>
                            </th:block>
                        </div>
                    </section>
                    <section class="section">
                        <div class="container gutter-sm">
                            <div class="restaurant-summary mb-20" style="margin-left: 0;">
                                <div style="display: inline-flex; align-items: center">
                                    <h2 id="resa_bis_name" class="name" th:text="${store.storeName}">
                                        매장명
                                    </h2>
                                    <span style="padding-left: 30px;"
                                          th:text="${(store.storeAddr.split(' ')[1])+ '&ensp;|&ensp;' + (store.foodCategoryId.split('/')[0]+'&ensp;'+((store.foodCategoryId.split('/').length>3) ? store.foodCategoryId.split('/')[3] : ''))}"></span>
                                </div>
                                <p class="slogan" style="line-height: 1.5;"
                                   th:text="${store.storeInfo}">
                                    매장 소개
                                </p>
                            </div>
                            <div class="restaurant-meta mb-16">
                                <div class="rating">
                                    <span class="star" th:text="'&ensp;'+${store.reviewScoreAvg}">리뷰 평균 별점</span>
                                    <span class="count" th:text="|(${store.reviewCnt})|">리뷰개수</span>
                                </div>

                                <div class="storeBasicInfo">
                                    <div class="storeLocation">
                                        <img src="/images/store/icon_location.png" width="18" height="18">
                                        <span th:text="${store.storeAddr}">매장 주소</span>
                                    </div>

                                    <div class="specialMenu">
                                        <img src="/images/store/icon_thumb.png" width="18" height="18">
                                        <span th:text="${store.menuList[store.specialMenuNo -1].menuName + ' ('+store.menuList[store.specialMenuNo -1].menuPrice+' 원)'}">대표메뉴</span>
                                    </div>

                                    <div class="storeOperation">
                                        <img src="/images/store/icon_time.png" width="18" height="18">
                                        <span th:text="${store.storeOperation.openTime.substring(0, 5)+'&ensp;~&ensp;'+store.storeOperation.closeTime.substring(0, 5)}"></span>
                                        <button name="operationToggle" type="button" style="margin-left: 30px;">∨</button>
                                    </div>

                                    <div id="operationMore" style="display: none">
                                        <ol>
                                            <li>
                                                <span>정기 휴무요일&ensp;&ensp;|&ensp;</span>
                                                <th:block th:if="${store.storeOperation.regularClosedayList[0]!=null}" th:each="regularCloseday : ${store.storeOperation.regularClosedayList}">
                                                    <span th:text="${(regularCloseday!=null)? regularCloseday : ''}"></span>
                                                </th:block>
                                                <th:block th:if="${store.storeOperation.regularClosedayList[0]==null}">
                                                    <span>없음</span>
                                                </th:block>
                                            </li>
                                            <li>
                                                <span>브레이크 타임&ensp;&ensp;|&ensp;</span>
                                                <span th:text="${(store.storeOperation.breakTimeStart!=null)? store.storeOperation.breakTimeStart.substring(0, 5) + '&ensp;~&ensp;' + store.storeOperation.breakTimeEnd.substring(0, 5) : '없음'}"></span>
                                            </li>
                                        </ol>
                                    </div>

                                    <span class="hashtag" style="display: inline-flex;align-items: center;color: black;"
                                          th:each="hashtag : ${store.hashtagList}">
                                        <a th:text="'#'+${hashtag}" th:attr="href='/getStoreList?mode=search&searchKeyword=&foodCategoryId=&priceMin=0&priceMax=100000&hashtagList='+${hashtag}">#해시태그</a>&ensp;
                                    </span>
                                </div>
                            </div>
                        </div>
                    </section>

                    <input type="hidden" name="mode" th:value="${mode}">
                    <input type="hidden" name="storeId" th:value="${store.storeId}">

                    <hr class="separator">

                    <th:block th:if="${mode == 'nearby'}">
                        <th:block th:if="${session.user != null && session.user.role == 'ROLE_USER'}">
                            <div th:insert="~{store/getNearbyPlace :: nearbyFragment}"></div>
                        </th:block>
                        <th:block th:unless="${session.user != null && session.user.role == 'ROLE_USER'}">
                            <div style="text-align: center; padding: 10%;font-weight: bold; font-size: 18px;">
                                일반회원만 이용할 수 있는 기능입니다.
                            </div>
                        </th:block>
                    </th:block>

                    <th:block th:if="${mode == 'statistics'}">
                        <th:block th:if="${session.user != null}">
                            <div th:insert="~{store/getStoreStatistics :: statisticsFragment}"></div>
                        </th:block>
                        <th:block th:unless="${session.user != null}">
                            <div style="text-align: center; padding: 10%;font-weight: bold; font-size: 18px;">
                                로그인한 회원만 이용할 수 있는 기능입니다.
                            </div>
                        </th:block>
                    </th:block>

                    <th:block th:if="${mode == 'review'}">
                        <th:block th:if="${session.user != null}">
                            <div th:insert="~{test/community/getReviewList :: reviewListFragment}"></div>
                        </th:block>
                        <th:block th:unless="${session.user != null}">
                            <div style="text-align: center; padding: 10%;font-weight: bold; font-size: 18px;">
                                로그인한 회원만 이용할 수 있는 기능입니다.
                            </div>
                        </th:block>
                    </th:block>

                    <th:block th:if="${mode == 'info'}">

                        <section class="section pt-30 pb-30 section-overflow-hidden">
                            <div class="container gutter-sm">
                                <div class="section-header mb-30">
                                    <h3 class="section-title __sm">매장 소식</h3>
                                </div>
                                <div class="section-body" style="overflow: hidden;">
                                    <div id="shop-notice-list" class="v-scroll">
                                        <div class="v-scroll-inner">
                                            <div class="__restaurant-notice-v2"
                                                 style="display: flex; flex-wrap: nowrap;">
                                                <div class="swiper-slide" style=" margin-right: 10px;">
                                                    <article class="__restaurant-notice-v2-item">
                                                        <div class="__notice-content">
                                                            <div class="__pic">
                                                                <div class="img"></div>
                                                            </div>
                                                            <div class="__desc" th:each="news : ${store.storeNewsList}">
                                                                <div class="news-item">
                                                                    <p th:text="${news.regDt.split(' ')[0]}" style="font-weight: bold;font-size: 15px;"></p>
                                                                    <img width="200" height="200" style="padding: 5px;align-items: self-end;background-color: #FFFFFF;"
                                                                         th:src="${(news.newsImg == null || news.newsImg.isEmpty())? '/images/store/icon_no_image.png' : ((news.newsImg.indexOf('_') != -1)? '/images/store/news/' + news.newsImg : url + news.newsImg)}">
                                                                    <p th:text="${news.newsContents}">매장 소식</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <hr class="separator">
                        <section class="section pt-30">
                            <div class="container gutter-sm">
                                <div class="section-header mb-16">
                                    <h3 class="section-title __sm">편의시설</h3>
                                </div>
                                <div class="section-body">
                                    <div class="restaurant-features mb-20">
                                        <span class="feature-item" th:if="${store.amenitiesNoList == null || store.amenitiesNoList.isEmpty()}" style="padding-left: 10px;">등록된 편의시설이 없습니다.</span>
                                        <span class="feature-item" th:if="${store.amenitiesNoList.indexOf(1) != -1}">
                                            <img src="https://d1il53drs2cmia.cloudfront.net/resources/img/icons-mood/ic_parking.svg"
                                                 alt="" class="icon"><span class="label">주차 가능</span>
                                        </span>
                                        <span class="feature-item" th:if="${store.amenitiesNoList.indexOf(2) != -1}">
                                            <img src="https://d1il53drs2cmia.cloudfront.net/resources/img/icons-mood/ic_valet_parking.svg"
                                                 alt="" class="icon"><span class="label">발렛 가능</span>
                                        </span>
                                        <span class="feature-item" th:if="${store.amenitiesNoList.indexOf(3) != -1}">
                                            <img src="/images/store/icon_corkage_free.png"
                                                 alt="" class="icon"><span class="label">콜키지 프리</span>
                                        </span>
                                        <span class="feature-item" th:if="${store.amenitiesNoList.indexOf(4) != -1}">
                                            <img src="https://d1il53drs2cmia.cloudfront.net/resources/img/icons-mood/ic_corkage.svg"
                                                 alt="" class="icon"><span class="label">콜키지 가능</span>
                                        </span>
                                        <span class="feature-item" th:if="${store.amenitiesNoList.indexOf(5) != -1}">
                                            <img src="/images/store/icon_kids.png"
                                                 alt="" class="icon"><span class="label">키즈존</span>
                                        </span>
                                        <span class="feature-item" th:if="${store.amenitiesNoList.indexOf(6) != -1}">
                                            <img src="https://d1il53drs2cmia.cloudfront.net/resources/img/icons-mood/ic_no_kids.svg"
                                                 alt="" class="icon"><span class="label">노키즈존</span>
                                        </span>
                                        <span class="feature-item" th:if="${store.amenitiesNoList.indexOf(7) != -1}">
                                            <img src="https://d1il53drs2cmia.cloudfront.net/resources/img/icons-mood/ic_pet.svg"
                                                 alt="" class="icon"><span class="label">반려동물 동반</span>
                                        </span>
                                        <span class="feature-item" th:if="${store.amenitiesNoList.indexOf(8) != -1}">
                                            <img src="/images/store/icon_toy.png"
                                                 alt="" class="icon"><span class="label">유아시설</span>
                                        </span>
                                        <span class="feature-item" th:if="${store.amenitiesNoList.indexOf(9) != -1}">
                                            <img src="https://d1il53drs2cmia.cloudfront.net/resources/img/icons-mood/ic_accessible.svg"
                                                 alt="" class="icon"><span class="label">장애인 편의시설</span>
                                        </span>
                                        <span class="feature-item" th:if="${store.amenitiesNoList.indexOf(10) != -1}">
                                            <img src="/images/store/icon_rent.png"
                                                 alt="" class="icon"><span class="label">대관 가능</span>
                                        </span>
                                        <span class="feature-item" th:if="${store.amenitiesNoList.indexOf(11) != -1}">
                                            <img src="/images/store/icon_event.png"
                                                 alt="" class="icon"><span class="label">이벤트 가능</span>
                                        </span>
                                        <span class="feature-item" th:if="${store.amenitiesNoList.indexOf(12) != -1}">
                                            <img src="/images/store/icon_people.png"
                                                 alt="" class="icon"><span class="label">단체이용 가능</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <hr class="separator">
                        <section class="section pt-30 pb-16">
                            <div class="container gutter-sm">
                                <div class="section-header">
                                    <h3 class="section-title">메뉴</h3>
                                </div>
                                <div class="section-body">
                                    <div class="menupan-item-list mb-20">
                                        <div class="__menupan-item" th:each="menu : ${store.menuList}">

                                            <table>
                                                <tbody style="text-align: left;">
                                                    <tr>
                                                        <td style="width: 25%; padding: 15px;">
                                                            <span style="display: inline-flex">
                                                                <h3 th:text="${menu.menuName}" style="font-weight: bold;">메뉴 이름</h3>
                                                            </span>
                                                            <br/>
                                                            <a class="menuImgLink" th:if="${menu.menuImg != null && !menu.menuImg.isEmpty()}"
                                                               th:data-url="${(menu.menuImg.indexOf('_') != -1)? '/images/store/menu/'+menu.menuImg : url + menu.menuImg}"
                                                               th:data-title="${store.storeName + '&ensp;-&ensp;' + menu.menuName}">
                                                                [ 메뉴 사진 ]
                                                            </a>
                                                        </td>
                                                        <td style="width: 65%; padding: 15px;">
                                                            <div th:text="${menu.menuInfo}">
                                                                메뉴 설명
                                                            </div>
                                                        </td>
                                                        <td style="width: 10%; padding: 15px;">
                                                            <div th:text="|${(menu.menuPrice != 0)? menu.menuPrice : '시가'}|">
                                                                메뉴 가격
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <hr class="separator">
                        <section class="section pt-30 pb-20">
                            <div class="container gutter-sm">
                                <div class="section-header">
                                    <h3 class="section-title">위치정보</h3>
                                </div>
                                <div class="section-body">
                                    <div class="sc-hKMtZM jdiMxr">
                                        <div class="map" id="map"
                                             style="height: 240px; overflow: hidden; background-color: #e0e0e0;">

                                        </div>
                                        <div class="addr" style="padding-left: 0">
                                            <p th:text="${store.storeAddr}">매장 주소</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <hr class="separator">
                        <section class="section pt-30 pb-25">
                            <div class="container gutter-sm">
                                <div class="section-header">
                                    <h3 class="section-title">상세정보</h3>
                                </div>
                                <div class="section-body">
                                    <div class="desc-blocks" style="word-break: break-word;">
                                        <div class="desc-block">
                                            <dl>
                                                <dt>전화번호</dt>
                                                <dd th:text="${(store.storePhone != null) ? store.storePhone : '번호 없음'}">02-6282-5000</dd>
                                            </dl>
                                        </div>
                                        <div class="desc-block">
                                            <dl>
                                                <dt>
                                                    <a class="__toggle">매장 소개</a>
                                                </dt>
                                                <dd class="color-gray" th:text="${(store.storeInfo != null)? store.storeInfo : '없음'}" style="white-space: pre-line">
                                                    매장 소개
                                                </dd>
                                            </dl>
                                        </div>
                                        <div class="desc-block">
                                            <dl>
                                                <dt><a class="__toggle">영업시간</a></dt>
                                                <dd class="color-gray" th:text="${store.storeOperation.openTime.subSequence(0, 5) + ' ~ ' + store.storeOperation.closeTime.subSequence(0, 5)}">
                                                    오픈시간 ~ 마감시간
                                                </dd>
                                            </dl>
                                        </div>
                                        <div class="desc-block">
                                            <dl>
                                                <dt><a class="__toggle">정기 휴무</a></dt>
                                                <dd class="color-gray">
                                                    <th:block th:if="${store.storeOperation.regularClosedayList[0]!=null}" th:each="regularCloseday : ${store.storeOperation.regularClosedayList}">
                                                        <span th:text="${(regularCloseday!=null)? regularCloseday : ''}"></span>
                                                    </th:block>
                                                    <th:block th:if="${store.storeOperation.regularClosedayList[0]==null}">
                                                        <span>없음</span>
                                                    </th:block>
                                                </dd>
                                            </dl>
                                        </div>
                                        <div class="desc-block">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </th:block>

                </main>

            </div>

        </div>

    </body>

</html>