<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">

        <title>PlaceHere</title>

        <link rel="stylesheet" href="/css/templates/collection_detail.css">
        <link rel="stylesheet" href="/css/templates/regist_hp.css">

        <link th:insert="~{common/import :: importFragment}">

        <link rel="stylesheet" href="/css/store/modalStoreFilter.css">

        <script type="text/javascript" src="/javascript/store/modalStoreFilter.js"></script>
        <script type="text/javascript" src="/javascript/store/searchStore.js"></script>


    </head>
    <body>

        <header id="header">
            <div th:insert="~{common/header}"></div>
        </header>

        <div id="root">

            <div class="wrapper" style="max-width: 60%;margin: 0 auto;width: auto;position: relative;background: #fff;min-height: 100%;">

                <div class="searchStore" style="padding: 20px;display: flex" th:fragment="searchStoreFragment">
                    <input type="text" name="searchKeyword" placeholder="검색어를 입력해주세요."
                           class="css-1bkd15f e1uzxhvi2" style="width: 60%;height: 52px"
                           maxlength="30"
                           th:attr="value=${(mode=='search')? null : search.searchKeyword}">
                    &ensp;
                    <button type="submit" name="searchStore"
                            class="css-ufulao e4nu7ef3 checkBtn" style="width: 20%">
                        <span class="css-ymwvow e4nu7ef1 checked_nick_btn">검색</span>
                    </button>
                    &ensp;
                    <button type="button" name="searchStoreFilter"
                            class="css-ufulao e4nu7ef3 checkBtn" style="width: 20%">
                        <span class="css-ymwvow e4nu7ef1 checked_nick_btn">필터</span>
                    </button>

                    <br/><br/><br/>

                    <div th:insert="~{store/modalStoreFilter :: filterFragment}"></div>

                </div>

            </div>

        </div>

    </body>

</html>