<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="importFragmentTest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--   jQuery , Bootstrap CDN  -->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >-->
<!--    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>-->

    <!-- Bootstrap Dropdown Hover CSS -->
<!--    <link href="/css/animate.min.css" rel="stylesheet">-->
<!--    <link href="/css/bootstrap-dropdownhover.min.css" rel="stylesheet">-->

<!--    &lt;!&ndash; Bootstrap Dropdown Hover JS &ndash;&gt;-->
<!--    <script src="/javascript/bootstrap-dropdownhover.min.js"></script>-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
<!--    <link rel="shortcut icon" href="https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp/img/app/favicon.ico">-->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto|Noto+Sans+KR:300,400,500,700&amp;display=block&amp;subset=korean"
          as="style" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/495cfd393e.js" crossorigin="anonymous"></script>

    <!-- 공통 제작 css 적용 -->
    <link rel="stylesheet" href="/css/common/common.css">

  </head>
</html>