<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>가게 검색</title>

    <div th:insert="~{test/store/importTest :: importFragment}"/>

    <script type="text/javascript">

        $(function () {

            // 검색 함수
            function search() {

                var searchKeyword = $("input[name='searchKeyword']:text").val();

                var category1 = $("input[name='foodCategory1']:checked").val();
                var category2 = $("input[name='foodCategory2']:checked").val();
                var category3 = $("input[name='foodCategory3']:checked").val();

                $("input[name='searchKeyword']:hidden").val(searchKeyword);

                if (category1 !== undefined) {

                    if (category2 === undefined) {
                        category2 = "전체";
                    }

                    if (category3 === undefined) {
                        category3 = "전체";
                    }

                    $("input[name='foodCategoryId']").val(category1+"/"+(category2.replace("-", ", "))+"/"+category3+"/");
                }

                // 해시태그 변경 (공백, # 제거)
                $("input[name='hashtagList']").each(function () {

                    var hashtag = $(this).val();

                    // 공백 및 # 제거
                    hashtag = hashtag.replace("#", "").replace(/\s+/g, "");
                    $(this).val(hashtag);
                });

                $("form[name='searchStore']").attr("action", "/getStoreList").attr("method", "get").submit();
            }

            // 검색 버튼
            $("button[name='searchStore']").on("click", function () {
                search();
            });

            // 엔터 검색
            $(document).on('keydown', function (e) {
                // Enter 키 코드: 13
                if (e.keyCode === 13) {
                    e.preventDefault(); // 기본 동작 방지 (예: 폼 제출 방지)
                    search(); // search 함수 실행
                }
            });

            var mode = $("input[name='mode']:hidden").val();

            console.log(mode);

            // 필터 적용 후 제출 (모달 내의 폼 제출)
            $("button[name='saveFilter']").on("click", function (e) {
                e.preventDefault(); // 기본 제출 방지

                if (mode === "search") {
                    // 필터 적용 후 모달 닫기
                    $("#filterModal").hide();
                } else {
                    search();
                }

            });

        });

    </script>

</head>
<body>

    <div th:if="${mode == 'search'}">
        <h1>가게 검색</h1>
        <hr/>
    </div>

    <input type="text" name="searchKeyword" placeholder="검색어를 입력해주세요."
           th:attr="value=${(mode=='search')? null : search.searchKeyword}">
    &ensp;
    <button type="button" name="searchStore">검색</button>
    &ensp;
    <button type="button" name="searchStoreFilter">필터</button>

    <br/><hr/>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <div th:insert="~{store/modalStoreFilter}"></div>

</body>
</html>