<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>가게 검색</title>

    <div th:insert="~{test/store/importTest :: importFragment}"/>

    <script type="text/javascript">

        $(function () {

            // 검색 함수
            function search() {

                var searchKeyword = $("input[name='searchKeyword']:text").val();

                var category1 = $("input[name='foodCategory1']:checked").val();
                var category2 = $("input[name='foodCategory2']:checked").val();
                var category3 = $("input[name='foodCategory3']:checked").val();

                $("input[name='searchKeyword']:hidden").val(searchKeyword);

                if (category1 !== undefined) {

                    if (category2 === undefined) {
                        category2 = "전체";
                    }

                    if (category3 === undefined) {
                        category3 = "전체";
                    }

                    $("input[name='foodCategoryId']").val(category1+"/"+(category2.replace("-", ", "))+"/"+category3+"/");
                }

                // 해시태그 변경 (공백, # 제거)
                $("input[name='hashtagList']").each(function () {

                    let hashtag = $(this).val();

                    hashtag = hashtag.replace("#","").replace(" ", "");

                    $(this).val(hashtag);

                });

                // $('input[name="hashtagList"]').each(function () {
                //
                //     const value = $(this).val();
                //
                //     if (value.startsWith('#')) {
                //         // # 제거 후 값을 다시 설정
                //         $(this).val(value.replace(/^#+/, ''));
                //     }
                // });

                $("form[name='searchStore']").attr("action", "/getStoreList").attr("method", "get").submit();
            }

            // 검색 버튼
            $("button[name='searchStore']").on("click", function () {

                search();

            });

            // 엔터 검색
            $(document).on('keydown', function (e) {
                // Enter 키 코드: 13
                if (e.keyCode === 13) {
                    e.preventDefault(); // 기본 동작 방지 (예: 폼 제출 방지)
                    search(); // search 함수 실행
                }
            });

            var mode = $("input[name='mode']:hidden").val();

            console.log(mode);

            // 필터 버튼 클릭 시 모달 표시
            $("button[name='searchStoreFilter']").on("click", function () {
                $("#filterModal").show();  // 모달을 보이게 함
            });

            // 모달 닫기 버튼
            $("button[name='closeFilter']").on("click", function () {
                // 모든 input, select, textarea 필드의 값을 비우기
                $("form[name='searchStore'] input[type='text'], form[name='searchStore'] select, form[name='searchStore'] textarea").val('');

                $("form[name='searchStore'] input[name='priceMin']").val(0);
                $("form[name='searchStore'] input[name='priceMax']").val(100000);

                // 추가적으로 체크박스나 라디오 버튼의 선택을 해제하려면
                $("form[name='searchStore'] input[type='checkbox'], form[name='searchStore'] input[type='radio']").prop('checked', false);

                $("#filterModal").hide();  // 모달을 닫음
            });

            // 필터 적용 후 제출 (모달 내의 폼 제출)
            $("button[name='saveFilter']").on("click", function (e) {
                e.preventDefault(); // 기본 제출 방지

                if (mode === "search") {
                    // 필터 적용 후 모달 닫기
                    $("#filterModal").hide();
                } else {
                    search();
                }

            });

        });

    </script>

</head>
<body>

    <div th:if="${mode == 'search'}">
        <h1>가게 검색</h1>
        <hr/>
    </div>

    <input type="text" name="searchKeyword" placeholder="검색어를 입력해주세요."
           th:attr="value=${(mode=='search')? null : search.searchKeyword}">
    &ensp;
    <button type="button" name="searchStore">검색</button>
    &ensp;
    <button type="button" name="searchStoreFilter">필터</button>

    <br/><hr/>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <div th:insert="~{store/modalStoreFilter}"></div>

</body>
</html>