<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>addStoreTest</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script type="text/javascript">

        $(function() {

            $("form").attr("action", "/store/updateStore").attr("method", "post").attr("enctype", "multipart/form-data");

        });


    </script>
</head>
<body>


    <h1>가게 등록 (가게 기본 정보)</h1>
    <form>
        <input type="hidden" name="storeId" th:value="${store.storeId}">
        <p th:text="${store.storeId}"></p>
        <input type="hidden" id="apiKey" th:value="${apiKey}">
        <p th:text="${apiKey}"></p>
        <label>
            <strong>회원 아이디</strong>
            <input type="text" name="userName" th:value="${store.userName}" readonly>
        </label>

        <br/><br/>

        <label>
            <strong>사업자 번호</strong>
            <input type="text" name="businessNo" th:value="${store.businessNo}" readonly>
<!--            <input type="button" id="checkDuplicate" value="등록 확인">-->
            <p id="duplicateResult">&nbsp</p>
        </label>

        <label>
            <strong>매장명</strong>
            <input type="text" name="storeName" th:value="${store.storeName}">
        </label>

        <br/><br/>

        <label>
            <strong>매장 주소</strong>
            <input type="text" name="storeAddr" th:value="${store.storeAddr}">
        </label>

        <br/><br/>

        <label>
            <strong>매장 전화번호</strong>
            <input type="text" name="storePhone" th:value="${store.storePhone}">
        </label>

        <br/><br/>

        <label>
            <strong>매장 대표사진</strong>
            <input type="file" name="storeImgFiles" accept="image/*">
        </label>

        <br/><br/>

        <label>
            <strong>매장 사진</strong>
            <input type="file" name="storeImgFiles" accept="image/*">
            <input type="file" name="storeImgFiles" accept="image/*">
            <input type="file" name="storeImgFiles" accept="image/*">
            <input type="file" name="storeImgFiles" accept="image/*">
        </label>

        <br/><br/>

        <label>
            <strong>매장 소개</strong>
            <textarea name="storeInfo" rows="5" cols="50" style="resize: none"  th:value="${store.storeInfo}"></textarea>
        </label>

        <br/><br/>

        <label>
            <strong>해시태그</strong>
            <input type="text" name="hashtag"  th:value="${store.hashtag}">
        </label>

        <br/><br/>

        <strong>편의시설</strong>
        <br/>
        <div th:each="name, iterStat : ${amenitiesNameList}">
            <input type="checkbox" name="amenitiesNoList" th:value="${iterStat.index + 1}" th:attr='checked=${store.amenitiesNoList.indexOf(iterStat.index + 1) != -1 ? "checked" : null}'>
            <label th:text="${name}">편의시설 이름</label><br/>
        </div>

        <br/>

        <strong>음식 카테고리</strong>
        <input type="hidden" name="foodCategoryId">
        <p>1차 분류</p>
        <div th:each="name, iterStat : ${foodCategory.mainCategory}">
            <input type="radio" name="foodCategory1" th:value="${name}" th:id="'foodCategory1_' + ${iterStat.index}">
            <label th:text="${name}" th:for="'foodCategory1_' + ${iterStat.index}">1차 분류 이름</label><br/>
        </div>

        <br/>

        <p>2차 분류</p>
        <div th:each="name, iterStat : ${foodCategory.subCategory}" style="display: none" th:id="'foodCategory2_' + ${iterStat.index}">
            <input type="radio" name="foodCategory2" th:value="${name}" th:id="'foodCategory2_' + ${iterStat.index}">
            <label th:text="${name}" th:for="'foodCategory2_' + ${iterStat.index}">2차 분류 이름</label><br/>
        </div>

        <br/>

        <p>3차 분류</p>
        <div th:each="entry : ${foodCategory.detailCategory}" style="display: none" th:id="'foodCategory3_' + ${entry.key}">
            <p th:each="detail : ${entry.value}">
                <input type="radio" name="foodCategory3" th:value="${detail}">
                <label th:text="${detail}">3차 분류 이름</label><br/>
            </p>
        </div>

        <div id="foodCategory4" style="display: none" >
            <br/>
            <p>상세 분류</p>
            <input type="text" name="foodCategory4">
        </div>

        <br/><br/>

        <label>
            <strong>메뉴1</strong>
            <input type="radio" name="specialMenuNo" value="1"
                   th:attr="checked=${store.specialMenuNo == 1 ? 'checked' : null}">

        </label>
        <input type="hidden" name="menuList[0].menuNo" value="1">
        <br/>

        <label>
            메뉴 사진
            <input type="file" name="menuList[0].menuImgFile" accept="image/*">
        </label>

        <br/>

        <label>
            메뉴 이름
            <input type="text" name="menuList[0].menuName" th:value="${store.menuList[0].menuName}">
        </label>

        <br/>

        <label>
            메뉴 가격
            <input type="number" name="menuList[0].menuPrice" value="0" th:value="${store.menuList[0].menuPrice}">
        </label>

        <br/>

        <label>
            메뉴 설명
            <textarea name="menuList[0].menuInfo" rows="5" cols="50" style="resize: none" th:value="${store.menuList[0].menuInfo}"></textarea>
        </label>

        <br/><br/>

        <label>
            <strong>메뉴2</strong>
            <input type="radio" name="specialMenuNo" value="2"
                   th:attr="checked=${store.specialMenuNo == 2 ? 'checked' : null}">

        </label>
        <input type="hidden" name="menuList[1].menuNo" value="2">

        <br/>

        <label>
            메뉴 사진
            <input type="file" name="menuList[1].menuImgFile">
        </label>

        <br/>

        <label>
            메뉴 이름
            <input type="text" name="menuList[1].menuName" th:value="${store.menuList[1].menuName}">
        </label>

        <br/>

        <label>
            메뉴 가격
            <input type="number" name="menuList[1].menuPrice" value="0" th:value="${store.menuList[1].menuPrice}">
        </label>

        <br/>

        <label>
            메뉴 설명
            <textarea name="menuList[1].menuInfo" rows="5" cols="50" style="resize: none" th:value="${store.menuList[1].menuInfo}"></textarea>
        </label>

        <br/><br/><br/>

        <input type="submit" value="다음 단계">

    </form>
</body>
</html>