<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>가게 수정 (가게 기본 정보)</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script type="text/javascript">

        $(function() {

            $("#submit").on("click", function () {

                var category1 = $("input[name='foodCategory1']:checked").val();
                var category2 = $("input[name='foodCategory2']:checked").val();
                var category3 = $("input[name='foodCategory3']:checked").val();
                var category4 = $("input[name='foodCategory4']").val();

                $("input[name='foodCategoryId']").val(category1+"/"+(category2.replace("-", ", "))+"/"+category3+"/"+category4);

                $("form").attr("action", "/store/updateStore").attr("method", "post").attr("enctype", "multipart/form-data").submit();

            })

        });
    </script>

    <script type="text/javascript">

        $(function() {
            // 초기 상태에서 선택된 1차, 2차, 3차 분류에 따라 표시 설정
            initCategoryDisplay();

            // 1차 분류 변경 이벤트
            $("input[name='foodCategory1']").on("change", function() {
                var selectedCategory1 = $("input[name='foodCategory1']:checked").val();

                // 1차 분류가 선택되면 2차 분류 표시 및 3차 분류 초기화
                if (selectedCategory1) {
                    $("div[id^='foodCategory2']").css("display", "block");
                    $("div[id^='foodCategory3_']").css("display", "none");
                    $("#foodCategory4").css("display", "none");

                    // 2차, 3차 분류 체크 해제
                    $("input[name='foodCategory2']").prop("checked", false);
                    $("input[name='foodCategory3']").prop("checked", false);
                } else {
                    // 1차 분류가 선택되지 않은 경우 하위 분류 숨기기
                    $("div[id^='foodCategory2']").css("display", "none");
                    $("div[id^='foodCategory3_']").css("display", "none");
                    $("#foodCategory4").css("display", "none");
                }
            });

            // 2차 분류 변경 이벤트
            $("input[name='foodCategory2']").on("change", function() {
                var selectedCategory2 = $("input[name='foodCategory2']:checked").val();

                // 2차 분류 선택에 따라 3차 분류 표시
                if (selectedCategory2) {
                    $("div[id^='foodCategory3_']").css("display", "none");
                    var detailCategoryDiv = $("#foodCategory3_" + selectedCategory2);
                    if (detailCategoryDiv.length > 0) {
                        detailCategoryDiv.css("display", "block");
                    }

                    // 3차 분류 체크 해제 및 상세 분류 숨기기
                    $("input[name='foodCategory3']").prop("checked", false);
                    $("#foodCategory4").css("display", "none");
                } else {
                    $("div[id^='foodCategory3_']").css("display", "none");
                    $("#foodCategory4").css("display", "none");
                }
            });

            // 3차 분류 변경 이벤트
            $("input[name='foodCategory3']").on("change", function() {
                var selectedCategory3 = $("input[name='foodCategory3']:checked").val();

                $("#foodCategory4").find("input, select, textarea").val("")

                // 3차 분류 선택에 따라 상세 분류 표시
                if (selectedCategory3 && selectedCategory3 !== "전체") {
                    $("#foodCategory4").css("display", "block").prop("disabled", false)
                } else {
                    $("#foodCategory4").css("display", "none").prop("disabled", true);
                }
            });

            // 초기 상태 설정 함수
            function initCategoryDisplay() {
                var selectedCategory1 = $("input[name='foodCategory1']:checked").val();
                var selectedCategory2 = $("input[name='foodCategory2']:checked").val();
                var selectedCategory3 = $("input[name='foodCategory3']:checked").val();

                if (selectedCategory1) {
                    $("div[id^='foodCategory2']").css("display", "block");

                    if (selectedCategory2) {
                        $("div[id^='foodCategory3_']").css("display", "none");

                        var detailCategoryDiv = $("#foodCategory3_" + selectedCategory2);
                        if (detailCategoryDiv.length > 0) {
                            detailCategoryDiv.css("display", "block");

                            // 3차 분류에서 선택된 항목의 상태를 설정
                            if (selectedCategory3) {
                                detailCategoryDiv.find("input[name='foodCategory3'][value='" + selectedCategory3 + "']").prop("checked", true);
                            }
                        }

                        if (selectedCategory3 && selectedCategory3 !== "전체") {
                            $("#foodCategory4").css("display", "block");
                        }
                    }
                }
            }

        });
    </script>


</head>
<body>

<h1>가게 등록 (가게 기본 정보)</h1>
<form>

    <label>
        <strong>가게 Id</strong>
        <input type="text" name="storeId" th:value="${store.storeId}" readonly>
    </label>

    <label>
        <strong>회원 아이디</strong>
        <input type="text" name="userName" th:value="${userName}" readonly>
    </label>

    <br/><br/>

    <label>
        <strong>사업자 번호</strong>
        <input type="text" name="businessNo" th:value="${store.businessNo}" readonly>
        <p id="duplicateResult">&nbsp;</p>
    </label>

    <br/><br/>

    <label>
        <strong>매장명</strong>
        <input type="text" name="storeName" th:value="${store.storeName}">
    </label>

    <br/><br/>

    <label>
        <strong>매장 주소</strong>
        <input type="text" name="storeAddr" th:value="${store.storeAddr}">
    </label>

    <br/><br/>

    <label>
        <strong>매장 전화번호</strong>
        <input type="text" name="storePhone" th:value="${store.storePhone}">
    </label>

    <br/><br/>

    <label>
        <strong>매장 대표사진</strong>
        <input type="file" name="storeImgFiles" accept="image/*">
    </label>

    <br/><br/>

    <label>
        <strong>매장 사진</strong>
        <input type="file" name="storeImgFiles" accept="image/*">
        <input type="file" name="storeImgFiles" accept="image/*">
        <input type="file" name="storeImgFiles" accept="image/*">
        <input type="file" name="storeImgFiles" accept="image/*">
    </label>

    <br/><br/>

    <label>
        <strong>매장 소개</strong>
        <textarea name="storeInfo" rows="5" cols="50" style="resize: none"  th:value="${store.storeInfo}"></textarea>
    </label>

    <br/><br/>

    <label>
        <strong>해시태그</strong>
        <input type="text" name="hashtag"  th:value="${store.hashtag}">
    </label>

    <br/><br/>

    <strong>편의시설</strong>
    <br/>
    <div th:each="name, iterStat : ${amenitiesNameList}">
        <input type="checkbox" name="amenitiesNoList" th:value="${iterStat.index + 1}" th:attr='checked=${store.amenitiesNoList.indexOf(iterStat.index + 1) != -1 ? "checked" : null}'>
        <label th:text="${name}">편의시설 이름</label><br/>
    </div>

    <br/>

    <strong>음식 카테고리</strong>
    <input type="hidden" name="foodCategoryId">

    <!-- 1차 분류 -->
    <p>1차 분류</p>
    <div th:each="name, iterStat : ${foodCategory.mainCategory}">
        <input type="radio" name="foodCategory1" th:value="${name}" th:id="'foodCategory1_' + ${iterStat.index}"
               th:attr="checked=${selectedCategoryList[0] == name ? 'checked' : null}">
        <label th:text="${name}" th:for="'foodCategory1_' + ${iterStat.index}"></label><br/>
    </div>

    <!-- 2차 분류 -->
    <p>2차 분류</p>
    <div th:each="name, iterStat : ${foodCategory.subCategory}" style="display: none" th:id="'foodCategory2_' + ${iterStat.index}">
        <input type="radio" name="foodCategory2" th:value="${name}" th:id="'foodCategory2_' + ${iterStat.index}"
               th:attr="checked=${selectedCategoryList[1].replace(', ', '-') == name ? 'checked' : null}">
        <label th:text="${name}" th:for="'foodCategory2_' + ${iterStat.index}"></label><br/>
    </div>

    <!-- 3차 분류 -->
    <p>3차 분류</p>
    <div th:each="entry : ${foodCategory.detailCategory}" style="display: none" th:id="'foodCategory3_' + ${entry.key}">
        <p th:each="detail : ${entry.value}">
            <input type="radio" name="foodCategory3" th:value="${detail}"
                   th:attr="checked=${selectedCategoryList[2] == detail ? 'checked' : null}">
            <label th:text="${detail}"></label><br/>
        </p>
    </div>

    <!-- 상세 분류 -->
    <div id="foodCategory4" style="display: none">
        <p>상세 분류</p>
        <input type="text" name="foodCategory4" th:value="${selectedCategoryList.size() > 3 ? selectedCategoryList[3] : null}">
    </div>

    <br/><br/>

    <label>
        <strong>메뉴1</strong>
        <input type="radio" name="specialMenuNo" value="1" th:attr="checked=${store.specialMenuNo == 1 ? 'checked' : null}">
    </label>
    <input type="hidden" name="menuList[0].menuNo" value="1">
    <br/>

    <label>
        메뉴 사진
        <input type="file" name="menuList[0].menuImgFile" accept="image/*">
        <input type="hidden" name="menuList[0].menuImg" th:value="${store.menuList[0].menuImg}">
    </label>

    <br/>

    <label>
        메뉴 이름
        <input type="text" name="menuList[0].menuName" th:value="${store.menuList[0].menuName}">
    </label>

    <br/>

    <label>
        메뉴 가격
        <input type="number" name="menuList[0].menuPrice" value="0" th:value="${store.menuList[0].menuPrice}">
    </label>

    <br/>

    <label>
        메뉴 설명
        <textarea name="menuList[0].menuInfo" rows="5" cols="50" style="resize: none" th:value="${store.menuList[0].menuInfo}"></textarea>
    </label>

    <br/><br/>

    <button id="submit">다음 단계</button>

</form>
</body>
</html>
