.side-bar:before{
    content: "" !important;
    display: inline-block !important;
    width: 1px !important;
    height: 12px !important;
    margin: 0 7px 0 3px !important;
    background-color: #7b878c !important;
    vertical-align: -1px !important;
}
.side-bar, .non-side-bar{
    padding: 5px 5px !important;
}
.header{
    /* 글자 드래그 금지 */
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    box-sizing: border-box !important;
    display: block !important;
    position: relative !important;
}
.headerMain{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    max-width: 1100px !important;
    margin: 0 auto !important;
}
header .header a{
    text-decoration: none !important;
    color: black !important;
}
/* 로고부분 */
.logoImg{
    width: 200px !important;
    display: inline-block !important;
}
.logo>a>span{
    color: #b3b3b3 !important;
    font-size: 16px !important;
    position: absolute !important;
    top: 60px !important;
}
/* 로그인 메뉴 관련 */
.loginMenu{
    display: inline-flex !important;
    list-style: none !important;
    padding-left: 0 !important;
    font-size: 16px !important;
    align-items: center !important;
}
/* 가운데 회색 줄 */
.centerLine{
    background-color: #dcdcdc !important;
    opacity: 1 !important;
    width: 100% !important;
    height: 1.5px !important;
    border: 0 !important;
}
/* 두번째 헤더관련 */
.headerCategory{
    display: flex !important;
    justify-content: space-between !important;
    max-width: 1100px !important;
    margin: 0 auto !important;
    align-items: center !important;
    /*padding: 8px 0;*/
}
/* 카테고리 관련 디자인 */
.categoryList{
    display: flex !important;
    justify-content: space-evenly !important;
    list-style: none !important;
    padding-left: 0 !important;
    line-height: 10px !important;
    font-size: 16px !important;
}
.categoryList a{
    padding: 8px 30px !important;
    text-decoration: none !important;
    color: black !important;
}
.category ul{
    list-style:none !important;
}
/* 두번째선 디자인 */
.lastLine{
    border: 0 !important;
    height:3px !important;
    background-color: #4880FF !important;
    opacity: 1 !important;
    width: 100% !important;
    margin-bottom: 0px !important;
}
/* 메인헤더 드롭다운 css*/
.header-wrap{
    /*padding: 10px;*/
    position: relative !important;
}
.dropdown{
    position: absolute !important;
    background-color: white !important;
    display: none !important;
    text-align: center !important;
    justify-content: space-evenly !important;
    width: 100% !important;
    line-height: 42px !important;
    align-items: flex-start !important;
    top: 175px !important;
    z-index: 1 !important;
    left: 50% !important;
    transform: translate(-50%,0) !important;
    font-size: 16px !important;
}
.dropdown a {
    /*padding: 8px 30px;*/
    text-decoration: none !important;
    color: black !important;
}
.dropdown div{
    /*padding-right: 100px;*/
}
.dropdown  ul{
    list-style:none !important;
}
/* hover 상태시 추가되는 클래스 */
.appear{
    background-color: white !important;
    animation-name: dropdown !important;
    animation-duration: 0.6s !important;
    display: block !important;
}
/* hover 상태가 끝날때 추가되는 클래스 */
.fade{
    background-color: white !important;
    animation-name: up !important;
    animation-delay: 0.2s !important;
    animation-duration: 1.5s !important;
    animation-fill-mode: forwards !important;
    display: block !important;
}
/* 스크롤헤더 CSS--------------------------------------------- */
/* 스크롤 헤더 */
.small_header a{
    text-decoration: none !important;
    color: black !important;
}
.small_header{
    top: 0px !important;
    width: 100% !important;
    position: fixed !important;
    background-color: white !important;
    display: none !important;
    animation-name: appear_small_header !important;
    animation-duration: 1s !important;
    animation-fill-mode: forwards !important;
    z-index: 2 !important;
    padding-top: 20px !important;
}
/* 스크롤헤더 로고 */
.small_logoImg{
    display: block !important;
    width: 50px !important;
    position: absolute !important;
    top: 12px !important;
}
/* 카테고리관련 */
.small_headerCategory{
    display: flex !important;
    justify-content: space-between !important;
    max-width: 1100px !important;
    margin: 0 auto !important;
    align-items: center !important;
    padding: 8px !important;
}
.small_categoryList{
    display: flex !important;
    list-style: none !important;
    padding-left: 0 !important;
    font-size: 16px !important;
    padding-bottom: 18px !important;
}
.small_categoryList a{
    padding: 8px 30px !important;
}
.small_category ul{
    list-style:none !important;
}
/* 검색바관련 */
.small_searchWarp{
    position: absolute !important;
    background-color: #f1f1f1 !important;
    padding: 5px !important;
    padding-left: 15px !important;
    border-radius: 40px !important;
    margin-left: -355px !important;
    bottom: 22px !important;
}
.small_searchWarp>input{
    border: none !important;
    background-color: #f1f1f1 !important;
    padding: 5px !important;
    padding-right: 130px !important;
}
.small_searchWarp>input:focus{
    outline: none !important;
}
/* 스크롤헤더 활성화 */
@keyframes appear_small_header{
    0%{
        top: -50px !important;
        opacity: 0 !important;
    }
    100%{
        top: 0px !important;
        opacity: 1 !important;
    }
}
/* ---------------------------------------------- */
/* 스크롤 드롭다운 */
.small_dropdown a{
    padding: 8px 30px !important;
}
.small_dropdown  ul{
    list-style:none !important;
}
.small_dropdown{
    position: absolute !important;
    background-color: white !important;
    display: none !important;
    text-align: center !important;
    justify-content: space-evenly !important;
    width: 100% !important;
    line-height: 45px !important;
    align-items: flex-start !important;
    top: 80px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    z-index: 0 !important;
    left: 50% !important;
    transform: translate(-50%,0) !important;
    font-size: 16px !important;
}
.small_dropdown div{
    padding-right: 100px !important;
}
/* hover 상태시 추가되는 클래스 */
.small_appear{
    background-color: white !important;
    animation-name: small_down !important;
    animation-duration: 0.4s !important;
    display: flex !important;
}
/* hover 상태가 끝날때 추가되는 클래스 */
.small_fade{
    background-color: white !important;
    animation-name: small_up !important;
    animation-delay: 0.2s !important;
    animation-duration: 1.5s !important;
    animation-fill-mode: forwards !important;
    display: flex !important;
}
/* 드롭다운 활성화 애니메이션 */
@keyframes small_down{
    0%{
        z-index: -1 !important;
        top: -200px !important;
        opacity: 0 !important;
    }
    80%{
        z-index: -1 !important;
        opacity: 0 !important;
    }
    99%{
        z-index: -1 !important;
    }
    100%{
        z-index: 0 !important;
        top: 80px !important;
        opacity: 1 !important;
    }
}
/* 드롭다운 비활성화 애니메이션 */
@keyframes small_up{
    0%{
        top: 80px !important;
        opacity: 1 !important;
    }
    1%{
        z-index: -1 !important;
    }
    6%{
        z-index: -1 !important;
        opacity: 0 !important;
    }
    15%{
        z-index: -1 !important;
    }
    100%{
        top: -200px !important;
        opacity: 0 !important;
        z-index: -1 !important;
    }
}
body {
    font-family: 'NanumSquareRound' !important;
    color: #333 !important;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0 !important;
    padding: 0 !important;
}

header {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
}

header {
    display: block !important;
}

.logo_size {
    width: 160px !important;
    margin-left: 130px !important;
    margin-top: 50px !important;
}
.logo_size1 {
    width: 160px !important;
}

body, input, textarea, select, button, table {
    outline: none !important;
}

input[type="hidden" i] {
    appearance: none !important;
    background-color: initial !important;
    cursor: default !important;
    display: none !important;
    padding: initial !important;
    border: initial !important;
}

a {
    background-color: transparent !important;
}

li {
    text-align: -webkit-match-parent !important;
}

ul, ol, dl {
    list-style: none !important;
}

img {
    overflow-clip-margin: content-box !important;
    overflow: clip !important;
}
