body {
            font-family: 'Arial', sans-serif; /* 기본 폰트 설정 */
            background-color: #FFF; /* 배경색 */
            color: #333; /* 기본 텍스트 색 */
            margin: 17; /* 기본 마진 제거 */
            padding: 0; /* 기본 패딩 제거 */
        }


        .__my-review-post {
            border: 1px solid #e2e2e2; /* 테두리 추가 */
            border-radius: 5px; /* 테두리 둥글게 */
            margin-bottom: 20px; /* 리뷰 간의 간격 */
            padding: 15px; /* 패딩 추가 */
            background-color: #fff; /* 배경색 */
            transition: box-shadow 0.3s; /* 호버 효과 */
        }

        .__my-review-post:hover {
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* 호버 시 그림자 효과 */
        }

        .__post-meta {
            display: flex;
            justify-content: space-between;
            align-items: center; /* 세로 정렬 */
            margin: 10px 0; /* 위아래 여백 */
        }

        .btn-like-inactive,
        .btn-like-active {
            border-radius: 50%;
            display: inline-block;
            width: 40px;
            height: 40px;
            background-size: 50%; /* 아이콘 크기 조절 */
            cursor: pointer;
            margin-right: 700px;
            transition: background 0.3s ease; /* 버튼 호버 효과 */
        }

        .btn-like-inactive {
            background: #fff url('/file/community/icon_heart_white.png') center no-repeat; /* 비활성화 상태 */
        }

        .btn-like-active {
            background: #fff url('/file/community/icon_heart_red.png') center no-repeat; /* 활성화 상태 */
        }

        .__content {
            font-size: 1em; /* 텍스트 크기 조정 */
            line-height: 1.5; /* 줄 간격 조정 */
            margin-top: 10px; /* 상단 여백 */
            width: 80%;
            margin: 15px auto;
        }

        .__rating {
            font-weight: bold; /* 평점 굵게 표시 */
            font-size: 1.5em; /* 평점 크기 조정 */
            color: #ffcc00; /* 평점 색상 */
        }

<!--        .restaurant-info {-->
<!--            whidth: 850px;-->
<!--            margin: 0 auto;-->
<!--            margin-top: 15px; /* 상단 여백 */-->
<!--            border-top: 1px solid #e2e2e2; /* 상단 테두리 */-->
<!--            padding-top: 10px; /* 패딩 추가 */-->
<!--        }-->

        .like-count,
        .comment-count {
            font-weight: bold; /* 숫자 굵게 표시 */
        }

        /* 추가적인 스타일 및 반응형 디자인 추가 가능 */