<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
정한솔<p>
<a href="http://192.168.0.24:8080/store/addStore?userName=store11">addStore</a><p>
<a href="http://192.168.0.24:8080/store/updateStore?userName=store01">updateStore</a><p>
<a href="http://192.168.0.24:8080/store/getStoreNewsList?userName=store01">getStoreNewsList</a><p>
<a href="http://192.168.0.24:8080/store/getClosedayList?userName=store01">getClosedayList</a><p><br><br>
    <a href="http://192.168.0.24:8080/searchStore">searchStore</a><p><br><br>


강민구<p>
<a href="http://localhost:8080/review/getReview?reviewNo=40">리뷰 상세보기</a><p>
<a href="http://localhost:8080/review/getReviewList">모든 리뷰 보기 </a><p>
<a href="http://localhost:8080/review/getReviewList?page=1&size=10&friendUsername=user01">친구 피드보기 </a><p>
<a href="http://localhost:8080/review/updateReview?reviewNo=40">리뷰 업데이트</a><p>
<a href="http://localhost:8080/review/addReview?rsrvNo=13&userName=user03&searchKeyword=이용완료">리뷰 작성</a><p>
<a href="http://localhost:8080/review/getReviewList?type=myFeed">My피드</a><p>
<a href="http://localhost:8080/review/getFriendReqStatus">친구요청현황</a><p><br><br>



김성환<p>
<a href="http://192.168.0.24:8080/test/reservation/addRsrv?storeId=1">예약하기</a><p>
<a href="http://192.168.0.24:8080/test/reservation/getRsrvUserList?userName=user01
">user예약목록</a><p>
<a href="http://192.168.0.24:8080/test/reservation/getRsrv?rsrvNo=1">예약상세보기</a><p>
<a href="http://192.168.0.24:8080/test/reservation/getRsrvStoreList?storeId=1">점주예약목록</a><br><br>


김윤지<p>


김태욱<p>
<a href="http://192.168.0.24:8080/product/listProduct ">포인트 상품 목록</a><p>
<a href="http://192.168.0.24:8080/product/addProduct ">상품 등록</a><p>
<a href="http://192.168.0.24:8080/purchase/listCart">장바구니 목록</a><br><br>
    <a href="http://192.168.0.24:8080/purchase/listWish ">찜 목록</a><br><br>
    <a href="http://192.168.0.24:8080/purchase/listPointHistory?userName=user01 ">포인트 내역 목록</a>
    <a href="http://192.168.0.24:8080/purchase/listPurchase?userName=user01">구매한 상품 목록</a> <br><br>


이보은<br><br>
    <a href="http://192.168.0.8:3000/chat">chat</a>

</body>
</html>