<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Feed</title>

</head>
<body>
<h1>내 리뷰 목록</h1>
<a th:href="@{/review/addReview}">리뷰 추가하기</a>

<div class="review-list">
    <div th:if="${#lists.isEmpty(reviewList)}">
        <p>리뷰가 없습니다.</p>
    </div>

    <div th:each="review : ${reviewList}">
        <div class="review-item">
            <h2 th:text="${review.storeName}">가게 이름</h2>
            <img alt="작성자 프로필 이미지" th:src="${review.profileImg}"/>
            <p>작성자: <span th:text="${review.userName}"></span></p>
            <p>별점: <span th:text="${review.reviewScore}"></span></p>
            <p>리뷰 내용: <span th:text="${review.reviewContent}"></span></p>
            <p>좋아요 수: <span class="like-count" th:text="${review.reviewLikeCnt}"></span></p>
            <p>댓글 수: <span class="comment-count" th:text="${#lists.size(review.commentList)}"></span></p>

            <a th:href="@{/review/getReview?(reviewNo=${review.reviewNo})}">
                <button>리뷰 상세보기</button>
            </a>

            <a th:href="@{/review/updateReview?(reviewNo=${review.reviewNo})}">
                <button>수정</button>
            </a>

            <form method="post" style="display:inline;" th:action="@{/review/removeReview}">
                <input name="reviewNo" th:value="${review.reviewNo}" type="text"/>
                <button type="submit">삭제</button>
            </form>


            <hr/>
        </div>
    </div>
</div>
</body>
</html>