<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>즐거운 미식 생활의 시작, 캐치테이블</title>


    <link rel="stylesheet" href="/css/templates/mypage.css">
    <link rel="stylesheet" href="/css/templates/collection_detail.css">
    <link rel="stylesheet" href="/css/templates/style.css">
    <link th:insert="~{common/import :: importFragment}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascript/templates/script.js"></script>

    <script src="/javascript/community/like.js"></script>
    <link rel="stylesheet" href="/css/community/getReviewList.css">

</head>

<script src="/javascript/community/getReviewList.js"></script>

<body>

<!--<div th:include="~{community/getCommunityAside}"></div>-->
<div th:include="~{community/menuBar}"></div> <!-- 커뮤니티 메뉴바 포함 -->

<header id="header"></header> <!-- 페이지 헤더 -->

GetReviewList임 - getReviewList.html
<div id="root"> <!-- 전체 컨텐츠를 감싸는 루트 요소 -->
    <div class="wrapper" id="wrapperDiv"> <!-- 전체 리뷰 리스트를 감싸는 주 컨테이너 -->
        <main id="main">
            <section class="section mb-50">
                <div class="container gutter-sm">
                    <div class="section-body">
                        <div class="__my-review-list ml--50 mr--100"> <!-- 리뷰 리스트를 담는 컨테이너 -->
                            <div id="shopReviewListScroll"> <!-- 리뷰 스크롤을 위한 컨테이너 -->
                                <div id="shopReviewListScroll_0"> <!-- 특정 스크롤 섹션 -->
                                    <article class="__my-review-post" th:each="review : ${reviewList}"> <!-- 각 리뷰에 대한 아티클 -->
                                        <div class="__header" style="padding-left: 0;">
                                            <div class="__user-info" style="justify-content: space-between;">
                                                <div class="review-details"> <!-- 리뷰 작성자를 표시하는 영역 -->
                                                    <img th:src="@{/file/community/2222.png}" alt="프로필이미지">
                                                    <a th:href="@{/review/getReviewList(type='friendList', friendUsername=${review.userName})}">
                                                        <span th:text="${review.userName}"
                                                              style="font-size: 1.5em; font-weight: bold; color: #2c3e50;
                                                              text-transform: uppercase; margin-bottom: 5px; display: block;"></span> <!-- 작성자 이름 -->
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="__body" style="position: relative; padding: 0px;">
                                            <div class="__photos" style="display: flex; justify-content: center; flex-wrap: nowrap;"> <!-- 리뷰 이미지들을 나열하는 영역 -->
                                                <div th:if="${review.reviewImg1 != null && !review.reviewImg1.isEmpty()}">
                                                    <div class="swiper-slide" style="margin-right: 16px;">
                                                        <img th:src="${url + review.reviewImg1}">
                                                    </div>
                                                </div>
                                                <div th:if="${review.reviewImg2 != null && !review.reviewImg2.isEmpty()}">
                                                    <div class="swiper-slide" style="margin-right: 16px;">
                                                        <img th:src="${url + review.reviewImg2}">
                                                    </div>
                                                </div>
                                                <div th:if="${review.reviewImg3 != null && !review.reviewImg3.isEmpty()}">
                                                    <div class="swiper-slide" style="margin-right: 16px;">
                                                        <img th:src="${url + review.reviewImg3}">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="timeline-post-content">
                                                <div class="__post-meta" style="display: flex; justify-content: space-between;"> <!-- 리뷰 메타 정보 (평점, 좋아요, 댓글) -->
                                                    <img src="/file/community/star_icon1.png" style="margin-left: 70px;" th:text="${review.reviewScore}"> <!-- 리뷰 평점 -->
                                                    <th:block th:if="${!(session.user != null && session.user.role == 'ROLE_STORE')}">
                                                        <a style="cursor: pointer" id="like"
                                                           th:class="${(session.user == null) ? 'btn-like-inactive' : ((review.like == null) ? 'btn-like-inactive' : 'btn-like-active')}"
                                                           th:data-review-no="${review.reviewNo}"
                                                           th:data-username="${session.user != null ? session.user.username : ''}">
                                                            <span class="like-count" style="margin-left: -25px;" th:text="${review.reviewLikeCnt}"></span>
                                                        </a>
                                                    </th:block>

                                                    <a th:href="@{/review/getReview?(reviewNo=${review.reviewNo})}" style="cursor: pointer;" id="comment" class="btn-comment">
                                                        <img src="/file/community/comment_icon.png" alt="댓글" style="width: 24px; height: 24px; margin-left: -730px;"/>
                                                        <span class="comment-count" style="margin-left: -30px;" th:text="${#lists.size(review.commentList)}"></span>
                                                    </a>

                                                    <div style="margin-left: -19px; text-align: right;" th:text="${(review.currReviewUpdate == null)? review.reviewDt : review.currReviewUpdate + ' (수정됨)'}"></div> <!-- 수정된 날짜 -->
                                                </div>
                                                <div class="restaurant-info" style="width: 850px; margin: 0 auto; padding: 15px;"> <!-- 식당 정보 영역 -->
                                                    <div class="__info" style="font-size: 1em;">
                                                        <a th:href="'/getStore?mode=info&storeId='+${review.storeId}"> <!-- 식당 상세 페이지 링크 -->
                                                            <h4 class="__name">
                                                                <span th:text="${review.storeName}">매장명</span> <!-- 식당 이름 -->
                                                            </h4>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="__content" style="font-size: 1.2em;">
                                                    <p th:text="${review.reviewContent}" style="white-space: pre-line;"></p> <!-- 리뷰 내용 -->
                                                </div>
                                                <hr class="hairline"> <!-- 리뷰 항목 간 구분선 -->
                                    </article>
                                </div> <!-- shopReviewListScroll_0 끝 -->
                            </div> <!-- shopReviewListScroll 끝 -->
                        </div> <!-- __my-review-list 끝 -->
                    </div> <!-- section-body 끝 -->
                </div> <!-- container 끝 -->
            </section> <!-- section 끝 -->

            <th:block th:insert="~{common/paging :: pagingFragment}"></th:block>

            <form name="pagingForm">
                <input type="hidden" name="page">
                <input type="hidden" name="type" value="allList">
            </form>
            <!-- 페이징 처리 부분 생략 -->
        </main>
    </div> <!-- wrapperDiv 끝 -->
</div> <!-- root 끝 -->
</body>
</html>