<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>즐거운 미식 생활의 시작, 캐치테이블</title>
<!--    <div th:replace="fragment/link :: link"/>-->
    <link href="/css/templates/mypage.css" rel="stylesheet">
    <link href="/css/templates/collection_detail.css" rel="stylesheet">
    <link href="/css/templates/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript" src="/js/follower.js"></script>
</head>
<style>
    body {
        scrollbar-color: white;
        scrollbar-width: none;
        -ms-overflow-style: none;
        overflow-x: hidden;
    }
    .header-wrap {
        top: -6.5px;
        right: 8px;
    }
</style>
<body>
<div th:include="~{common/header}"></div> <!-- 공통 헤더 포함 -->

<div th:include="~{community/menuBar}"></div>

<div th:include="~{community/getReviewList}"></div>

</body>
</html>
