<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
구매가 완료되었습니다.
<!--<div>-->
<!--    <strong>보유 포인트</strong><br/><br/>-->
<!--    <span class="value" th:text="${currPoint}+P">보유 포인트</span>-->
<!--</div>-->
<!--<form method="post" action="/addPurchaseCart" enctype="multipart/form-data">-->
<!--    &lt;!&ndash; 파일 업로드 &ndash;&gt;-->
<!--    <input type="file" name="file">-->

<!--    &lt;!&ndash; 장바구니 상품 리스트 &ndash;&gt;-->
<!--    <div th:each="purchase, iterStat : ${purchaseList}">-->
<!--        <div>-->
<!--            <input type="text" th:field="*{purchase[__${iterStat.index}__].prodNo}"-->
<!--                   th:value="${purchase.prodNo}" placeholder="상품 번호">-->
<!--            <input type="number" th:field="*{purchase[__${iterStat.index}__].cntProd}"-->
<!--                   th:value="${purchase.cntProd}" placeholder="수량">-->
<!--        </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; 결제 포인트 &ndash;&gt;-->
<!--    <input type="number" name="tranPoint" th:value="${tranPoint}" placeholder="결제 포인트">-->

<!--    &lt;!&ndash; 제출 버튼 &ndash;&gt;-->
<!--    <button type="submit">구매하기</button>-->
<!--</form>-->




</body>
</html>