<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlaceHere</title>
    <link rel="stylesheet" href="/css/templates/style.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link href="/css/templates/mypage.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/templates/header.css">
    <link rel="stylesheet" href="/css/templates/collection_detail.css">
    <link rel="stylesheet" href="/css/templates/regist_hp.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <div id="ch-plugin" class="notranslate">
        <div id="ch-plugin-core"></div>
        <div id="ch-plugin-script" style="display:none" class="ch-messenger-hidden">
            <iframe id="ch-plugin-script-iframe"
                    style="position:relative!important;height:100%!important;width:100%!important;border:none!important;"></iframe>
        </div>
    </div>
    <link th:insert="~{common/import :: importFragment}">

    <script src="/javascript/pointShop/addPurchase.js"></script>

    <link rel="stylesheet" href="/css/pointShop/addPurchase.css">

</head>
<body>
<br/><br/>

<div id="root">

    <div class="css-833hqy ecbxmj4" style="padding-left: 10%;margin-top: 20px;position: sticky">
        <div class="side" style="margin-top: 80px;">
            <div class="css-1v4whg ecbxmj3">상품 구매</div>
            <div th:replace="~{pointShop/getPointShopAside :: getPointShopAside}"></div>
        </div>
    </div>

    <div class="wrapper" id="wrapperDiv" style="max-width: 50%;margin: 0 auto;width: auto;position: relative;background: #fff;min-height: 100%;">
        <!--<div class="header-line"></div>-->
        <main id="main">
            <section class="restaurant-detail-header mb-40" style="position: relative; z-index: 0;">
                <div class="video-swiper-wrapper">
                    <div class="swiper swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
                        <div class="img-container" style="position: relative;">
                            <div class="img swiper-lazy swiper-lazy-loaded" style="display: flex; justify-content: center; align-items: center; height: 50vh;">
                                <img class="guide-img" style="width: 50%; max-height:500px; display: block;"
                                     th:src="${url +'point/product/'+ product.prodImg1}">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section">
                <div class="container gutter-sm">
                    <div class="restaurant-summary mb-20" style="margin-left: 0;">
                            <table>
                                <tbody>
                                <tr>
                                    <th style="width: 30%;">회원 아이디</th>
                                    <td th:text="${session.user.username}" style="width: 80%;" data-phone></td>
                                </tr>
                            <tr>
                                <th style="width: 30%;">상품명</th>
                                <td th:text="${product.prodName}" style="width: 80%;"></td>
                            </tr>
                                <tr>
                                    <th style="width: 30%;">판매 가능 상태</th>
                                    <td th:class="${product.prodStatus == true ? 'available' : 'unavailable'}">
                                        <span th:text="${product.prodStatus == true ? '구매 가능' : '판매 중지'}"></span></td>
                                </tr>
<!--                                <tr>-->
<!--                                    <th style="width: 30%;">상품 가격</th>-->
<!--                                    <td th:text="${product.prodPrice}+P" style="width: 80%;"></td>-->
<!--                                </tr>-->
                            <tr>
                                <th style="width: 30%;">거래 포인트</th>
                                <td th:text="${#numbers.formatInteger(tranPoint, 3, 'COMMA')+ 'P'}" style="width: 80%; color: #FB5555; font-weight: bold;"></td>
                            </tr>
                            <tr>
                                <th style="width: 30%;">보유 포인트</th>
                                <td th:text="${#numbers.formatInteger(currPoint, 3, 'COMMA')+ 'P'}" style="width: 80%; color: #4880FF;"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <h3 style="text-align: center; font-size: 30px;">
                해당 상품은 <span style="color: red;">&nbsp;환불</span>이 불가능한 상품입니다.
            </h3>
            <h3 style="text-align: center; font-size: 30px;">구매하시겠습니까?</h3>



            <form>
        <input type="hidden" name="username" th:value="${username}">
        <input type="hidden" name="cntProd" th:value="${product.cntProd}">
        <input type="hidden" name="prodNo" th:value="${product.prodNo}">
        <input type="hidden" name="prodStatus" th:value="${product.prodStatus}">
        <input type="hidden" name="tranPoint" th:value="${tranPoint}">
        <input type="hidden" name="currPoint" th:value="${currPoint}">
        <input type="file" name="file" id="file" style="display:none;">

        <div class="button-container">
            <div class="css-137ca2h e1utgeno0">
                <button class="css-18m884r e4nu7ef3" id="buy" name="buyBtn" type="button" width="240"
                        height="56" radius="3" style="margin-bottom: auto; margin-top: 12px; width: 100px; text-align: center;background-color: #4880FF;">
                    <span class="css-ymwvow e4nu7ef1 submit-button-span">구&nbsp;매</span>
                </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="css-18m884r e4nu7ef3" name="confirmBtn" type="button" width="240"
                        height="56" radius="3" style="margin-bottom: auto; margin-top: 12px; width: 100px; text-align: center;background-color: #646D7A;">
                    <span class="css-ymwvow e4nu7ef1 submit-button-span">취소</span>
                </button>
            </div>
<!--            <button type="button" class="btn-primary buy">구매</button>-->
<!--            <button type="button" class="btn-primary confirm">취소</button>-->
        </div>
    </form>

        </main>
    </div>
    </div><br/><br/>
</body>
</html>