<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PlaceHere</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="/css/templates/header.css">
    <link rel="stylesheet" href="/css/templates/collection_detail.css">
    <link rel="stylesheet" href="/css/templates/regist_hp.css">
    <script type="text/javascript">
        $(function() {

            $("button.btn-primary.confirm").on("click", function () {
                var userName = $(this).data("user-name");
                self.location = "/purchase/listPurchase?userName="+userName;
            });
        });
    </script>
</head>
<body>
<br/><br/>
<div th:insert="~{common/header}"></div>
<div class="product-container">
    <h1>구매한 상품 상세 정보</h1>

    <div class="product-info">
        <div>
            <strong>상품 대표 이미지 : </strong>
            <span class="value" th:text="${purchase.purchaseProd.prodImg1}">상품 대표 이미지</span>
        </div>
        <br/><br/>
        <div>
            <strong>상품명 : </strong>
            <span class="value" th:text="${purchase.purchaseProd.prodName}">상품명</span>
        </div>
        <br/><br/>
        <div>
            <strong>상품 바코드 : </strong>
            <span class="value" th:text="${purchase.barcodeName}">상품 바코드</span>
            <img th:src="@{src/main/resources/static/file/pointShop/${purchase.barcodeName}}" alt="Barcode Image" />
        </div>
        <br/><br/>
        <div>
            <strong>상품 바코드 번호 : </strong>
            <span class="value" th:text="${purchase.barcodeNo}">상품 바코드 번호</span>
        </div>
        <br/><br/>
        <div>
            <strong>상품 설명 : </strong>
            <span class="value" th:text="${purchase.purchaseProd.prodDetail}">상품 설명</span>
        </div>
        <br/><br/>
        <div>
            <strong>상품 가격 : </strong>
            <span class="value" th:text="${purchase.purchaseProd.prodPrice}">상품 가격</span>
        </div>
        <br/><br/>
        <div>
            <strong>구매일 : </strong>
            <span class="value" th:text="${purchase.pointDt}">구매일</span>
        </div>
        <br/><br/>
        <div>
            <strong>상품 상세 이미지 : </strong>
            <span class="value" th:text="${purchase.purchaseProd.prodImg2}">상품 상세 이미지1</span>
            <span class="value" th:text="${purchase.purchaseProd.prodImg3}">상품 상세 이미지2</span>
        </div>
        <br/><br/>
        <div>
            <strong>상품 갯수 : </strong>
            <span class="value" th:text="${purchase.purchaseProd.cntProd}">상품 갯수</span>
        </div>
        <br/><br/>
        <div>
            <strong>거래 포인트 : </strong>
            <span class="value" th:text="${purchase.tranPoint}">거래 포인트</span>
        </div>
        <br/><br/>
    </div>

    <div class="button-container">
        <button class="btn-primary confirm" th:data-user-name="${userName}">확인</button>
    </div>

</div>
</body>
</html>