<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>PlaceHere</title>

<link th:insert="~{common/import :: importFragment}">

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-pzjw8f+ua7Kw1TIq0RtvO+fi6QxfhCpCz2vhK4U6Xvn8PBxJg4mtLOefW4Llmhks" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>


<link rel="stylesheet" href="/css/templates/collection_detail.css">
<link href="/css/templates/mypage.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<!--    <link href="/css/templates/collection_detail.css" rel="stylesheet">-->
<link href="/css/templates/style.css" rel="stylesheet">
<!--    <script src="/javascript/templates/script.js" type="text/javascript"></script>-->
<link rel="stylesheet" href="/css/templates/regist_hp.css">
<script src="/javascript/pointShop/listPointHistory.js"></script>

<link rel="stylesheet" href="/css/pointShop/listPointHistory.css">


</head>
<body>
<div class="container">
    <div class="css-luwwab eug5r8l1">
        <div class="css-833hqy ecbxmj4">
            <div class="side" style="margin-top:36px;position:fixed; margin-left: 138px;"><br/><br/>
                <div class="css-1v4whg ecbxmj3" style="font-weight: 600; font-size: 28px; line-height: 35px; color: rgb(51, 51, 51); height: 75px;
    padding: 5px 0px 35px 1px;">포인트 내역</div>
                <div th:replace="~{pointShop/getPointShopAside :: getPointShopAside}"></div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px; z-index:0; width: 800px; margin-right: 30%; margin-left: auto;">
            <div class="col-md-3 text-left" style="margin-top: 90px; position:fixed; margin-left:500px; margin-right:120px; text-align: center;">
                <form name="detailForm" th:action="@{/purchase/listPointHistory}" method="post">
                    <input type="hidden" name="page" value="1">
<!--                    <div class="form-group">-->
<!--                        <div id="searchSorting">-->
<!--                            <label for="depType" class="depType-label">-->
<!--                                <select name="depType" id="depType" onchange="updateSearchKeyword();">-->
<!--                                    <option>선택하세요.</option>-->
<!--                                    <option value="">전체</option>-->
<!--                                    <option value="적립">적립된 포인트만</option>-->
<!--                                    <option value="차감">차감된 포인트만</option>-->
<!--                                </select><br/>-->
<!--                            </label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <br/><strong>검색어</strong><br/><br/>-->
<!--                        <input type="text" class="form-control" id="searchKeyword" name="searchKeyword" placeholder="상품명/카테고리를 입력하세요"-->
<!--                               th:value="${search.searchKeyword != null ? search.searchKeyword : ''}">&nbsp;<br/>-->
<!--                        <br/>-->
<!--                    </div>-->
                </form>
            </div>
            <h3 style="font-size: 30px; font-weight: bold;">💰&nbsp;포인트 내역</h3><br/><br/><br/><br/>
            <div class="col-md-9 text-right">
                <div class="current-point">
                    <h3 style="font-weight: bold; font-size:20px;"><span style="color:#4880FF;" th:text="${search.username}"></span>
                        님의 포인트 <br/><br/><span style="font-size:30px;" th:text="${#numbers.formatInteger(currPoint, 3, 'COMMA')+ 'P'}"></span></h3>
                </div><br/><br/>
                <hr class="separator"><br/><br/><br/><br/>
                <table>
                    <div>
                        <div class="product-list">
                            <div th:each="point : ${pointHistoryList}" class="product-card">
                                <div class="product-info">
                                    <div class="transaction-point">
                                        <p th:text="${point.depType == '상품 구매' ? '-' + #numbers.formatInteger(point.tranPoint, 3, 'COMMA')+ 'P' : '+' + #numbers.formatInteger(point.tranPoint, 3, 'COMMA')+ 'P'}"
                                           th:class="${point.depType == '상품 구매' ? 'red' : 'blue'}">거래 포인트</p>
                                    </div>
                                    <div class="transaction-type">
                                        <p th:text="${point.depType}">거래 유형</p>
                                    </div>
                                    <div class="transaction-date">
                                        <p th:text="${point.pointDt}">거래일</p>
                                    </div>
                                    <div class="current-point">
                                        <p th:text="${#numbers.formatInteger(point.currPoint, 3, 'COMMA')+ 'P'}">보유 포인트</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th>거래 포인트</th>-->
<!--                        <th>거래 유형</th>-->
<!--                        <th>거래일</th>-->
<!--                        <th>보유 포인트</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr th:each="point : ${pointHistoryList}">-->
<!--                        <td th:text="${point.depType == '상품 구매' ? '-' + point.tranPoint + 'P' : '+' + point.tranPoint + 'P'}"-->
<!--                            th:class="${point.depType == '상품 구매' ? 'red' : 'blue'}">거래 포인트</td>-->
<!--                        <td th:text="${point.depType}">거래 유형</td>-->
<!--                        <td th:text="${point.pointDt}">거래일</td>-->
<!--                        <td th:text="${point.currPoint}+P">보유 포인트</td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
                </table>
            </div>
        </div>

    </div>
</div>

<th:block th:insert="~{common/paging :: pagingFragment}"></th:block>
</body>
</html>
