<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>PlaceHere</title>

<link th:insert="~{common/import :: importFragment}">

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-pzjw8f+ua7Kw1TIq0RtvO+fi6QxfhCpCz2vhK4U6Xvn8PBxJg4mtLOefW4Llmhks" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>


<link rel="stylesheet" href="/css/templates/collection_detail.css">
<link rel="stylesheet" href="/css/templates/regist_hp.css">
<link href="/css/templates/mypage.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<!--    <link href="/css/templates/collection_detail.css" rel="stylesheet">-->
<link href="/css/templates/style.css" rel="stylesheet">
<!--    <script src="/javascript/templates/script.js" type="text/javascript"></script>-->
    <script src="/javascript/pointShop/listCart.js"></script>

    <link rel="stylesheet" href="/css/pointShop/listCart.css">

</head>
<body>
    <div class="container">
        <div class="css-luwwab eug5r8l1">
            <div class="css-833hqy ecbxmj4">
                <div class="side" style="margin-top:50px;position:fixed; margin-left: 138px;">
                    <div class="css-1v4whg ecbxmj3" style="font-weight: 600; font-size: 28px; line-height: 35px; color: rgb(51, 51, 51); height: 75px;
        padding: 5px 0px 35px 1px;">&nbsp;장바구니</div>
                    <div th:replace="~{pointShop/getPointShopAside :: getPointShopAside}"></div>
                </div>
            </div>
            <input type="file" name="file" style="display:none;">
            <div class="row" style="z-index:0; width: 800px; margin-top:65px;margin-right: 30%; margin-left: auto;">
            <div class="col-md-3 text-left" style="margin-top: 100px; position:fixed; margin-left:28%; margin-right:20px;">
                <div class="form-inline" th:if="${tranPoint != 0}">
                    <div class="form-group">
                        <div>
                            <div class="product-container" style="text-align: center; font-size: 20px; font-weight: bold;">
                                <h3>해당 상품은 <span style="color: red;">&nbsp;환불</span>이 불가능한 </h3>
                                <h3>상품입니다.</h3>
                                <h3>구매하시겠습니까?</h3>
                            </div>
                        </div><br/><br/>
                        <div id="totalPriceSection" style="font-size: 20px; font-weight: bold;">
                            <h3>결제 포인트 : <span  style="color: #FB5555;" th:text="${#numbers.formatInteger(tranPoint, 3, 'COMMA')+ 'P'}">0</span></h3>
                            <h3>보유 포인트 : <span style="color: #4880FF;" th:text="${#numbers.formatInteger(currPoint, 3, 'COMMA')+ 'P'}">0</span></h3>
                        </div>
                    </div>

                    <div class="form-group">
                        <div th:if="${tranPoint != 0}">
                            <form>
                                <input type="hidden" name="tranPoint" th:value="${tranPoint}">
                                <input type="hidden" name="cartList" th:value="${cartList}">
                                <input type="hidden" name="purchase" th:value="${purchase}">
                                <input type="hidden" name="currPoint" th:value="${currPoint}">
                                <input type="file" name="file" id="file" style="display:none;">
                                <input type="hidden" th:value="${username}" name="username">
                                <div class="button-container">
                                    <div class="css-137ca2h e1utgeno0">
                                        <button class="css-18m884r e4nu7ef3" id="buy" name="buyBtn" type="button" width="240"
                                                height="56" radius="3" style="margin-bottom: auto; margin-top: 12px; width: 100px; text-align: center;background-color: #4880FF;">
                                            <span class="css-ymwvow e4nu7ef1 submit-button-span">구매하기</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>


                <h3 style="font-size: 30px; font-weight: bold;">🛒&nbsp;장바구니</h3>
                <div class="col-md-9 text-right">


                    <div th:if="${tranPoint != 0}">
                        <div class="button-container">
                            <button class="btn-clear-cart" style="margin-left:730px; margin-bottom: 20px;" th:data-user-name="${username}">전체 삭제</button>
                        </div>
                    </div>
                    <table>
                        <div th:if="${tranPoint != 0}">
                            <div class="product-list">
                                <div th:each="purchase : ${cartList}" class="product-card" th:value="${purchase.purchaseProd.prodStatus}" th:data-prod-no="${purchase.purchaseProd.prodNo}">
                                    <div class="product-img" style="width:25%; max-height:500px; display: block;">
                                        <img th:src="${url +'point/product/'+ purchase.purchaseProd.prodImg1}" alt="상품 대표 이미지">
                                    </div>
                                    <div class="product-info">
                                        <p th:text="${purchase.purchaseProd.prodCateName}">상품 카테고리</p>
                                        <h3 th:text="${purchase.purchaseProd.prodName}">상품명</h3>
                                        <p style="color: #FB5555; font-weight: bold;" th:text="${#numbers.formatInteger(purchase.purchaseProd.prodPrice, 3, 'COMMA')+ 'P'}">상품 가격</p>
                                        <p th:class="${purchase.purchaseProd.prodStatus == true ? 'available' : 'unavailable'}"
                                           th:style="${purchase.purchaseProd.prodStatus == true ? 'color: green; text-align: left;' : 'color: red; text-align: left;'}">
                                            <span th:text="${purchase.purchaseProd.prodStatus == true ? '구매 가능' : '판매 중지'}"></span>
                                        </p>
                                    </div>
                                    <div class="button-container">
                                        <input type="hidden" name="wishCartNo" th:value="${purchase.wishCartNo}">
                                        <input type="hidden" name="purchases[__${purchaseStat.index}__].wishCartNo" th:value="${purchase.wishCartNo}">
                                        <input type="hidden" name="purchases[__${purchaseStat.index}__].prodNo" th:value="${purchase.purchaseProd.prodNo}">
                                        <input type="hidden" name="purchases[__${purchaseStat.index}__].cntProd" th:value="${purchase.purchaseProd.cntProd}">
                                        <!-- X 버튼을 위한 스타일 추가 -->
                                        <button class="btn-remove-cart" style="margin-left:75px;" th:data-user-name="${username}" th:data-prod-no="${purchase.prodNo}">x</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </table>


                    <div class="desc-block" th:if="${tranPoint != 0}">
                        <div class="footer" >
                            <p>상품 구매 시 유의사항</p>
                            <p>▪ 해당 상품들은 교환권으로, 구매 이후 환불이 불가능합니다.</p>
                            <p>▪ PlaceHere 회원 탈퇴시 구매한 상품은 모두 삭제됩니다.</p>
                        </div>
                    </div><br/><br/>
                </div>
            </div>
        </div>
    </div>

        <input type="hidden" id="tranPoint" name="purchase.tranPoint" value="0">
        <!--    <div th:if="${tranPoint != 0}">-->
        <!--        <div class="product-container" style="text-align: center; font-size: 30px; font-weight: bold;">-->
        <!--            <h3>해당 상품은 환불이 불가능한 상품입니다.</h3>-->
        <!--            <h3>구매하시겠습니까?</h3>-->
        <!--        </div>-->
        <!--    </div>-->
        <div th:if="${tranPoint == 0}">
            <div class="product-container" style="text-align: center; font-size: 30px; font-weight: bold;">
                <h3>장바구니가 비어있습니다.</h3>
            </div>
        </div>

        <form>
            <div th:if="${tranPoint == 0}">
                <div class="button-container">
                    <div class="css-137ca2h e1utgeno0">
                        <button class="css-18m884r e4nu7ef3" id="confirm" name="confirmBtn" type="button" width="240"
                                height="56" radius="3" style="margin-bottom: auto; margin-top: 12px; width: 100px; text-align: center;background-color: #4880FF;">
                            <span class="css-ymwvow e4nu7ef1 submit-button-span">둘러보기</span>
                        </button>
                    </div>
                </div><br/><br/>
            </div>
        </form>
    <input type="file" name="file" style="display:none;">
    <form>
        <input type="hidden" name="tranPoint" th:value="${tranPoint}">
        <input type="hidden" name="cartList" th:value="${cartList}">
        <input type="hidden" name="purchase" th:value="${purchase}">
        <input type="hidden" name="currPoint" th:value="${currPoint}">
        <input type="file" name="file" style="display:none;">
        <input type="hidden" th:value="${username}" name="username">
    </form>
</body>
</html>
